@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-xy-grid-classes(
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true, // try and get rid of these
  $offset: true, // try and get rid of these
  $vertical-grid: true, // try and get rid of these
  $frame-grid: true // try and get rid of these
);
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-accordion; // CRITICAL CSSS
@include foundation-accordion-menu; // CRITICAL CSSS
@include foundation-dropdown; // CRITICAL CSSS
@include foundation-dropdown-menu; // CRITICAL CSSS
@include foundation-media-object; // CRITICAL CSSS
@include foundation-off-canvas; // CRITICAL CSSS
// Global
@import "global/mixins";
@import "global/spacing";
// Modules
@import "modules/navigation"; // CRITICAL CSSS
@import "modules/catalogHeader";
@import "global/fonts"; // CRITICAL CSSS
@import "global/typography"; // CRITICAL CSSS