@charset 'utf-8';

// CRITICAL CSS
@import 'settings';
@import 'foundation';
// CRITICAL CSS ^^
@import 'motion-ui';

// CRITICAL CSSS
@include foundation-global-styles;
// CRITICAL CSSS
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-accordion;
// CRITICAL CSSS
@include foundation-accordion-menu;
// CRITICAL CSSS
// @include foundation-badge;
@include foundation-breadcrumbs;
// @include foundation-button-group; 
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
@include foundation-dropdown;
// CRITICAL CSSS
@include foundation-dropdown-menu;
// CRITICAL CSSS
// @include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
// CRITICAL CSSS
@include foundation-off-canvas;
// CRITICAL CSSS
// @include foundation-orbit;
@include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
// @include foundation-title-bar;
@include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-flex-classes;
@include motion-ui-transitions;
@include motion-ui-animations;



/*
// CRITICAL CSSS
@include foundation-global-styles;
// @include foundation-xy-grid-classes;
// @include foundation-typography;
// @include foundation-button;
// @include foundation-forms;
// @include foundation-accordion;
@include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-flex-classes;
// @include motion-ui-transitions;
// @include motion-ui-animations;
*/

// Global
// nav (not needed)
@import "global/accessibility";
// nav (not needed)
@import "global/colors";
// nav (not needed)
@import "global/wpAdmin";
// nav (not needed)
@import "global/wpOverrides";
// (not needed)
// @import "global/gutenberg"

// CRITICAL CSSS
@import "global/fonts";
// CRITICAL CSSS

// nav (not needed)
@import "global/icons";
// nav (not needed)
@import "global/animations";
// nav (not needed)
@import "global/spacing";
@import "global/mobile";

// Modules
// CRITICAL CSSS
@import "modules/navigation";
// CRITICAL CSSS

// ALL below not needed for critical (nav) css
@import "modules/content";
@import "modules/footer";
@import "modules/editorStyle";
// @import "modules/orbitSlider";
@import "modules/heroVideo";
// @import "modules/circleSlider";
@import "modules/toTop";

// CPT
@import "cpt/archiveNews";
@import "cpt/archivePress";
@import "cpt/singleCatalog";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/featuredImage";
@import "components/links";
@import "components/forms";
@import "components/widgets";
@import "components/titles";
@import "components/media";
@import "components/modals";
@import "components/accordion";
@import "components/plugins";
@import "components/flickity";
@import "components/pagination";

// // Templates
@import "templates/front";
@import "templates/featuredPage";
@import "templates/search";
@import "templates/about";
@import "templates/frontGrid";
@import "templates/products";
@import "templates/team";
@import "templates/wonder";
// @import "templates/frontPartners";
@import "templates/frontCarousel";
@import "templates/mainTalent";


// PRODUCTION
// @import "global/production";
// @import "global/fonts";
