.bounce {
  animation: bounce 1s .5s;
  transform: scale(1);
}

@keyframes bounce {
  0% { transform: scale(1.1); opacity: 1 }
  50% { transform: scale(1.6); opacity: .7; }
  60% { transform: scale(0.6); opacity: 1 }
  80% { transform: scale(0.95) }
  100% { transform: scale(0.85) }
}

// https://codepen.io/davidvdbor/pen/KazXow
@mixin transform($animation) {
  animation: 1s ease-out 0s 1 $animation;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInFromBottom {
  @include transform(slideInFromBottom);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(16%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.fadeIn {
    @include transform(fadeIn);
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  // 25% {
  //   transform: translateX(-25vw);
  // }
  //   50% {
  //   transform: translateX(-50vw);
  // }
  // 75% {
  //   transform: translateX(-75vw);
  // }
  100% {
    transform: translateX(-100vw);
  }
}

.slideLeft {
    @include transform(slideLeft);
}

.splash {
    // background-image: url("http://localhost/nacelle/nacelle/wp-content/uploads/2019/07/Webp.net-gifmaker-1.gif");
    position: absolute;
    z-index: 9999999999999;
    position: absolute;
    display: flex;
    align-items: center;
    background: black;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;

    img {
      width: 100%;
      min-width: 100%;
      object-fit: cover;
  }
}


.splash.slideLeft {
    left: -100vw;
    transition-property: left;
    transition-duration: 2s;
    transition-delay: 7s;
    transition-timing-function: ease-in;

  &.hidden {
    display: none;
  }

}
