.bounce {
  animation: bounce 1s .5s;
  transform: scale(1);
}

@keyframes bounce {
  0% { transform: scale(1.1); opacity: 1 }
  50% { transform: scale(1.6); opacity: .7; }
  60% { transform: scale(0.6); opacity: 1 }
  80% { transform: scale(0.95) }
  100% { transform: scale(0.85) }
}

// https://codepen.io/davidvdbor/pen/KazXow
@mixin transform($animation) {
  animation: 1s ease-out 0s 1 $animation;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInFromBottom {
  @include transform(slideInFromBottom);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transition: translateY(16%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInQuick {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
    @include transform(fadeIn);
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
    transition: transform 2s linear 1s
  }

  100% {
    transform: translateX(-100vw);
  }
}

.slideLeft {
    animation-name: slideLeft;
}

.splash {
    z-index: 9999999999999;
    position: fixed;
    transform: translateX(0);
    transition: transform 1s ease-in-out;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    img {
    width: 100vw;
    min-width: 100vw;
    object-fit: cover;
    height: auto;
  }
}

.splash.slideLeft {
    &.hidden {
      display: none;
    }

}

.splash.slideLeft {
    transform: translateX(-100%);
}
