$white: white;
$true-black: #000;
$thumbnail-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

// https://www.heropatterns.com/

:focus {
  outline: none;
}

.sorting button {
    color: white;
    border-bottom: 1px solid $white;
    padding: 0 0.5rem 0.15rem 0.5rem;
    border-right: 1px solid $white;
    border-left: 1px solid $white;
    box-shadow: $thumbnail-shadow;
    border-radius: 0;
    &:hover {
        box-shadow: none;
        border-bottom: 2px solid $white;
        border-right: 2px solid $white;
        border-left: 2px solid $white;
    }
}

// vertical line
.center-vertical-line {
    @include breakpoint(medium up) {
        box-shadow: 3px 0px 2px -2px rgba(0, 0, 0, 0.5);
    }
}
