@font-face {
	font-family: "MontserratRegular";
	font-display: swap;
	src: url("../../../fonts/MontserratRegular.eot");
	src: url("../../../fonts/MontserratRegular.eot") format("embedded-opentype"),
		url("../../../fonts/MontserratRegular.woff2") format("woff2"),
		url("../../../fonts/MontserratRegular.woff") format("woff"),
		url("../../../fonts/MontserratRegular.ttf") format("truetype"),
		url("../../../fonts/MontserratRegular.svg#MontserratRegular")
			format("svg");
}

@font-face {
	font-family: "MontserratItalic";
	font-display: swap;
	src: url("../../../fonts/MontserratItalic.eot");
	src: url("../../../fonts/MontserratItalic.eot") format("embedded-opentype"),
		url("../../../fonts/MontserratItalic.woff2") format("woff2"),
		url("../../../fonts/MontserratItalic.woff") format("woff"),
		url("../../../fonts/MontserratItalic.ttf") format("truetype"),
		url("../../../fonts/MontserratItalic.svg#MontserratItalic")
			format("svg");
}

@font-face {
	font-family: "MontserratBold";
	font-display: swap;
	src: url("../../../fonts/MontserratBold.eot");
	src: url("../../../fonts/MontserratBold.eot") format("embedded-opentype"),
		url("../../../fonts/MontserratBold.woff2") format("woff2"),
		url("../../../fonts/MontserratBold.woff") format("woff"),
		url("../../../fonts/MontserratBold.ttf") format("truetype"),
		url("../../../fonts/MontserratBold.svg#MontserratBold") format("svg");
}

@font-face {
	font-family: "MontserratBoldItalic";
	font-display: swap;
	src: url("../../../fonts/MontserratBoldItalic.eot");
	src: url("../../../fonts/MontserratBoldItalic.eot")
			format("embedded-opentype"),
		url("../../../fonts/MontserratBoldItalic.woff2") format("woff2"),
		url("../../../fonts/MontserratBoldItalic.woff") format("woff"),
		url("../../../fonts/MontserratBoldItalic.ttf") format("truetype"),
		url("../../../fonts/MontserratBoldItalic.svg#MontserratBoldItalic")
			format("svg");
}

h1 {
	text-transform: uppercase;
}

p,
h2,
h3,
h4,
h5,
h6 {
	@include breakpoint(small only) {
		// font-size: 120%;
	}
}
// titles
h4,
.h4 {
	font-weight: 400;
}
h2 {
	text-transform: uppercase;
}
.sm-title {
	font-size: $small-font-size;
}
strong,
b {
	font-family: $strong-font-family;
}
em,
i {
	font-family: $italic-font-family;
}
em strong,
em b,
i strong,
i b {
	font-family: $strong-italic-font-family;
}
.p {
	font-size: 120%;
}
.lead {
	color: var(--primary-color);
}
time {
	color: var(--secondary-color);
}

// https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
	border-left: 5px solid $primary-color;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	font-size: x-large;
}
blockquote:before {
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
	font-style: italic;
}
cite {
	display: block;
	font-size: 0.75rem;
	color: #757575;
}
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(
					#{$min-font-size} + #{strip-unit(
							$max-font-size - $min-font-size
						)} *
						(
							(100vw - #{$min-vw}) / #{strip-unit(
									$max-vw - $min-vw
								)}
						)
				);
			}

			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

$min_width: 320px;
$max_width: 1920px;
$min_font: 13px;
$max_font: 16px;

html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

// headers

.entry-title {
	&.sm {
		font-size: 1em;

		@include breakpoint(medium up) {
			font-size: 2em;
		}
	}
}

.section-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 10px 0;

	@include breakpoint(medium) {
		justify-content: flex-start;
	}
}

.category-intro {
	border-bottom: 3px solid $primary-color;
}