@font-face {
    font-family: 'MontserratRegular';
    src: url('fonts/MontserratRegular.eot');
    src: url('fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('fonts/MontserratRegular.woff2') format('woff2'),
         url('fonts/MontserratRegular.woff') format('woff'),
         url('fonts/MontserratRegular.ttf') format('truetype'),
         url('fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}


@font-face {
    font-family: 'MontserratItalic';
    src: url('fonts/MontserratItalic.eot');
    src: url('fonts/MontserratItalic.eot') format('embedded-opentype'),
         url('fonts/MontserratItalic.woff2') format('woff2'),
         url('fonts/MontserratItalic.woff') format('woff'),
         url('fonts/MontserratItalic.ttf') format('truetype'),
         url('fonts/MontserratItalic.svg#MontserratItalic') format('svg');
}


@font-face {
    font-family: 'MontserratBold';
    src: url('fonts/MontserratBold.eot');
    src: url('fonts/MontserratBold.eot') format('embedded-opentype'),
         url('fonts/MontserratBold.woff2') format('woff2'),
         url('fonts/MontserratBold.woff') format('woff'),
         url('fonts/MontserratBold.ttf') format('truetype'),
         url('fonts/MontserratBold.svg#MontserratBold') format('svg');
}

@font-face {
    font-family: 'MontserratBoldItalic';
    src: url('fonts/MontserratBoldItalic.eot');
    src: url('fonts/MontserratBoldItalic.eot') format('embedded-opentype'),
         url('fonts/MontserratBoldItalic.woff2') format('woff2'),
         url('fonts/MontserratBoldItalic.woff') format('woff'),
         url('fonts/MontserratBoldItalic.ttf') format('truetype'),
         url('fonts/MontserratBoldItalic.svg#MontserratBoldItalic') format('svg');
}
