.catalog-title {
    color: $white;
    text-transform: uppercase;
    .fas {
        margin: 0 0.3em;
        color: $success-color;
    }
}

// catalog pagination
.cell.pagination .fas,
.cell.pagination .fas {
    font-size: 2.5em;
    line-height: 0.4;
}

// desktop pagination
.no-mobile .pagination {
    display: flex;
    flex-direction: column-reverse;
}


// social icons main part of page
.entry-content {
  .grid-x.social {
    margin-bottom: 1rem;
  }
  .social a.nav-link {
      color: $success-color;
      font-size: 23px;
      padding: 1rem .25rem;
    @include breakpoint(medium) {
        font-size: 30px;
      }
  }
}

// social icons footer
footer .social {

  a {
    @include breakpoint(medium) {
      width: 1rem;
    }
  }
  svg {
    width: 1rem;
    height: 1rem;
    height: auto;
  }
}
