// mixins
/* TRUNKATE mixin for multiline */
// http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
	overflow: hidden;
	position: relative;
	line-height: $lineHeight;
	max-height: $lineHeight * $lineCount;
	text-align: justify;
	margin-right: -0.2em;
	padding-right: 1em;
	&:before {
		content: "...";
		position: absolute;
		right: 3px;
		bottom: 2px;
	}
	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	right: 0;
	// 	width: 1em;
	// 	height: 1em;
	// 	margin-top: 0.2em;
	// 	background: $bgColor;
	// }
}
@mixin nothover {
    transition: all .2s ease-in-out;
    box-shadow: 3px 2px 2px #0a0a0a6b;
}

@mixin shadow {
    box-shadow: 0 6px 11px 0 rgba(0,0,0,0.50);
}

@mixin shadow01 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 16px 38px -12px rgba(0, 0, 0, 0.56);
}

@mixin cardOneShadow {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14);
}

@mixin hover {
    box-shadow: 1px 1px 11px 0px #0a0a0a5a;
    transform: scale(1.01);
    transition: box-shadow .2s ease-in-out, transform .2s ease-in-out 0s; 
}
@mixin hover-out {
    box-shadow: none;
    transform: scale(1);
    transition: box-shadow .2s ease-in-out, transform .2s ease-in-out .1s; 
}

@mixin caratAnimation {
  transform: scaleY(-1);
  transition: transform .4s linear;
}

@mixin primary-button {
	background: #4591E5;
	color: white;
	padding: 1em;
	text-transform: uppercase;
	cursor: pointer;
    font-weight: 600;
}

// hover without Shadow
@mixin transition {
    transition: all .2s ease-in-out;
}

@mixin hoverNS {
    transform: scale(1.06);
}
@mixin nothoverNS {
    transition: all .2s ease-in-out;
}
// @mixin circle {
//   position: relative;
//   display: inline-block;
//   width: 100%;
//   height: 0;
//   padding: 50% 0;
//   border-radius: 50%;
// }

// .circle {
//     @include circle;
// }

