/* Initial loading styles, because we moved the actual
 * style.instances-ho-po-no-au-ga-as.css file to the footer.
 */

div.ajaxsearchpro.asp_main_container {
	transition: width 130ms linear;
	-webkit-transition: width 130ms linear;
}

asp_w_container,
div.asp_w.ajaxsearchpro,
div.asp_w.asp_r,
div.asp_w.asp_s,
div.asp_w.asp_sb,
div.asp_w.asp_sb * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	text-transform: none;
	text-shadow: none;
	box-shadow: none;
	text-decoration: none;
	text-align: left;
	text-indent: initial;
	letter-spacing: normal;
	font-display: swap;
}

div.asp_w_container div[id*=__original__] {
	display: none !important;
}

div.asp_w.ajaxsearchpro {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

div.asp_w.asp_r,
div.asp_w.asp_r * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.asp_clear {
	clear: both !important;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
	height: 0 !important;
}

.hiddend {
	display: none !important;
}

div.asp_w.ajaxsearchpro {
	width: 100%;
	height: auto;
	border-radius: 0;
	background: rgba(255, 255, 255, 0);
	overflow: hidden;
}

#asp_absolute_overlay {
	width: 0;
	height: 0;
	position: fixed;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	top: 0;
	left: 0;
	display: block;
	z-index: 0;
	opacity: 0;
	transition: opacity 200ms linear;
	-webkit-transition: opacity 200ms linear;
}

div.asp_m.ajaxsearchpro .probox {
	width: auto;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
	border: 1px solid #fff;
	box-shadow: 1px 0 3px #ccc inset;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	direction: ltr;
	align-items: stretch;
	isolation: isolate;
}

div.asp_m.ajaxsearchpro .probox .proinput {
	width: 1px;
	height: 100%;
	margin: 0 0 0 10px;
	padding: 0 5px;
	float: left;
	box-shadow: none;
	position: relative;
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	z-index: 0;
}

div.asp_m.ajaxsearchpro .probox .proloading,
div.asp_m.ajaxsearchpro .probox .proclose,
div.asp_m.ajaxsearchpro .probox .promagnifier,
div.asp_m.ajaxsearchpro .probox .prosettings {
	width: 20px;
	height: 20px;
	background: none;
	background-size: 20px 20px;
	float: right;
	box-shadow: none;
	margin: 0;
	padding: 0;
	text-align: center;
	z-index: 1;
}

div.asp_m.ajaxsearchpro .probox .proloading,
div.asp_m.ajaxsearchpro .probox .proclose {
	background-position: center center;
	display: none;
	background-size: auto;
	background-repeat: no-repeat;
	background-color: transparent;
}

div.asp_m.ajaxsearchpro .probox .proloading {
	padding: 2px;
	box-sizing: border-box;
}

div.asp_m.ajaxsearchpro .probox .proclose {
	position: relative;
	cursor: pointer;
	z-index: 2;
}

div.asp_m.ajaxsearchpro .probox .promagnifier .innericon,
div.asp_m.ajaxsearchpro .probox .prosettings .innericon,
div.asp_m.ajaxsearchpro .probox .proclose .innericon {
	background-size: 20px 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 100%;
	height: 100%;
	line-height: initial;
	text-align: center;
	overflow: hidden;
}

div.asp_m.ajaxsearchpro .probox .promagnifier .innericon svg,
div.asp_m.ajaxsearchpro .probox .prosettings .innericon svg,
div.asp_m.ajaxsearchpro .probox .proloading svg {
	height: 100%;
	width: 22px;
	vertical-align: baseline;
	display: inline-block;
}

div.asp_hidden_data,
div.asp_hidden_data * {
	display: none;
}

div.asp_w.asp_r {
	display: none;
}

div.asp_w.asp_s.searchsettings {
	width: auto;
	height: auto;
	position: absolute;
	display: none;
	z-index: 11001;
	border-radius: 0 0 3px 3px;
	visibility: hidden;
	opacity: 0;
	overflow: visible;
}

.wpdreams_clear {
	clear: both;
}

div.asp_r.asp_r_2,
div.asp_r.asp_r_2 *,
div.asp_m.asp_m_2,
div.asp_m.asp_m_2 *,
div.asp_s.asp_s_2,
div.asp_s.asp_s_2 * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
	border: 0;
	border-radius: 0;
	text-transform: none;
	text-shadow: none;
	box-shadow: none;
	text-decoration: none;
	text-align: left;
	letter-spacing: normal;
}

div.asp_r.asp_r_2,
div.asp_m.asp_m_2,
div.asp_s.asp_s_2 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

div.asp_r.asp_r_2,
div.asp_r.asp_r_2 *,
div.asp_m.asp_m_2,
div.asp_m.asp_m_2 *,
div.asp_s.asp_s_2,
div.asp_s.asp_s_2 * {
	padding: 0;
	margin: 0;
	line-height: 36px;
}

.wpdreams_clear {
	clear: both;
}

.asp_w_container_2 {
	width: 50%;
}

#ajaxsearchpro2_1,
#ajaxsearchpro2_2,
div.asp_m.asp_m_2 {
	width: 100%;
	height: auto;
	max-height: none;
	border-radius: 5px;
	background: #d1eaff;
	margin-top: 0;
	margin-bottom: 0;
	background: transparent;
	overflow: hidden;
	border: 0 hidden rgba(18, 18, 18, 1);
	border-radius: 2px 2px 2px 2px;
	box-shadow: px px px px rgb(0, 0, 0);
}

#ajaxsearchpro2_1 .probox,
#ajaxsearchpro2_2 .probox,
div.asp_m.asp_m_2 .probox {
	margin: 0;
	height: 35px;
	background-image: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98));
	background-image: -webkit-gradient(radial, center center, 0, center center, 100%, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98));
	background-image: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98));
	background-image: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98));
	background-image: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98));
	background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98));
	border: 0 none rgba(18, 18, 18, 1);
	border-radius: 0;
	box-shadow: none;
}

#asp_absolute_overlay {
	background: rgba(0, 0, 0, 0.7);
}

#ajaxsearchpro2_1 .probox,
#ajaxsearchpro2_2 .probox,
div.asp_m.asp_m_2 .probox {
	width: 35px;
}

#ajaxsearchpro2_1,
#ajaxsearchpro2_2,
div.asp_m.asp_m_2 {
	width: auto;
	display: inline-block;
	float: right;
	position: fixed;
	top: 26px;
	bottom: auto;
	right: 26px;
	left: auto;
	z-index: 9000;
}

#ajaxsearchpro2_1 .probox .proinput,
#ajaxsearchpro2_2 .probox .proinput,
div.asp_m.asp_m_2 .probox .proinput {
	font-weight: normal;
	font-family: inherit;
	color: rgba(27, 27, 27, 1);
	font-size: 12px;
	line-height: 38px;
	text-shadow: none;
	line-height: normal;
	flex-grow: 1;
	order: 5;
	-webkit-flex-grow: 1;
	-webkit-order: 5;
}

#ajaxsearchpro2_1 .probox .proloading,
#ajaxsearchpro2_1 .probox .proclose,
#ajaxsearchpro2_1 .probox .promagnifier,
#ajaxsearchpro2_1 .probox .prosettings,
#ajaxsearchpro2_2 .probox .proloading,
#ajaxsearchpro2_2 .probox .proclose,
#ajaxsearchpro2_2 .probox .promagnifier,
#ajaxsearchpro2_2 .probox .prosettings,
div.asp_m.asp_m_2 .probox .proloading,
div.asp_m.asp_m_2 .probox .proclose,
div.asp_m.asp_m_2 .probox .promagnifier,
div.asp_m.asp_m_2 .probox .prosettings {
	width: 35px;
	height: 35px;
	flex: 0 0 35px;
	flex-grow: 0;
	order: 7;
	-webkit-flex: 0 0 35px;
	-webkit-flex-grow: 0;
	-webkit-order: 7;
}

#ajaxsearchpro2_1 .probox .proloading,
#ajaxsearchpro2_2 .probox .proloading,
div.asp_m.asp_m_2 .probox .proloading {
	width: 35px;
	height: 35px;
	min-width: 35px;
	min-height: 35px;
	max-width: 35px;
	max-height: 35px;
}

#ajaxsearchpro2_1 .probox .promagnifier,
#ajaxsearchpro2_2 .probox .promagnifier,
div.asp_m.asp_m_2 .probox .promagnifier {
	width: auto;
	height: 35px;
	flex: 0 0 auto;
	order: 7;
	-webkit-flex: 0 0 auto;
	-webkit-order: 7;
}

#ajaxsearchpro2_1 .probox .promagnifier div.innericon,
#ajaxsearchpro2_2 .probox .promagnifier div.innericon,
div.asp_m.asp_m_2 .probox .promagnifier div.innericon {
	width: 35px;
	height: 35px;
	float: right;
}

#ajaxsearchpro2_1 .probox .promagnifier div.asp_text_button,
#ajaxsearchpro2_2 .probox .promagnifier div.asp_text_button,
div.asp_m.asp_m_2 .probox .promagnifier div.asp_text_button {
	width: auto;
	height: 35px;
	float: right;
	margin: 0;
	padding: 0 10px 0 2px;
	font-weight: normal;
	font-family: inherit;
	color: rgb(51, 51, 51);
	font-size: 15px;
	line-height: normal;
	text-shadow: none;
	line-height: 35px;
}

#ajaxsearchpro2_1 .probox .promagnifier .innericon svg,
#ajaxsearchpro2_2 .probox .promagnifier .innericon svg,
div.asp_m.asp_m_2 .probox .promagnifier .innericon svg {
	fill: rgba(255, 188, 0, 1);
}

#ajaxsearchpro2_1 .probox .promagnifier,
#ajaxsearchpro2_2 .probox .promagnifier,
div.asp_m.asp_m_2 .probox .promagnifier {
	width: 35px;
	height: 35px;
	background-image: -webkit-linear-gradient(180deg, #1c1c1c, #1c1c1c);
	background-image: -moz-linear-gradient(180deg, #1c1c1c, #1c1c1c);
	background-image: -o-linear-gradient(180deg, #1c1c1c, #1c1c1c);
	background-image: -ms-linear-gradient(180deg, #1c1c1c 0, #1c1c1c 100%);
	background-image: linear-gradient(180deg, #1c1c1c, #1c1c1c);
	background-position: center center;
	background-repeat: no-repeat;
	order: 11;
	-webkit-order: 11;
	float: right;
	border: 0 none rgba(18, 18, 18, 1);
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#ajaxsearchpro2_1 .probox .prosettings,
#ajaxsearchpro2_2 .probox .prosettings,
div.asp_m.asp_m_2 .probox .prosettings {
	width: 35px;
	height: 35px;
	background: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	order: 1;
	-webkit-order: 1;
	float: left;
	border: 0 solid rgb(255, 255, 255);
	border-radius: 0;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.64);
	cursor: pointer;
	background-size: 100% 100%;
	align-self: flex-end;
}

#ajaxsearchprores2_1,
#ajaxsearchprores2_2,
div.asp_r.asp_r_2 {
	position: absolute;
	z-index: 11000;
	width: auto;
	margin: 12px 0 0 0;
}

div.asp_s.asp_s_2.searchsettings,
div.asp_s.asp_s_2.searchsettings,
div.asp_s.asp_s_2.searchsettings {
	direction: ltr;
	padding: 0;
	background-image: -webkit-linear-gradient(185deg, rgba(27, 27, 27, 1), rgba(27, 27, 27, 1));
	background-image: -moz-linear-gradient(185deg, rgba(27, 27, 27, 1), rgba(27, 27, 27, 1));
	background-image: -o-linear-gradient(185deg, rgba(27, 27, 27, 1), rgba(27, 27, 27, 1));
	background-image: -ms-linear-gradient(185deg, rgba(27, 27, 27, 1) 0, rgba(27, 27, 27, 1) 100%);
	background-image: linear-gradient(185deg, rgba(27, 27, 27, 1), rgba(27, 27, 27, 1));
	box-shadow: none;
	max-width: 208px;
	z-index: 2;
}

div.asp_s.asp_s_2.searchsettings.asp_s,
div.asp_s.asp_s_2.searchsettings.asp_s,
div.asp_s.asp_s_2.searchsettings.asp_s {
	z-index: 11001;
}

#ajaxsearchprores2_1.vertical,
#ajaxsearchprores2_2.vertical,
div.asp_r.asp_r_2.vertical {
	padding: 4px;
	background: rgba(18, 18, 18, 1);
	border-radius: 3px;
	border: 0 solid rgba(18, 18, 18, 1);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 9px -7px #000 inset;
	visibility: hidden;
	display: none;
}

.wpdreams_clear {
	clear: both;
}
