
.button,
input[type="submit"],
input[type="button"] {
	display: inline-flex;
	align-items: center;
	position: relative;
	width: max-content;
	min-width: -webkit-fill-available;
	text-decoration: none;
	justify-content: center;
	overflow: hidden;
	padding: 1.25em 1em;
	outline: 0;
	border-radius: var(--border-radius-lg);
	box-shadow: var(--button-shadow);
	transition: all 0.2s ease;
	cursor: pointer;
	word-wrap: normal;
	font-size: 12px;
	color: var(--global-font-color-inverse);
	background-color: var(--color-theme-secondary);
	border: 1px solid var(--color-theme-button);

	@media (--wide-menu-query) {
		font-size: 16px;
		padding: 1em 2em;
	}

	&.button-transparent {
		color: var(--color-theme-secondary);
		background-color: var(--color-theme-button-transparent);

		& .icon {

			& path {
				fill: var(--global-font-color-inverse);
			}
		}
	}

	&:hover,
	&:focus {
		color: var(--global-font-color-inverse);
		background-color: var(--color-theme-primary);
		border: 1px solid var(--global-font-color-inverse);
		outline: 1px solid var(--global-font-color-inverse);
		text-decoration: none;

		& .icon {
			opacity: 1;
		}
	}

	&:visited {

		background-color: var(--color-link-visited);
	}

	&:not(:disabled) {

		cursor: pointer;
	}

	& .icon {
		transform: translate(-15px, 19px);
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		transition: opacity 0.2s linear;

		& path {
			fill: var(--color-theme-secondary);
		}
	}

}

input[type="submit"],
input[type="button"],
.button-return,
.success,
.caption .button {
	min-width: unset;
}

.button:active {
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}

span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 600ms linear;
	background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {

	to {
		transform: scale(4);
		opacity: 0;
	}
}
