
/* grid item's wrapper */
.site-main__catalog {
	display: grid;
	grid-gap: 2rem 0;

	@media (--content-query) {
		grid-template-columns: 1fr 1fr;
	}

	@media (--sidebar-query) {
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		gap: 0;
	}
}

/* grid item */
.gi {
	position: relative;
	color: var(--global-color-dark);

	@media (--content-query) {
		padding-bottom: 7rem;
	}

	&:hover .gi__content,
	& a:hover .gi__content {

		@media (--sidebar-query) {
			background-color: var(--color-theme-primary);
			opacity: 1;
			transform: translateY(100%);
		}
	}
}

.title {
	color: var(--global-color-dark);
	margin: 0;
	font-size: var(--font-size-normal);
	padding-bottom: 0.5em;

	@media (--content-query) {

		padding-top: 0.5em;
		font-size: var(--font-size-small);
	}
}

.gi__content {
	padding: 1em;
	background-color: var(--color-theme-primary);

	@media (--sidebar-query) {
		position: absolute;
		height: 7rem;
		padding: 0 1rem;
		top: calc(100% - 14rem);
		transition: all 0.4s ease-in-out;
		z-index: -1;
	}
}

.catalog-card__img {
	min-width: 100%;
}

/* grid item's content on hover

.gi.distribution + .production .gi__content {

	@media (--wide-menu-query) {
		top: calc(100% - 20.65rem);
	}
}
 */
