

/* NACELLE */
@media (--sidebar-query) {

	.site-header {
		grid-template-columns: 1fr 1fr;
	}

	.site-branding {
		text-align: initial;
	}

	.main-navigation_wide-menu {

		display: flex;
		justify-content: flex-end;
	}
}

/* NACELLE end */
#ajaxsearchpro2_1 .probox .proinput input.orig,
#ajaxsearchpro2_2 .probox .proinput input.orig,
div.asp_m.asp_m_2 .probox .proinput input.orig {
	background-color: #fff !important;
}

.sub-menu .menu-item a {
	color: #fff;
}

.main-navigation.nav--toggle-small .mobile-menu-container,
.menu .sub-menu {
	background: var(--color-theme-primary);
}

#ajaxsearchpro2_2 .probox .promagnifier .innericon svg,
div.asp_m.asp_m_2 .probox .promagnifier .innericon svg {
	fill: #fff !important;
	background: var(--color-theme-primary);
}

@media screen and (min-width: 60em) {

	.site-header {
		grid-template-columns: 1fr 2fr;
		justify-content: space-between;
	}

	.main-navigation {
		margin: 0 0 0 auto;
	}

	/* 	AJAX SEARCH */
	.menu .ajax-search__item {
		min-width: 49px;
	}

}

.press.grid-item {
	background-color: #fff;

	&:hover {

		& .entry-summary {
			color: #fff;
		}
	}
}

.primary-sidebar.widget-area {
	background-color: #fff;
}

a.button:visited {
	color: #000;
}
