.custom-logo {
	filter: brightness(5);
}

.site-header.front-page {
	position: relative;
	background: var(--nav-bk-color);
}

#ajaxsearchpro2_1 .probox .proinput input.orig,
#ajaxsearchpro2_2 .probox .proinput input.orig,
div.asp_m.asp_m_2 .probox .proinput input.orig {
	background-color: #fff !important;
}

.sub-menu .menu-item a {
	color: #fff;
}

.main-navigation.nav--toggle-small .mobile-menu-container,
.menu .sub-menu {
	background: var(--color-theme-primary);
}

#ajaxsearchpro2_2 .probox .promagnifier .innericon svg,
div.asp_m.asp_m_2 .probox .promagnifier .innericon svg {
	fill: #fff !important;
	background: var(--color-theme-primary);
}

@media (--narrow-menu-query) {

	.ajax-search__item {
		display: none;
	}

	#ajaxsearchpro2_1,
	#ajaxsearchpro2_2,
	div.asp_m.asp_m_2 {
		max-width: 290px !important;
		background: #fff !important;
	}
}

@media screen and (min-width: 37.5em) {

	.primary-menu-container .asp_w_container {
		position: relative;
		transition: ;
	}
}

@media screen and (min-width: 48em) {

	.primary-menu-container {
		grid-template-columns: auto;
		justify-content: right;
	}
}

@media screen and (min-width: 60em) {

	.site-header {
		grid-template-columns: 1fr 2fr;
		justify-content: space-between;
	}

	.main-navigation {
		margin: 0 0 0 auto;
	}

	/* 	AJAX SEARCH */
	.primary-menu-container .asp_w_container {
		max-width: 202px;
	}

	#ajaxsearchpro2_1[asp-compact="open"] .probox {
		width: 300px !important;

	}

	#ajaxsearchprores2_1.vertical,
	#ajaxsearchprores2_2.vertical,
	div.asp_r.asp_r_2.vertical {
		position: absolute !important;
		left: -50px !important;
		top: 23px !important;
	}

	div.asp_m.ajaxsearchpro .probox .proinput,
	div.asp_m.ajaxsearchpro .probox .proinput form {
		padding: 0 18px !important;

	}

	.ajax-search__item #ajaxsearchpro2_1 .probox .proinput input.orig,
	.ajax-search__item #ajaxsearchpro2_2 .probox .proinput input.orig,
	.ajax-search__item div.asp_m.asp_m_2 .probox .proinput input.orig {
		padding: 0 15px !important;
	}
}

.press.grid-item {
	background-color: #fff;

	&:hover {

		& .entry-summary {
			color: #fff;
		}
	}
}

.primary-sidebar.widget-area {
	background-color: #fff;
}

a.button:visited {
	color: #000;
}
