
@media screen and (min-width: 60em) {

	.has-sidebar .site {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr 1fr;
		grid-auto-rows: -webkit-min-content;
		grid-auto-rows: min-content;
		min-height: 100vh;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.has-sidebar .site .site-footer,
	.has-sidebar .site .site-header {
		grid-column: 1/-1;
	}

	.has-sidebar .site .site-main {
		grid-column: 2;
		min-width: 0;
	}
}

.nav--toggle-small .menu-toggle {
	display: block;
	margin: 0;
	padding: 0.6em 1.2em 0.5em;
	font-family: "Montserrat", sans-serif;
	font-stretch: condensed;
	font-size: 80%;
	text-transform: uppercase;
	border: 2px solid #7fd2e6;
	border-radius: 0;
	background: transparent;
}

.nav--toggle-small .menu-toggle.icon {
	border: none;
	position: absolute;
	top: 25px;
	left: 5px;
}

.nav--toggle-small .menu-toggle.icon .dashicons-menu-alt::before {
	font-size: 40px;
}

.nav--toggle-small .menu-toggle.icon svg.close {
	display: none;
}

.mobile-menu-search .search {
	position: absolute;
	top: 30px;
	right: 30px;
}

@media screen and (max-width: 37.5em) {

	.mobile-menu-search .search {
		text-align: right;
		left: 30px;
	}
}

.nav--toggle-small .mobile-menu-container {
	display: none;
}

.nav--toggle-small .mobile-menu-container .menu-item {
	font-size: 0.9375rem;
	font-size: 15;
}

.nav--toggle-small .mobile-menu-container .menu > .menu-item {
	border-bottom: 1px solid #333;
}

@media screen and (min-width: 60em) {

	.nav--toggle-small,
	.nav--toggle-small .menu-toggle,
	.nav--toggle-small .mobile-menu-container {
		display: none;
	}
}

.nav--toggle-small.nav--toggled-on .menu-toggle.icon svg.close,
.nav--toggle-small.nav--toggled-on .mobile-menu-container {
	display: block;
}

.nav--toggle-small.nav--toggled-on svg.open-menu {
	display: none;
}

@media screen and (max-width: 600px) {

	.nav--toggle-small.icon-nav .mobile-menu-container {
		position: absolute;
		background: #121212;
		width: 100vw;
		top: 300px;
		left: 0;
		height: auto;
		padding: 20px 30px;
		opacity: 0;
		-webkit-transition: opacity 0.3s, top 0.3s ease-out;
		transition: opacity 0.3s, top 0.3s ease-out;
	}

	.nav--toggle-small.icon-nav.nav--toggled-on .menu-toggle span.dashicons::before {
		content: "\f158";
	}

	.nav--toggle-small.icon-nav.nav--toggled-on .mobile-menu-container {
		top: 89px;
		opacity: 1;
		z-index: 1001;
		-webkit-transition: opacity 0.3s, top 0.3s ease-out;
		transition: opacity 0.3s, top 0.3s ease-out;
	}
}

.nav--toggle-small .menu {
	display: block;
}

.nav--toggle-sub ul ul {
	display: none;
	position: absolute;
	top: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #121212;
	margin-left: 0;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	z-index: 100;
}

@media screen and (max-width: 37.5em) {

	.nav--toggle-sub ul ul {
		position: relative;
		max-width: 90%;
		padding-left: 2em;
	}
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: block;
	background: transparent;
	position: absolute;
	right: 0;
	top: 20px;
	width: 0.7em;
	height: 0.7em;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	overflow: visible;
}

@media screen and (min-width: 48em) {

	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle {
		top: 50%;
	}
}

.nav--toggle-sub .dropdown-symbol {
	display: block;
	background: transparent;
	position: absolute;
	right: 20%;
	top: 35%;
	width: 60%;
	height: 60%;
	border: solid #333;
	border-width: 0 2px 2px 0;
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

.nav--toggle-sub ul ul .dropdown,
.nav--toggle-sub ul ul .dropdown-toggle {
	top: 40%;
	right: 0.2em;
}

.nav--toggle-sub ul ul .dropdown-symbol {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav--toggle-sub .dropdown-toggle:hover,
.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
	pointer-events: none;
}

.nav--toggle-sub li.menu-item--has-toggle,
.nav--toggle-sub li.menu-item-has-children {
	position: relative;
	padding-right: 1.4em;
}

.nav--toggle-sub li.menu-item--toggled-on > ul,
.nav--toggle-sub li:hover > ul,
.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
	display: block;
}

.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
	display: block;
}

.main-navigation {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 50rem;
	font-family: Montserrat, sans-serif;
	font-stretch: condensed;
}

@media screen and (max-width: 37.5em) {

	.main-navigation {
		width: 100%;
		height: 90px;
	}
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 37.5em) {

	.main-navigation a {
		width: 90%;
		padding: 1em 0;
	}
}

@media screen and (min-width: 48em) {

	.main-navigation a {
		width: 100%;
		padding: 0.5em 1em 0.5em 0;
	}
}

.main-navigation a:focus,
.main-navigation a:hover {
	text-decoration: underline;
}

.main-navigation .current-menu-ancestor > a,
.main-navigation .current-menu-item > a {
	font-weight: 700;
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

@media screen and (min-width: 37.5em) {

	.main-navigation ul li a {
		padding: 0.4em 0.5em;
	}

	.main-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

.site-branding {
	text-align: center;
	padding: 1em 0;
	margin: 0;
}

@media screen and (max-width: 37.5em) {

	.site-branding {
		width: 55%;
		position: absolute;
		-webkit-transform: translateX(23vw);
		transform: translateX(23vw);
	}
}

.main-navigation_wide-menu {
	display: none;
}

@media screen and (min-width: 60em) {

	.main-navigation_wide-menu {
		display: block;
	}
}

@media screen and (max-width: 37.5em) {

	.nav--toggle-small.nav--toggled-on .mobile-menu-container {
		display: block;
	}
}
