/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--page-width: 90rem;
	--content-width: 50rem;
	--content-width-lg: 60rem;
	--dropdown-symbol-width: 0.7em;
	--dropdown-symbol-width-large: 1.4em;

	/* Typography */
	--global-font-family: "Montserrat", sans-serif;
	--highlight-font-family: "Montserrat", sans-serif;
	--global-font-size: 17;
	--global-font-line-height: 1.6;
	--global-font-line-height-sm: 1.3;
	--global-font-letter-spacing: 1.4px;
	--global-font-letter-spacing-sm: 1px;
	--global-button-letter-spacing: 1.25px;
	--global-font-weight: 400;
	--global-font-weight-bold: 700;

	/* Custom editor font sizes */
	--font-size-xsmall: calc(8 / var(--global-font-size) * 1.5rem); 	/* 11.2941px */
	--font-size-small: calc(10 / var(--global-font-size) * 1.35rem); 	/* 12.7059px */
	--font-size-menu: calc(13 / var(--global-font-size) * 1rem); 		/* 12.2353px */
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem); 	/* 17px */
	--font-size-large: calc(36 / var(--global-font-size) * 1rem); 		/* 33.8824px */
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem); 		/* 45.1765px */

	/* block-library font sizes */
	--wp--preset--font-size--normal: 16px;
	--wp--preset--font-size--huge: 42px;

	/* Grid items */
	--grid-item-row-gap: 7rem;
	--grid-item-row-bottom-spacing: 1rem;
	--grid-item-row-gap-sm: 2rem;

	/* Utilities */
	--border-radius: 2px;
	--border-radius-lg: 4px;
	--flickity-desktop-height: 80vh;
	--button-shadow: 0 1px 5px 1px #121212;

	/* input elements */
	--input-border: #8b8a8b;
	--input-focus-h: 192;
	--input-focus-s: 67%;
	--input-focus-l: 70%;

	/* Custom editor colors */
	--color-theme-red: #c0392b;
	--color-theme-green: #27ae60;
	--color-theme-blue: #2980b9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #1c2833;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #fff;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;
}
