:root {
	--global-font-family: "Montserrat", sans-serif;
	--highlight-font-family: "Montserrat", sans-serif;
	--global-font-size: 16;
	--global-font-line-height: 1.4;
	--global-font-line-height-sm: 0.5;

	/* Custom editor font sizes */
	--font-size-xsmall: calc(5 / var(--global-font-size) * 2rem);
	--font-size-small: calc(10 / var(--global-font-size) * 1.21rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
}
