/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--page-width: 90rem;
	--content-width: 50rem;
	--dropdown-symbol-width: 0.7em;
	--dropdown-symbol-width-large: 1.4em;

	/* Typography */
	--global-font-family: "Montserrat", sans-serif;
	--highlight-font-family: "Montserrat", sans-serif;
	--global-font-size: 15;
	--global-font-line-height: 1.4;
	--global-font-line-height-sm: 0.5;

	/* Custom editor font sizes */
	--font-size-xsmall: calc(5 / var(--global-font-size) * 2rem);
	--font-size-small: calc(10 / var(--global-font-size) * 1.21rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);

	/* Grid items */
	--grid-item-row-gap: 7rem;
	--grid-item-row-bottom-spacing: 1rem;
	--grid-item-row-gap-sm: 2rem;

	/* Utilities */
	--border-radius: 2px;
	--border-radius-lg: 4px;
	--flickity-desktop-height: 80vh;
	--button-shadow: 0 1px 5px 1px #121212;

	/* Custom editor colors */

	--color-theme-red: #c0392b;
	--color-theme-green: #27ae60;
	--color-theme-blue: #2980b9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #1c2833;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #fff;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;
}
