@import "_custom-properties.css";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
}

/**
 * Inherit box-sizing to make it easier to change the property for
 * components that leverage other behavior; see
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #fff;

	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: var(--border-color-light);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0;
	padding-left: 1.5em;
	box-sizing: border-box;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 0.5em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.justify-self-center {
	justify-self: center;
}

.font-size-small {
	font-size: var(--font-size-small);
	line-height: var(--global-font-line-height-sm);
	letter-spacing: var(--global-font-letter-spacing-sm);
	margin: 0;
}
