/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
:root {
	--input-border: #8b8a8b;
	--input-focus-h: 192;
	--input-focus-s: 67%;
	--input-focus-l: 70%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	font-family: inherit;
	background-color: var(--global-color-grey-light);
	border: 2px solid var(--input-border);
	color: var(--global-font-color-inverse);
	border-radius: var(--border-radius-lg);
	padding: 0 0 0 5px;
	transition: 180ms box-shadow ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
.nf-field-element input[type="text"],
.nf-field-element input[type="email"],
.offcanvas-menu input,
.offcanvas-menu select {
	height: 36px;
	padding: 0 1em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: var(--global-font-color-inverse);
}

select {
	color: var(--global-font-color-inverse);
	border: 1px solid var(--border-color-light);
	border-radius: var(--border-radius);
	height: 28px;
}

input[type="text"]::placeholder,
select {
	color: var(--global-color-grey);
}

input:focus,
textarea:focus {
	border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
	box-shadow:
		0 0 0 3px
		hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l)));
	outline: 3px solid transparent;
}

input:not(textarea) {
	line-height: 1;
}

input[type="file"] {
	font-size: 0.9em;
	padding-top: 0.35rem;
}

textarea {
	resize: vertical;
	padding: 1em;
}

input[readonly] {
	border-style: dotted;
	cursor: not-allowed;
	color: #777;
}

input[disabled] {
	--input-border: #ccc;
	background-color: #eee;
	cursor: not-allowed;
}

label,
.nf-form-cont .nf-field-label label {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1;
}

input + label {
	margin-top: 2rem;
}

.nf-after-field .nf-error-msg {
	color: var(--color-theme-primary);
}
