/*--------------------------------------------------------------
>>> !!!! All global styles have been moved to the header.php as inline styles.
>>> to bring them back uncomment from line #28 to END and uncomment Styles/Component global.min.css call.
----------------------------------------------------------------
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
    # Custom properties
    # Reset
    # Typography
    # Elements
    # Links
# Accessibility
# Layout
# Forms
# Header
    # Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

/*
@import "_custom-fonts.css";
@import "_icons.css";
@import "_reset-min.css";
@import "_typography-min.css";
@import "_links.css";
@import "_navigation.css";

img {
	max-width: 100%;
	height: auto;
}

.entry-content {
	padding: 0 1em;
}

.button,
[type="button"] {
	box-shadow: var(--color-theme-secondary) 0 1px 5px, var(--color-theme-secondary) 0 1px 2px;
	border-radius: 6px;
	padding: 10px 1em;
	background-color: transparent;

	&:hover {
		box-shadow: var(--color-theme-secondary) 0 0 1px, var(--color-theme-secondary) 0 1px 2px;
	}
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

#primary[tabindex="-1"]:focus {
	outline: 0;
}

.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}
*/
