@import "_custom-properties";

@media (--narrow-menu-query) {

	.mobile-menu-container .searchandfilter ul {
		display: inline-flex;
		align-items: center;
	}

	.searchandfilter .sf-field-submit {
		margin-left: 1em;
		padding: 10px 0;
		position: relative;

		&::after {
			content: url("/wp-content/themes/wprig-nacelle-dev/assets/images/icon-search.svg");
			position: absolute;
			left: 15px;
			top: 24px;
			fill: var(--color-theme-primary);
		}
	}

	.sf-field-submit input[type=submit] {
		position: relative;
		margin-top: 8px;
		padding: 0.95em 2em;
	}
}

.site-header {

	@media (--wide-menu-query) {

		& .searchandfilter ul li {
			display: none;
		}

		& .searchandfilter {

			&:hover .sf-field-search {
				z-index: 1;
				opacity: 1;
			}
		}

		& .sf-field-search {
			position: absolute;
			right: -40px;
			top: 0;
			z-index: -1;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
		}

		& .searchandfilter::before {
			content: url("/wp-content/themes/wprig-nacelle-dev/assets/images/icon-search.svg");
			font-size: 12px;
			opacity: 1;
			color: red;
			position: absolute;
			right: -35px;
			top: 15px;
		}
	}
}
