@import "_custom-properties";

.mobile-menu-container {

	@media (--narrow-menu-query) {

		& .searchandfilter ul {
			display: inline-flex;
			align-items: center;
		}

		& .searchandfilter .sf-field-submit {
			margin-left: 1em;
			padding: 10px 0;
			position: relative;

			&::after {
				content: url("/wp-content/themes/wprig-nacelle-dev/assets/images/icon-search.svg");
				position: absolute;
				left: 15px;
				top: 24px;
				fill: var(--color-theme-primary);
			}
		}

		& .sf-field-submit input[type=submit] {
			position: relative;
			margin-top: 8px;
			padding: 0.95em 2em;
		}
	}
}

.primary-menu-container {

	& input[name="_sf_submit"] {
		background-color: transparent;
		border: none;
	}

	@media (--content-query) {
		display: grid;
		grid-template-columns: 1fr auto;

		& .searchandfilter {
			width: 40px;
			height: 33px;

			&::before {
				content: url("/wp-content/themes/wprig-nacelle-dev/assets/images/icon-search.svg");
				position: absolute;
				right: -10px;
				top: 10px;
			}
		}

		& .sf-field-search { /* search input */
			position: absolute;
			right: -20px;
			top: 0;
			z-index: -1;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
		}

		& .searchandfilter ul {
			visibility: hidden;
			transition: all 0.5s linear;
		}

		& .searchandfilter:hover { /* HOVER */

			& ul {
				visibility: visible;
			}

			& .sf-field-search {
				z-index: 1;
				opacity: 1;
				padding: 5px;
			}

			& .sf-field-submit {
				z-index: 9;
				padding: 0;
			}

			&::before {
				z-index: 8;
			}
		}
	}
}
