@import "_custom-properties";

/* search for mobile menu */
.mobile-menu-container {

	@media (--narrow-menu-query) {

		& .searchandfilter ul {
			display: inline-flex;
			align-items: center;
		}

		& .searchandfilter .sf-field-submit {
			margin-left: 1em;
			padding: 10px 0;
			position: relative;
		}

		& .sf-field-submit input {
			position: relative;
			padding: 10px 2em;
		}
	}

	@media (--content-query) {

		& .searchandfilter ul {
			display: flex;
			justify-content: center;
		}
	}
}

/* top navigation search */

/* https://codepen.io/dickyal6/pen/rNxKROO */
.primary-menu-container {

	@media (--content-query) { /* for desktop */

		/* base styles */
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
}

.searchandfilter__wrap {

	@media (--content-query) { /* for desktop */
		position: relative;

		/* base styles */

		& .searchandfilter {
			position: absolute;
			padding: 1em;
			top: 60%;
			left: 65%;
			transform: translate(-50%, -50%);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& .searchandfilter ul {
			display: inline-flex;
			align-items: center;
			text-align: right;
		}

		& .sf-field-search { /* search input */

			border: none;
			outline: none;
			width: 0;
			padding: 0;
			opacity: 0;
			border-radius: 2px;
			transition: all 1s;
		}

		& .sf-field-submit { /* submit button */
			opacity: 0;
		}

		/* pseudo icon styles */
		& .searchandfilter::before {
			content: url(../images/icon-search.svg);
		}

		/* hover actions */
		& .searchandfilter {

			&:hover {

				& .sf-field-search,
				& .sf-field-submit {
					z-index: 1;
					opacity: 1;
				}

				& .sf-field-search {
					width: 200px;
					opacity: 1;
					padding: 10px 10px;
				}
			}
		} /* end hover actions */
	} /* end content-query */
} /* end primary-menu-container */
