/*--------------------------------------------------------------
# Headers (page, archive and search titles)
--------------------------------------------------------------*/
@import "_custom-properties.css";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header:not(.front-page):not(.catalog) {
	background: var(--nav-bk-color);
}

.site-header.front-page,
.site-header.catalog:not(.no-post-video) {

	@media (--content-query) {
		position: absolute;
		z-index: 2;
		width: 100%;
	}
}

.page-header {
	margin-top: 0;
	border-bottom: 2px solid var(--color-theme-primary);
	padding: 0 1em;

	@media (--content-query) {
		padding: 0.5em 2em;
		grid-column: 1/-1;
	}

	@media (--sidebar-query) {
		padding: 0.5em 2em;
		grid-column: 1/-1;
	}

	& .archive-title {
		color: var(--color-theme-primary);
	}

	& .title {
		color: var(--color-theme-primary);
	}
}

.page-header:not(.page-header__filters) {

	@media (--sidebar-query) {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
	}

	& .page-title {

		@media (--sidebar-query) {
			grid-column: 2;
		}
	}
}

.page .page-header {
	text-align: center;
}

.page-header__filters {
	border-bottom: none;

	@media (--sidebar-query) {
		grid-template-columns: 1fr;
		padding: 0;
	}

	& .filters-wrap {
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid var(--color-theme-primary);
		padding: 0 1em;

		@media (--sidebar-query) {
			padding: 0.5em 2em;
		}
	}
}

.page-title__wrap {

	& .page-title {
		margin-bottom: 0;
	}

	& .page-title__sub {
		color: var(--color-theme-secondary);
		margin-top: 0.5em;
	}
}



.site-header {
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-around;

	@media (--sidebar-query) {
		display: grid;
		grid-template-columns: auto auto auto;
		align-items: center;
		justify-content: center;
		gap: 1em;
	}
}

/*--------------------------------------------------------------
# Header breadcrumbs
--------------------------------------------------------------*/
.entry-header__breadcrumbs {
	font-size: var(--font-size-small);
}

@media (--wide-menu-query) {

	.entry-header__breadcrumbs {
		text-align: right;
		justify-content: flex-end;
	}
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}
