/*--------------------------------------------------------------
# Headers (page, archive and search titles)
--------------------------------------------------------------*/
@import "_custom-properties.css";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header:not(.front-page):not(.catalog) {
	background: var(--global-color-dark);
}

.site-header.front-page,
.site-header.catalog:not(.no-post-video) {

	@media (--content-query) {
		position: absolute;
		z-index: 2;
		width: 100%;
	}
}

.page-header {
	margin-top: 0;
	border-bottom: 2px solid var(--color-theme-primary);
	padding: 0 1em;

	@media (--content-query) {
		padding: 0.5em 2em;
		grid-column: 1/-1;

	}

	& .archive-title,
	& .title {
		color: var(--color-theme-primary);
	}

	&.page-header__page .page-title {

		@media (--content-query) {
			text-align: center;
		}
	}
}

.page-header_catalog {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	transition: margin-right 0.5s;
}

@media (--sidebar-query) {

	.site-header {
		display: grid;
		grid-template-columns: auto auto auto;
		align-items: center;
		justify-content: center;
		gap: 1em;
	}
}

.title-wrap.grid {
	grid-template-columns: min-content auto;
	align-items: center;
	column-gap: 1em;

	& .dashicons {
		width: 40px;
		height: 30px;
		font-size: 2.5em;
	}
}

/*--------------------------------------------------------------
# Header breadcrumbs
--------------------------------------------------------------*/
.entry-header__breadcrumbs {
	font-size: var(--font-size-small);
}

@media (--wide-menu-query) {

	.entry-header__breadcrumbs {
		text-align: right;
		justify-content: flex-end;
	}
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}
