/*--------------------------------------------------------------
# Headers for posts and archives
--------------------------------------------------------------*/

.page-header {
	margin-top: 0;
	padding: 0 1em;

	@media (--content-query) {
		padding: 0.5em 2em;
		grid-column: 1/-1;
	}

	& .archive-title {
		color: var(--color-theme-primary);
	}

	& .title {
		color: var(--color-theme-primary);
	}
}

.page-header:not(.page-header__filters) {

	@media (--sidebar-query) {
		display: grid;
		grid-template-columns: 1fr auto 5fr 1fr;
		align-items: center;
	}

	& .page-title {
		text-transform: uppercase;

		@media (--sidebar-query) {
			grid-column: 2/span 1;
		}
	}

	& .page-header__line {

		@media (--sidebar-query) {
			grid-column: 3/span 1;
			padding-left: 2em;
		}

		& hr {
			border-top-color: var(--color-theme-primary);
			border-top-style: solid;
			border-bottom-color: var(--color-theme-primary);
		}
	}
}

.page-header__filters {
	border-bottom: none;

	@media (--sidebar-query) {
		grid-template-columns: 1fr;
		padding: 0;
	}

	& .filters-wrap {
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid var(--color-theme-primary);
		padding: 0 1em;

		@media (--sidebar-query) {
			padding: 0.5em 2em;
		}
	}
}

.page-title__wrap {

	& .page-title {
		margin-bottom: 0;
	}

	& .page-title__sub {
		color: var(--color-theme-secondary);
		margin-top: 0.5em;
	}
}

/*--------------------------------------------------------------
# Header breadcrumbs
--------------------------------------------------------------*/
.entry-header__breadcrumbs {
	font-size: var(--font-size-small);
}

@media (--wide-menu-query) {

	.entry-header__breadcrumbs {
		text-align: right;
		justify-content: flex-end;
	}
}
