/**
 * Icon title
 * Icon on the left title on the right.
 */

.icon:not(.icon-arrow-up) {
	margin-right: 0.5rem;

	& path {
		fill: var(--color-theme-primary);
		transition: fill 0.2s ease-out;
	}

	&:hover path {
		fill: var(--color-theme-secondary);
		transition: fill 0.2s ease-out;
	}
}
