/**
 * Icon title
 * Icon on the left title on the right.
 */

.icon:not(.menu-toggle):not(.icon-latest-news) {

	& path {
		fill: var(--color-theme-primary);
		transition: fill 0.2s ease-out;
	}

	&:hover path {
		fill: var(--color-theme-secondary);
		transition: fill 0.2s ease-out;
	}
}

.icon:not(.icon-arrow-up):not(.icon-external):not(.icon-latest-news) {
	margin-right: 0.5rem;
}
