@import "_custom-properties.css";

/**
 * Icon title
 * Icon on the left title on the right.
 */

.icon {
	margin-right: 0.5rem;

	& [fill] {
		fill: var(--color-theme-secondary);
	}
}

.menu {

	& svg.icon {
		fill: var(--color-theme-primary);
	}
}
