/**
 * Icon title
 * Icon on the left title on the right.
 */

.icon {
	margin-right: 0.5rem;

	& [fill] {
		fill: var(--color-theme-primary);
		transition: fill 0.2s ease-out;
	}

	&:hover [fill] {
		fill: var(--color-theme-secondary);
		transition: fill 0.2s ease-out;
	}
}
