
/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */

a {
	color: var(--color-link);
	text-decoration: none;

	&.button {

		&:visited {
			color: var(--global-color-grey-light);

			& .icon {
				fill: var(--global-color-grey-light);
			}
		}
	}
}

a:not(.button):hover,
a:not(.button):focus,
a:not(.button):active {
	color: var(--color-link-visited);
}

.main-navigation a:hover,
.main-navigation a:focus,
.current-menu-item a {
	color: var(--color-link);
}

a:not(.button):focus {
	outline: thin dotted;
}

a:not(.button):hover,
a:not(.button):active {
	outline: 0;
}

.link-absolute {
	position: absolute;
	width: 100%;
	height: 100%;
}

.button,
input[type="submit"] {
	display: inline-flex;
	align-items: center;
	width: fit-content;
	box-shadow: var(--color-theme-secondary) 0 1px 5px, var(--color-theme-secondary) 0 1px 2px;
	background-color: rgba(0, 0, 0, 0.479);
	transition: background-color 0.2s linear;
	border-radius: var(--border-radius-lg);
	padding: 0.5em 2em;
	white-space: nowrap;

	& .icon {
		margin: 0 0 0 5px;
		fill: var(--color-theme-secondary);
	}

	&.center {
		margin: 0 auto;
	}

	&:hover {
		color: var(--color-theme-primary);
		box-shadow: var(--color-theme-primary) 0 0 1px, var(--color-theme-primary) 0 1px 2px;
		background-color: rgba(0, 0, 0, 0.8);

		& .icon {
			fill: var(--color-theme-primary);
		}
	}
}

/* Hover classes */
.hover-brightness > div {

	@media (--sidebar-query) {
		filter: brightness(0.75);
		transition: filter 0.2s ease-out;
	}
}

.hover-brightness > div:hover {

	@media (--sidebar-query) {
		filter: brightness(1);
	}
}
