/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a:not(.button) {
	color: var(--color-link);
	text-decoration: none;

	&:visited {
		color: var(--color-link-visited);

		& .icon {
			fill: var(--global-color-grey-light);
		}
	}
}

.current-menu-item a,
.main-navigation a:hover,
.main-navigation a:focus,
.menu .menu-item a {
	color: var(--color-link);
}

a:not(.button):hover,
a:not(.button):focus,
a:not(.button):active {
	color: var(--color-link-visited);
}

a:not(.button):focus {
	outline: thin dotted;
}

a:not(.button):hover,
a:not(.button):active {
	outline: 0;
}

.link-absolute {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Back to top button */
.button-to-top {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	border-radius: 100%;
	background: transparent;
	padding: 0.9em 1.17em;
	border: none;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.5s;

	& path {
		fill: var(--color-theme-primary);
		transition: fill 0.2s ease-out;
	}
}

.button-to-top:hover {
	background: var(--border-color-dark);

	& path {
		fill: var(--color-theme-secondary);
		transition: fill 0.2s ease-out;
	}
}

.invisible {
	opacity: 0%;
}

.button-to-top-icon {
	width: 1rem;
	height: 1rem;
	color: var(--color-theme-secondary);
}

/* Hover classes */
.hover-brightness > div {

	@media (--sidebar-query) {
		filter: brightness(0.75);
		transition: filter 0.2s ease-out;
	}
}

.hover-brightness > div:hover {

	@media (--sidebar-query) {
		filter: brightness(1);
	}
}

/*--------------------------------------------------------------
# END Links
--------------------------------------------------------------*/
