@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */

a {
	color: var(--color-link);
	text-decoration: none;

	&:visited {
		color: var(--color-link-visited);
	}

	&.button {

		&:visited {
			color: var(--global-color-grey-light);

			& .icon {
				fill: var(--global-color-grey-light);
			}
		}
	}
}

a:not(.button):hover,
a:not(.button):focus,
a:not(.button):active {
	color: var(--color-link-active);
}

a:not(.button):focus {
	outline: thin dotted;
}

a:not(.button):hover,
a:not(.button):active {
	outline: 0;
}

.link-absolute {
	position: absolute;
	width: 100%;
	height: 100%;
}
/* stylelint-enable */
