
/* https://codepen.io/timothylong/pen/AJxrPR */

.modal-window {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: #000000a3;
	top: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	width: 100%;
	height: 100%;
}

.modal-window > div {
	width: 400px;
	position: absolute;
	padding: 2em;
	background: var(--global-color-dark);
}

.modal-window_large > div {
	width: auto;
}

.modal-window_absolute {
	left: 0;

	& > div {
		width: auto;
	}
}

.modal-window header {
	font-weight: bold;
}

.modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
}

.modal-close:not(.modal-window) {
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
}

.modal-close:target,
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}


.container {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
}
