/* https://codepen.io/timothylong/pen/AJxrPR */

.modal-window {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: #000000a3;
	top: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	width: 100%;
	height: 100%;
}

.modal-window > div {
	width: 400px;
	position: absolute;
	padding: 2em 3em 0 3em;
	background: var(--global-color-light);
}

.modal-window_large > div {
	width: 90vw;
	padding: 3em 5px 5px 5px;

	@media (--content-query) {
		width: auto;
		min-width: 60vw;
		padding: 3em 2em 2em 2em;
		height: unset;
	}
}

.featured-trailers .modal-window_large {
	left: 0;
}

.modal-window_absolute {
	left: 0;

	& > div {
		width: auto;
	}
}

.modal-window header {
	font-weight: var(--global-font-weight-bold);
}

.modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
}

.modal-close:not(.modal-window) {
	line-height: 70px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
}

.modal-close:target,
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

.container {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.open-modal {
	position: relative;
	display: grid;
}
