.site-header {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	background-color: var(--nav-bk-color);
	overflow-x: hidden;
}

.primary-nav {
	display: none;

	@media (--narrow-menu-query) {
		width: 90%;
		padding: 1em 0;
	}

	@media (--sidebar-query) {
		display: flex;
		flex: 1 0 65%;
	}
}

.primary-menu-container {
	display: none;

	@media (--sidebar-query) {
		display: block;
		width: 100%;
	}

	& > .menu > li {
		@media (--sidebar-query) {
			padding-right: 1.5em;
		}
	}
}

.main-navigation__wrap {
	order: 2;
	flex: 0 0 190px;
	@media (--sidebar-query) {
		gap: 2em;
		display: flex;
		flex: unset;
		flex-wrap: nowrap;
		align-items: center;
	}
}

.secondary-nav {
	display: none;

	@media (--sidebar-query) {
		display: flex;
		flex: 1 1 26%;
		justify-content: center;
	}
	@media (--content-query) {
		.svg-container {
			width: 65%;
			min-width: 15px;
		}
	}
}

.secondary-menu-container {
	display: none;

	@media (--sidebar-query) {
		display: flex;
		flex-direction: row;
	}
	@media (--sidebar-query) {
		& .menu > .menu-item {
			margin-right: 0.5em;
		}
	}
}

.mobile-menu__search {
	order: 3;
	position: relative;
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	background-color: var(--nav-bk-color);

	& .asp_m {
		height: auto;
	}

	& .probox {
		align-items: center;
	}

	@media (--content-query) {
		padding-right: 2em;
	}

	@media (--sidebar-query) {
		display: none;
	}
}

/*  */
/* Ajax Search Pro Plugin styles */
/*  */

/* Random anchor tag after .asp_w_container fix (only on live site) */
@media (--sidebar-query) {
	.asp_w_container_2 > a {
		padding: 0;
	}
	.asp_w_container.asp_w_container_2.asp_compact {
		width: 35px !important;
		height: 35px;
		position: relative;
	}
	.probox {
		background-image: radial-gradient(
			ellipse at center,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		) !important;
	}
}

#masthead {
	&.site-header {
		& .promagnifier {
			background-color: var(--nav-bk-color);
			background: var(--nav-bk-color);
		}
	}
}

.site-branding {
	@media (--content-query) {
		flex: 0 0 30%;
	}

	@media (--sidebar-query) {
		flex: 1 0 13%;
	}
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small {
	text-align: center;
	display: flex;
	order: 1;

	& .menu {
		display: none;
	}

	@media (--sidebar-query) {
		display: none;
	}

	&.nav--toggled-on {
		& .menu {
			display: flex;
		}

		/* hamburger is active */

		& .menu-toggle.icon svg.close {
			display: block;
			margin: 0 auto;
		}

		& svg.open-menu {
			display: none;
		}
	}

	& svg.close {
		display: none;
	}

	& .menu-toggle {
		width: 48px;
		height: 48px;
		margin: 0 auto;
		padding: 0;
		font-stretch: condensed;
		font-size: 80%;
		text-transform: uppercase;
		border: none;
		border-radius: 0;
		background: transparent;
	}
}

.nav--toggle-small {
	& .mobile-menu-container {
		z-index: 99999;
		opacity: 1;
		transform: translateY(80px);
		transition: transform 0.3s ease-out, opacity 0.6s ease-out;
	}
}
.admin-bar {
	& .mobile-menu-container {
		transform: translateY(130px);
	}
}
.mobile-menu-container {
	/* mobile menu container */
	position: absolute;
	background: var(--global-color-grey-dark);
	width: 100vw;
	left: 0;
	top: 0;
	transform: translateY(-85vh);
	text-align: left;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.3s ease-in, transform 0.6s ease-in;

	& > .menu {
		padding: 0 1em;
		flex-direction: column;

		@media (--content-query) {
			padding: 0 2em;
		}
	}
}

.nav--toggle-sub ul ul {
	display: none;
	position: absolute;
	background: var(--global-color-grey-dark);
	z-index: 100;
	min-width: max-content;
	padding-left: 1em;

	@media (--narrow-menu-query) {
		position: relative;
		max-width: 90%;
		padding-left: 2em;
	}

	@media (--sidebar-query) {
		padding: 0 1em;
	}

	& li.menu-item-has-children:hover .sub-menu {
		position: relative;
	}
}

.sub-menu {
	@media (--sidebar-query) {
		padding: 0 1em;
	}
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: block;
	background: transparent;
	position: absolute;
	right: 10px;
	top: 25px;
	width: 0.7em;
	height: 0.7em;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	transform: translateY(-50%);
	overflow: visible;
	@media (--sidebar-query) {
		right: 5px;
	}
}

.nav--toggle-sub .dropdown-symbol {
	display: block;
	background: transparent;
	position: absolute;
	right: 20%;
	top: 35%;
	width: 60%;
	height: 60%;
	border: solid var(--color-theme-primary);
	border-width: 0 2px 2px 0;
	transform: translateY(-50%) rotate(45deg);
}

.nav--toggle-sub .dropdown-toggle:hover,
.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
	pointer-events: none;
}

/* Need menu-item-has-children for non-JS */
.nav--toggle-sub li.menu-item-has-children,
.nav--toggle-sub li.menu-item--has-toggle {
	position: relative;
	margin-right: 0;
}

.nav--toggle-sub ul li.menu-item-has-children:hover .sub-menu {
	@media (--content-query) {
		position: relative;
	}

	@media (--sidebar-query) {
		position: absolute;
	}
}

/*
* If the dropdown toggle is active with JS, then
* we'll take care of showing the submenu with JS.
*/
.nav--toggle-sub li:hover > ul,
.nav--toggle-sub li.menu-item--toggled-on > ul,
.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
	display: block;
}

/*
* "focus-within" is an alternative to focus class for
* supporting browsers (all but IE/Edge) for no-JS context
* (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
*
* This selector needs to stay separated, otherwise submenus
* will not be displayed with IE/Edge.
*/
.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
	display: block;
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	/* @media (--sidebar-query) {
		flex: inherit;
	} */

	& a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		padding: 1em 0;
		max-width: 75%;
		font-size: var(--font-size-menu);

		@media (--sidebar-query) {
			max-width: 100%;
			width: 100%;
		}
	}

	& ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;

		@media (--sidebar-query) {
			align-items: center;
		}
	}
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

/* Desktop menu to min width tablet */
