.site-header {
	z-index: 9;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	background-color: var(--nav-bk-color);

	@media (--sidebar-query) {
		flex-direction: row;
		justify-content: center;
	}
}

.site-branding {
	padding: 1em 0;
	flex: 0 0 50%;

	@media (--sidebar-query) {
		flex: initial;
		padding: 1em;
	}
}

.custom-logo {
	object-fit: contain;
	width: 100%;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small {
	text-align: center;

	& .mobile-menu-container { /* mobile menu container */
		position: absolute;
		background: var(--global-color-dark);
		width: 100vw;
		transform: translateY(-85vh);
		text-align: left;
		opacity: 0;
		z-index: 1;
		transition: opacity 0.3s ease-in, transform 0.6s ease-in;

		& > ul {
			padding: 0 1em;
		}

		@media (--sidebar-query) {
			display: none;
		}
	}

	&.nav--toggled-on { /* hamburger is active */

		& .mobile-menu-container {
			z-index: 9;
			opacity: 1;
			transform: translateY(10px);
			transition: transform 0.3s ease-out, opacity 0.6s ease-out;
		}

		& .menu-toggle.icon svg.close {
			display: block;
		}

		& svg.open-menu {
			display: none;
		}
	}

	& svg.close {
		display: none;
	}

	& .menu-toggle {

		/* display: block; */
		margin: 0 auto;
		padding: 0.5em;
		font-stretch: condensed;
		font-size: 80%;
		text-transform: uppercase;
		border: none;
		border-radius: 0;
		background: transparent;

		@media (--sidebar-query) {
			display: none;
		}
	}
}

.nav--toggle-sub ul ul {
	display: none;
	position: absolute;
	background: var(--global-color-dark);
	z-index: 100;
	min-width: max-content;

	@media (--narrow-menu-query) {
		position: relative;
		max-width: 90%;
		padding-left: 2em;
	}
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: block;
	background: transparent;
	position: absolute;
	right: 10px;
	top: 25px;
	width: 0.7em;
	height: 0.7em;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	transform: translateY(-50%);
	overflow: visible;

	@media (--content-query) {
		top: 50%;
	}
}

.nav--toggle-sub .dropdown-symbol {
	display: block;
	background: transparent;
	position: absolute;
	right: 20%;
	top: 35%;
	width: 60%;
	height: 60%;
	border: solid var(--border-color-dark);
	border-width: 0 2px 2px 0;
	transform: translateY(-50%) rotate(45deg);
}

/*
.nav--toggle-sub ul ul .dropdown,
.nav--toggle-sub ul ul .dropdown-toggle {
	top: 40%;
	right: 0.2em;
}

.nav--toggle-sub ul ul .dropdown-symbol {
	transform: rotate(-45deg);
} */

.nav--toggle-sub .dropdown-toggle:hover,
.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
	pointer-events: none;
}

/* Need menu-item-has-children for non-JS */
.nav--toggle-sub li.menu-item-has-children,
.nav--toggle-sub li.menu-item--has-toggle {
	position: relative;
	padding-right: 1.6em;
}

/*
     * If the dropdown toggle is active with JS, then
     * we'll take care of showing the submenu with JS.
     */
.nav--toggle-sub li:hover > ul,
.nav--toggle-sub li.menu-item--toggled-on > ul,
.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
	display: block;
}

/*
     * "focus-within" is an alternative to focus class for
     * supporting browsers (all but IE/Edge) for no-JS context
     * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
     *
     * This selector needs to stay separated, otherwise submenus
     * will not be displayed with IE/Edge.
     */
.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
	display: block;
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	flex: 0 0 25%;

	@media (--sidebar-query) {
		flex: inherit;
	}

	& .menu {

		@media (--wide-menu-query) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	& a {
		display: block;
		text-decoration: none;
		color: var(--global-font-color);
		padding: 1em 0;

		@media (--narrow-menu-query) {
			width: 90%;
			padding: 1em 0;
		}

		@media (--content-query) {
			width: 100%;
			padding: 0.5em 1em 0.5em 0;
		}
	}

	& ul.menu li {

		@media (--wide-menu-query) {
			margin: 0 0 0 0.5em;
		}
	}

	& ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: underline;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

/* Desktop menu to min width tablet */

.secondary-menu-container,
.primary-menu-container,
.primary-nav {
	display: none;

	@media (--sidebar-query) {

		display: flex;
	}
}

.menu {

	& svg.icon {
		fill: var(--color-theme-primary);
	}
}
