.site-header {
	z-index: 9;
	display: flex;
	align-items: center;
	background-color: var(--nav-bk-color);
	justify-content: space-between;
	grid-column: 1/-1;
	padding: 1em;

	@media (--content-query) {
		justify-content: space-between;
	}

	@media (--sidebar-query) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.primary-nav {
	display: none;

	@media (--narrow-menu-query) {
		width: 90%;
		padding: 1em 0;
	}

	@media (--sidebar-query) {
		display: flex;
	}
}

.primary-menu-container {
	display: none;

	@media (--sidebar-query) {
		display: flex;
	}

	& > .menu > li {

		@media (--wide-menu-query) {
			margin: 0 1em;
		}
	}
}

.main-navigation__wrap {
	order: 2;

	@media (--sidebar-query) {
		display: flex;
		flex-wrap: wrap;
		order: 1;
	}
}

.secondary-nav {
	display: none;

	@media (--sidebar-query) {
		display: flex;
		order: 2;
		padding-right: 2em;
	}
}

.secondary-menu-container {
	display: none;

	@media (--sidebar-query) {
		display: flex;
		flex-direction: row;
	}

	& > .menu > li {

		@media (--wide-menu-query) {
			margin: 0 0.25em;
		}
	}

	& li.search-icon {

		@media (--sidebar-query) {
			transform: translateX(-55px);
			position: relative;
		}
	}
}

.mobile-menu__search {
	order: 3;
	position: relative;
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	background-color: var(--nav-bk-color);

	& .asp_m {
		height: auto;
	}

	& .probox {
		align-items: center;
	}

	@media (--content-query) {
		padding-right: 2em;
	}

	@media (--sidebar-query) {
		display: none;
	}
}

/* ajax search pro */
.asp_w_container {
	display: flex;
	align-items: center;

	& svg {
		fill: var(--color-theme-primary);
		width: 25px;
		height: 25px;
	}
}

.site-branding {

	@media (--content-query) {
		flex: 0 0 30%;
	}

	@media (--sidebar-query) {
		flex: initial;
	}
}


/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small {
	text-align: center;
	display: flex;
	order: 1;

	@media (--sidebar-query) {
		display: none;
	}

	&.nav--toggled-on { /* hamburger is active */

		& .mobile-menu-container {
			z-index: 99999;
			opacity: 1;
			transform: translateY(80px);
			transition: transform 0.3s ease-out, opacity 0.6s ease-out;
		}

		& .menu-toggle.icon svg.close {
			display: block;
			margin: 0 auto;
		}

		& svg.open-menu {
			display: none;
		}
	}

	& svg.close {
		display: none;
	}

	& .menu-toggle {
		width: 48px;
		height: 48px;
		margin: 0 auto;
		padding: 0;
		font-stretch: condensed;
		font-size: 80%;
		text-transform: uppercase;
		border: none;
		border-radius: 0;
		background: transparent;
	}
}

.mobile-menu-container { /* mobile menu container */
	position: absolute;
	background: var(--global-color-dark);
	width: 100vw;
	left: 0;
	top: 0;
	transform: translateY(-85vh);
	text-align: left;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.3s ease-in, transform 0.6s ease-in;

	& > .menu {
		padding: 0 1em;
		flex-direction: column;

		@media (--content-query) {
			padding: 0 2em;
		}
	}
}

.nav--toggle-sub ul ul {
	display: none;
	position: absolute;
	background: var(--global-color-dark);
	z-index: 100;
	min-width: max-content;

	@media (--narrow-menu-query) {
		position: relative;
		max-width: 90%;
		padding-left: 2em;
	}

	@media (--sidebar-query) {
		padding: 0 1em;
	}
}

.sub-menu {

	@media (--sidebar-query) {
		padding: 0 1em;
	}
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: block;
	background: transparent;
	position: absolute;
	right: 10px;
	top: 25px;
	width: 0.7em;
	height: 0.7em;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	transform: translateY(-50%);
	overflow: visible;

	@media (--content-query) {
		top: 1.5em;
	}
}

.nav--toggle-sub .dropdown-symbol {
	display: block;
	background: transparent;
	position: absolute;
	right: 20%;
	top: 35%;
	width: 60%;
	height: 60%;
	border: solid var(--border-color-dark);
	border-width: 0 2px 2px 0;
	transform: translateY(-50%) rotate(45deg);
}

.nav--toggle-sub .dropdown-toggle:hover,
.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
	pointer-events: none;
}

/* Need menu-item-has-children for non-JS */
.nav--toggle-sub li.menu-item-has-children,
.nav--toggle-sub li.menu-item--has-toggle {
	position: relative;
	padding-right: 2em;
	margin-right: 0;
}

.nav--toggle-sub ul li.menu-item-has-children:hover .sub-menu {

	@media (--content-query) {
		position: relative;
	}

	@media (--sidebar-query) {
		position: absolute;
	}
}

.nav--toggle-sub ul ul {
	padding-left: 1em;

	& li.menu-item-has-children:hover .sub-menu {
		position: relative;
	}
}

/*
* If the dropdown toggle is active with JS, then
* we'll take care of showing the submenu with JS.
*/
.nav--toggle-sub li:hover > ul,
.nav--toggle-sub li.menu-item--toggled-on > ul,
.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
	display: block;
}

/*
* "focus-within" is an alternative to focus class for
* supporting browsers (all but IE/Edge) for no-JS context
* (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
*
* This selector needs to stay separated, otherwise submenus
* will not be displayed with IE/Edge.
*/
.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
	display: block;
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {

	@media (--sidebar-query) {
		flex: inherit;
	}

	& a {
		display: block;
		text-decoration: none;
		color: var(--color-theme-primary);
		padding: 1em 0;
		max-width: 75%;

		@media (--sidebar-query) {
			max-width: 100%;

		}

		@media (--sidebar-query) {
			width: 100%;
		}
	}

	& ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;

		@media (--sidebar-query) {
			align-items: center;
		}
	}
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

/* Desktop menu to min width tablet */
