/*--------------------------------------------------------------
# _page-header.css : Headers for posts and archives
--------------------------------------------------------------*/

.page-header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 0 1em;
	border-bottom: 2px solid var(--color-theme-primary);

	@media (--content-query) {
		grid-column: 1/span 2;
	}

	@media (--sidebar-query) {
		grid-column: 2/span 2;
		column-gap: 2em;
		/* flex-flow: row nowrap; */
		/* align-items: start; */
		padding: 2em 1em;
		border-bottom: none;
	}

	& .archive-title {
		color: var(--color-theme-primary);
	}

	& .title {
		color: var(--color-theme-primary);
	}
}

.page-title {
	text-transform: uppercase;
	line-height: 1;

	@media (--sidebar-query) {
		grid-column: 2/span 1;
		margin: 0;
		align-items: end;
	}
}

.page-title_meta {

	@media (--content-query) {
		display: flex;
		align-items: center;
	}
	@media (--sidebar-query) {
		flex-grow: 1;
		border-top: 2px solid var(--color-theme-primary);
		padding-top: 0.5em;
		justify-content: end;
	}
}

/*--------------------------------------------------------------
#  END _page-header.css
--------------------------------------------------------------*/
