/*--------------------------------------------------------------
# _page-header.css : Headers for posts and archives
--------------------------------------------------------------*/
.page-header {
	border-bottom: 2px solid var(--global-color-grey);
	grid-row: 2;
	position: relative;
}

.nacelle .page-header {
	border-bottom: 3px solid var(--color-theme-primary);
}

.page-title__wrap {
	padding: 1em;
}

.page-title {
	font-size: 43px; /* Some tweener fallback that doesn't look awful */
	font-size: 9vw;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 0;

	@media (--narrow-menu-query) {
		font-size: 7vw;
	}

	@media (--content-query) {
		margin: 0;
	}

	@media (--sidebar-query) {
		max-width: var(--page-width);
		margin: 0 auto;
		grid-column: 2 / span 1;
		align-items: end;
		letter-spacing: 12px;
	}
}

.page-title__press-single::after {
	content: "< Press Archive";
	font-size: var(--font-size-xsmall);
	color: var(--color-theme-secondary);
	font-weight: 400;
	position: absolute;
	bottom: 3px;
	right: 0;
	left: 0;

	@media (--content-query) {
		bottom: 1em;
	}
}

.page-header__taxonomy {

	& .page-title__wrap {

	}

	& .page-title {

		@media (--content-query) {
			font-size: 6vw;
		}
	}

	& .subtitle {
		text-align: center;

	}
}

/* .page-title_meta {
	position: absolute;
	right: 1em;
	bottom: 5px;
	font-size: var(--font-size-xsmall);
	@media (--content-query) {
	}
}

.page-title_meta-title {
	text-transform: uppercase;
	color: var(--color-theme-secondary);
} */

/* .page-title {
	text-transform: uppercase;
	line-height: 1;
	font-size: 1.5em;
	@media (--content-query) {
		font-size: 2em;
	}
	@media (--sidebar-query) {
		grid-column: 2/span 1;
		margin: 0;
		align-items: end;
	}
}

.page-title_meta {

	@media (--content-query) {
		display: flex;
		align-items: center;
	}
	@media (--sidebar-query) {
		flex-grow: 1;
		border-top: 2px solid var(--color-theme-primary);
		padding-top: 0.5em;
		justify-content: end;
	}
} */

/*--------------------------------------------------------------
#  END _page-header.css
--------------------------------------------------------------*/
