/*--------------------------------------------------------------
# _page-header-filters.css : Headers for posts and archives
--------------------------------------------------------------*/

.page-header {
	margin-top: 0;

	@media (--content-query) {
		padding: 0.5em 0;
		grid-column: 1/-1;
	}
}

.page-title {
	margin: 0.25em 0;
	display: flex;
	align-items: center;

	@media (--wide-menu-query) {
		font-size: revert;
	}
}

.page-header__filters {
	border-bottom: none;
	border-bottom: 2px solid var(--color-theme-primary);

	@media (--sidebar-query) {
		grid-template-columns: 1fr;
		padding: 0;
	}
}

.page-title__wrap {
	display: grid;
	column-gap: 0.5em;
	align-items: baseline;
	padding: 0 1em;

	@media (--wide-menu-query) {
		grid-template-columns: max-content auto max-content;
		column-gap: 2em;
		padding: 0 2em;
	}

	@media (--sidebar-query) {
		padding: 0.5em 2em;
	}
}

.page-title_meta {
	grid-row: 2;
	padding-bottom: 0.5em;
	text-align: left;

	@media (--wide-menu-query) {
		grid-row: unset;
		padding-bottom: revert;
	}

	& sub {
		line-height: 1.25;
	}
}

.page-title_meta-title {
	text-transform: uppercase;
	color: var(--color-theme-secondary);
}

.page-title__offcanvas {
	position: relative;
	justify-self: end;
	grid-column: 3;

	& .offcanvas-toggle {
		text-align: right;
	}
}

/* .entry-header__breadcrumbs {
	font-size: var(--font-size-small);

	@media (--wide-menu-query) {
		text-align: right;
		justify-content: flex-end;
	}
} */

/*--------------------------------------------------------------
#  END _page-header-filters.css
--------------------------------------------------------------*/
