
/*--------------------------------------------------------------
# Go corner
--------------------------------------------------------------*/
.go-corner {
	display: flex;
	align-items: center;
	position: absolute;
	width: 32px;
	height: 32px;
	overflow: hidden;
	top: 0;
	right: 0;
	opacity: 0.7;
	background-color: var(--color-theme-secondary);
	border-radius: 0 4px 0 32px;
}

.go-arrow {
	transform: translate(10px, -2px);
	color: var(--border-color-dark);
}

/*--------------------------------------------------------------
# Grid item styles
--------------------------------------------------------------*/
.grid-item {
	position: relative;
	top: 0;
	background-color: var(--global-color-grey-dark);
	border-radius: var(--border-radius-lg);
	padding: 1.5em;
	border: 1px solid var(--color-theme-secondary);

	&::before {
		content: "";
		position: absolute;
	}

	&:hover {
		transition: all 0.2s ease-out;
		box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
		top: -4px;
		border: 1px solid var(--color-theme-primary);
		background-color: var(--global-color-dark);
	}

	&:hover .go-corner {
		background-color: var(--color-theme-primary);
		transition: opactiy 0.3s linear;
		opacity: 1;
	}

	&:hover::before {
		-webkit-transform: scale(2.15);
		-ms-transform: scale(2.15);
		transform: scale(2.15);
	}
}

.nacelle-site .grid-item:hover {
	& .entry-summary,
	& .entry-taxonomies,
	& .entry-meta {
		color: var(--global-font-color-inverse);
	}
}

/* HOME POST GRID */

.home .entry-title {
	grid-column: 1/-1;
	justify-self: center;
}

.term-links,
.entry-meta {
	font-size: var(--font-size-small);
}
