.section-header {
	grid-column: 3/span 8;
	align-items: center;
	grid-auto-columns: max-content;
	justify-content: space-between;
	display: grid;
	gap: 0.5em;
	padding: 0 1em;
	border-bottom: 1px solid var(--color-theme-primary);

	@media (--content-query) {
		grid-template-columns: auto 5fr;
		gap: 2em;
		border-bottom: none;
		justify-items: initial;
	}

	& .section-title {

		@media (--narrow-menu-query) {
			margin: 0;
		}

		@media (--content-query) {
			grid-column: 1/span 1;
		}
	}

	& .section-header__line {
		font-size: 80%;
		grid-column: 2/span 1;
		display: grid;
		padding-right: 0.5em;
		grid-auto-columns: max-content;
		gap: 1em;


		@media (--content-query) {
			grid-template-columns: auto max-content;
			gap: 2em;
		}

		& hr {

			@media (--narrow-menu-query) {
				display: none;
			}

			@media (--wide-menu-query) {
				display: block;
				min-width: 100%;
				border-top-color: var(--color-theme-primary);
				border-bottom-color: var(--color-theme-primary);
				border-top-style: solid;
			}
		}
	}
}
