/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1.5rem;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	background-color: var(--nav-bk-color);

	@media (--content-query) {
		grid-column: 1/-1;
		grid-row-start: auto;
	}

	@media (--sidebar-query) {
		grid-column: 3/span 1;
		padding: 2em;
		margin-left: auto;
		margin-right: auto;
		position: sticky;
		top: 0;
		border-radius: var(--border-radius);
	}

	& ul {
		padding-left: 0;
	}

	& .sf_date_field {
		padding-left: 0;
	}
}
