.has-sidebar .site {

	display: grid;
	margin: 0 auto;
	max-width: 100vw;

	@media (--sidebar-query) {
		display: grid;
		grid-template-columns: 1fr 8fr 2fr 1fr;
		grid-auto-rows: min-content;
		min-height: 100vh;
		align-items: flex-start;

		& .site-header,
		& .site-footer {
			grid-column: 1 / -1;
			max-width: 100vw;
		}

		& .site-main {
			grid-column: 2;
			min-width: 0;
		}
	}
}

.site-main {
	display: grid;
	grid-column: 1/-1;
}
