.site {
	display: grid;
	margin: 0 auto;
	max-width: 100vw;
	@media (--sidebar-query) {
		display: grid;
		column-gap: 2em;
		grid-auto-rows: min-content;
		min-height: 100vh;
		align-items: flex-start;

		/* & .site-header,
		& .site-footer {
			grid-column: 1 / -1;
			max-width: 100vw;
		} */
		/* https://www.dwinawan.com/blog HEADER */
		& .site-header {
			grid-row: 1 / span 1;
			grid-column: 1/ -1;
		}
		.page-header {
			grid-row: 2 / span 1;
			grid-column: 1/ -1;
		}
		& .site-main {
			grid-auto-rows: min-content;
			grid-row: 3 / span 6;
			grid-template-rows: repeat(auto-fill, minmax(max(100px, 200px), 100px));
			grid-auto-flow: row;
			padding: 2em;
			grid-gap: 2em;
		}
	}
}

.single-post {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-column-gap: 1rem;
	border-bottom: 2px solid var(--global-color-grey);
	padding: 2em 0;
	& .entry-thumbnail {
		grid-row: 1 / span 2;
		grid-column: 2;
	}
	.entry-meta {
		margin-top: 0;
	}

	@media (--narrow-menu-query) {
		grid-template-columns: 2fr 1fr;
	}

	@media (--content-query) {
		grid-template-columns: auto 1fr;
		grid-column-gap: 2em;
		padding: 0 0 2em 0;

		&:nth-child(2) {
			padding-top: 0;
		}
	}
}

.entry-title {
	margin-top: 0;
	line-height: var(--global-font-line-height-sm);
	& a {
		color: var(--global-font-color);
		font-size: var(--font-size-regular);
	}
}

.entry-summary {
	margin-bottom: 2em;
}

@media (--sidebar-query) {
	.entry-title {
		margin-top: 0;
	}
}

.featured-post {
	border-bottom: 2px solid var(--global-color-grey);
	& .entry-title {
		line-height: initial;
		& a {
			@media (--sidebar-query) {
				font-size: var(--font-size-large);
			}
		}
	}

	@media (--narrow-menu-query) {
		.entry-footer {
			margin-top: 1em;
		}
	}

	@media (--content-query) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto auto;
		grid-column-gap: 2em;
		& .entry-thumbnail {
			grid-row: 1 / span 3;
		}
	}
	@media (--sidebar-query) {
		display: grid;
		grid-template-rows: auto auto 1fr;
		grid-template-columns: 1fr;
		grid-row: 1 / span 3;
		.entry-thumbnail {
			padding-bottom: 2em;
		}
	}
}

.site-main {
	display: grid;
	grid-column: 1/-1;
}
