/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	display: grid;
	margin: 0 auto;
	max-width: 100%;
}

.site-main {
	display: grid;

	@media (--content-query) {
		grid-column: 1/-1;

	}
}
