@import "_custom-properties.css";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* stylelint-disable */
/* stylelint-enable */
body,
button,
input,
select,
optgroup,
textarea {
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	font-size: var(--font-size-regular);
	line-height: var(--global-font-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--highlight-font-family);
	letter-spacing: 1px;
	font-stretch: condensed;
	clear: both;
	color: var(--color-theme-primary);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

/* stylelint-disable */
pre {
	background: #696969;
	color: rgb(199, 199, 199);
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.5em;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
	overflow: visible;
}
/* stylelint-enable */

.h1 {
	font-size: 1.5em;
	margin: 0.67em 0;
	text-transform: uppercase;

	@media (--content-query) {
		font-size: 2em;
	}
}

.h2 {
	font-size: 1.5em;
	margin: 0.67em 0;
	text-transform: uppercase;
}

.h6 {
	font-size: 70%;

	@media (--content-query) {
		font-size: 75%;
	}
}

.sub {
	color: var(--color-theme-secondary);
	text-transform: uppercase;
}
