@import "_custom-properties.css";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


body,
button,
input,
select,
optgroup,
textarea {
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	letter-spacing: var(--global-font-letter-spacing);
	font-size: var(--font-size-regular);
	line-height: var(--global-font-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--highlight-font-family);
	letter-spacing: var(--global-font-letter-spacing);
	font-stretch: condensed;
	clear: both;
	color: var(--color-theme-primary);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

.h1 {
	font-size: 1.5em;
	margin: 0.67em 0;
	text-transform: uppercase;

	@media (--content-query) {
		font-size: 2em;
	}
}

.h2 {
	font-size: 1.5em;
	margin: 0.67em 0;
	text-transform: uppercase;
}

.h6 {
	font-size: 70%;

	@media (--content-query) {
		font-size: 75%;
	}
}

.subtitle {
	color: var(--color-theme-secondary);
	text-transform: uppercase;
}
