/* https://codepen.io/raubaca/pen/PZzpVe */

input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

/* Accordion styles */
.tabs {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
	width: 100%;
	color: #fff;
	overflow: hidden;
}

.tab-label {
	display: flex;
	padding: 1em;
	cursor: pointer;

	&::after {
		content: "❯";
		margin-left: 1em;
		transition: all 0.35s;
	}
}

.tab-content {
	max-height: 0;
	padding: 0 1em;
	color: var(--global-font-color);
	background: var(--global-color-dark);
	transition: all 0.35s;
}

.tab-close {
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	font-size: 0.75em;
	cursor: pointer;
}

input:checked + .tab-label::after {
	transform: rotate(90deg);
}

input:checked ~ .tab-content {
	max-height: 100vh;
	padding: 1em;
}


.tab-label {
	border-bottom: 1px solid var(--color-theme-secondary);
}

.tab-close {
	background-color: var(--color-theme-primary);

	&:hover {
		background-color: var(--color-theme-secondary);
	}
}
