/* https://codepen.io/raubaca/pen/PZzpVe */

/* Accordion styles */
.tabs {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
	width: 100%;
	color: #fff;
	overflow: hidden;

	& input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
}

.tab-label {
	display: flex;
	padding: 1em;
	cursor: pointer;
	border-bottom: 1px solid var(--color-theme-secondary);
}

.tab-content {
	max-height: 0;
	padding: 0 1em;
	color: var(--global-font-color);
	background: var(--global-color-dark);
	transition: height 0.35s linear;
}

.tab-close {
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	font-size: 0.75em;
	cursor: pointer;
	background-color: var(--color-theme-primary);

	&:hover {
		background-color: var(--color-theme-secondary);
	}
}

.tab-label .dashicons {
	transition: transform 0.2s linear;
}

input:checked + .tab-label .dashicons {
	transform: rotate(90deg);
}

input:checked ~ .tab-content {
	max-height: 100vh;
}
