
/* stylelint-disable no-descending-specificity */
@import "_site-main-sidebar.css";
@import "_post-grid.css";

.archive-main {
	display: grid;
	gap: 1em;
	margin: 1em;

	@media (--content-query) {
		grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
	}

	@media (--sidebar-query) {
		grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
	}
}


/*--------------------------------------------------------------
# Archive grid items
--------------------------------------------------------------*/

.archive-grid__item {
	display: grid;
	gap: 1em;

	/*--------------------------------------------------------------
	# Grid areas
	--------------------------------------------------------------*/
	grid-template-areas:
		"header"
		"footer"
		"image"
		"summary";
	align-content: inherit;

	@media (--wide-menu-query) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"image header"
			"image summary"
			"footer footer";
	}

	&:not(.has-post-thumbnail) {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			"header"
			"footer"
			"summary";
	}

	& .wp-post-image {
		margin: 0;
	}

	& .entry-header {
		grid-area: header;
		padding: 0;

		& .entry-title {
			margin: 0;
		}
	}

	& .entry-thumbnail,
	& .post-thumbnail {
		grid-area: image;

		@media (--wide-menu-query) {
			grid-row: 1/span 2;
		}

		@media (--content-query) {
			grid-column: 1/span 1;
		}
	}

	& .entry-summary {

		grid-area: summary;
		margin: 0;
	}

	& .entry-footer {
		grid-area: footer;

		@media (--content-query) {
			display: flex;
			align-items: baseline;
		}

		@media (--sidebar-query) {
			flex-direction: column-reverse;
		}

		& .entry-meta {
			margin: 0;
		}

		& .entry-taxonomies {
			line-height: 1;
		}
	}
}

.entry-meta,
.entry-footer,
.entry-taxonomies {
	font-stretch: condensed;
}

.entry-meta {
	margin: 1em 0;
}

.entry-actions {
	position: absolute;
	right: 1em;
	bottom: 1em;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1em 0 0;
}

.entry-footer {
	clear: both;
}

@media (--content-query) {

	.entry-footer {
		padding-right: 0;
		padding-left: 0;
	}
}
