@import "_site-main-sidebar.css";
@import "_post-grid.css";

/*--------------------------------------------------------------
# archive_press css
--------------------------------------------------------------*/

.page-header {
	padding: 1em;

	@media (--content-query) {
		display: flex;
		padding: 0 1em;
		column-gap: 2em;
		flex-flow: row nowrap;
		grid-column: 1 / span 2;
	}

	@media (--sidebar-query) {
		grid-column: 2 / span 2;
		padding: 2em 1em;
	}

	& .archive-title {
		color: var(--color-theme-primary);
	}

	& .title {
		color: var(--color-theme-primary);
	}
}

.page-title {
	text-transform: uppercase;
	line-height: 1;

	@media (--sidebar-query) {
		grid-column: 2 / span 1;
		margin: 0;
		align-items: end;
	}
}

.page-title_meta {
	border-top: 2px solid var(--color-theme-primary);

	@media (--content-query) {
		flex-grow: 1;
		display: flex;
		align-items: center;
	}
}
.page-title_meta-title {
	text-transform: uppercase;
	color: var(--color-theme-secondary);
}
/*--------------------------------------------------------------
#  Grid
--------------------------------------------------------------*/

.archive-main {
	display: grid;
	gap: 2em;
	margin: 1em;

	@media (--content-query) {
		grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
	}

	@media (--sidebar-query) {
		grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
		margin: 0 1em;
	}
}

.entry-meta,
.entry-footer,
.entry-taxonomies {
	font-stretch: condensed;
}

.entry-meta {
	margin: 1em 0;
}

.entry-actions {
	position: absolute;
	right: 1em;
	bottom: 1em;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1em 0 0;
}

/* .entry-footer span {
	margin-right: 1em;
} */

.entry-footer {
	clear: both;
}

@media (--content-query) {
	.entry-footer {
		padding-right: 0;
		padding-left: 0;
	}
}
