@import "_page-header.css";
@import "_site-main-press.css";

/*--------------------------------------------------------------
# archive_press css
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#  Grid
--------------------------------------------------------------*/

.archive-main {
	display: grid;
	margin: 1em;

	@media (--content-query) {
		grid-row-gap: 2em;
	}

	@media (--sidebar-query) {
		grid-template-columns: 1fr 1fr;
		max-width: var(--page-width);
		margin: 0 auto;
	}
}

.entry-meta,
.entry-footer,
.entry-taxonomies {
	font-stretch: condensed;
}

.entry-meta {
	color: var(--global-color-grey);
	font-size: var(--font-size-xsmall);
}

.entry-actions {
	position: absolute;
	right: 1em;
	bottom: 1em;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.page-content {
	margin: 1em 0 0;
}

/* .entry-footer span {
	margin-right: 1em;
} */

.entry-footer {
	clear: both;
}

.single-post {
	@media (--content-query) {
		.entry-thumbnail {
			grid-row: 1/span 2;
			grid-column: 1;
		}
		.entry-footer,
		.entry-header {
			grid-column: 2;
		}
	}
}
