.entry-buttons {

	& .title {
		grid-column: 1/span 2;
		margin-bottom: 0;

		@media (--content-query) {

			grid-column: 1/span 3;
		}

	}

	& .button {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		&:hover {
			color: var(--global-color-dark);
		}
	}

	& .icon {
		margin-left: 5px;
	}
}

.entry-buttons__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
	gap: 1em;

	@media (--content-query) {
		grid-template-columns: auto;
	}

	@media (--sidebar-query) {
		grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
	}

}
