@import "_links.css";

.entry-buttons {

	& .title {
		grid-column: 1/span 2;
		margin-bottom: 0;

		@media (--content-query) {

			grid-column: 1/span 3;
		}

	}

	& .button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		box-shadow: var(--color-theme-secondary) 0 1px 5px, var(--color-theme-secondary) 0 1px 2px;
		border-radius: 6px;
		padding: 10px 0;

		&:hover {
			box-shadow: var(--color-theme-secondary) 0 0 1px, var(--color-theme-secondary) 0 1px 2px;
		}
	}

	& .icon {
		margin-left: 5px;
		fill: var(--color-theme-secondary);
	}
}

.entry-buttons__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
	gap: 1em;

	@media (--content-query) {
		grid-template-columns: auto;
	}

	@media (--sidebar-query) {
		grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
	}

}
