@import "_links.css";

.entry-buttons {

	& .title {
		grid-column: 1/span 2;
		margin-bottom: 0;

		@media (--content-query) {

			grid-column: 1/span 3;
		}
	}
}

.entry-buttons__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
	gap: 1em;
	align-items: baseline;

	@media (--content-query) {
		grid-template-columns: auto;
	}

	@media (--sidebar-query) {
		grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
	}

}
