@import "_site-main.css";
@import "_page-header_filters.css";
@import "_catalog-categories_card.css";

/*--------------------------------------------------------------
# Archive main grid
--------------------------------------------------------------*/
.archive-main {
	display: grid;
	gap: 1em;
	margin: 1em;

	@media (--content-query) {
		grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
	}

	@media (--sidebar-query) {
		grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
	}
}

.entry-meta,
.entry-footer,
.entry-taxonomies {
	font-stretch: condensed;
}

.entry-meta {
	margin: 1em 0;
}

.entry-actions {
	position: absolute;
	right: 1em;
	bottom: 1em;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1em 0 0;
}

.entry-footer {
	clear: both;
}

@media (--content-query) {
	.entry-footer {
		padding-right: 0;
		padding-left: 0;
	}
}

.error {
	padding: 0 1em;
	@media (--wide-menu-query) {
		grid-column: 1 / span 4;
	}
	@media (--sidebar-query) {
		grid-column: 1 / span 5;
	}
}
