@import "_custom-properties.css";

.parent-cat__container {
	margin: 0;
	gap: 1em;
	padding: 1em;
	grid-column: 1/-1;
	background-color: var(--global-color-dark);

	@media (--sidebar-query) {
		grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
		padding: 0 8em 3em 8em;
		gap: 2em;

		&.prod {
			grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
		}
	}
}

.parent-cat__subtitle {
	grid-column: 1/-1;
	text-align: center;
	margin-top: 2em;
}

.category-wrapper {
	position: relative;
	align-items: center;
	justify-items: center;
	transition: transform 0.2s linear;

	&:hover {
		transform: scale(1.05);
	}
}
