@import "_site-main-sidebar.css";
@import "_header-posts.css";

/*--------------------------------------------------------------
# Post content
--------------------------------------------------------------*/
.single-post {
	padding: 1em;

	@media (--content-query) {
		padding: 2em;
	}
}

.post-image__container {
	position: relative;
	grid-column: 1/span 2;

}

.single-post.has-post-thumbnail {

	@media (--content-query) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 2em;
		row-gap: 1em;
	}
}

.post-title {
	display: grid;
	grid-template-rows: auto;
	align-content: flex-start;
	grid-column: 3/-1;
}

.entry-title {

	margin-top: 0;
}

.post-source {

	@media (--content-query) {
		margin-top: 0;
	}
}

.post-title__link {

	& h4 {
		margin: 0;
	}
}

.post-intro {
	color: var(--color-theme-secondary);
	order: 2;

	@media (--content-query) {
		order: unset;
	}

	@media (--sidebar-query) {
		grid-column: 1/-1;
	}
}

.post-date p {
	margin: 0;
}

.post-content {
	grid-column: 1/span 2;

	@media (--content-query) {
		grid-column: 1/span 4;
	}
}

.post-footer {

	@media (--content-query) {
		grid-column: 1/-1;
	}
}

.boilerplate {
	padding: 2em;
	background-color: var(--nav-bk-color);
}

.wp-block-embed {
	margin: 0;

	& iframe {
		max-width: 100%;
	}
}

.post-back-btn {
	display: flex;
	justify-content: center;
}

.post-back-btn .icon {
	margin-right: 0.5em;
}
