/* @import "_site-main-sidebar.css"; */
@import "_page-header.css";

/*--------------------------------------------------------------
# Post content
--------------------------------------------------------------*/
.single-post {
	padding: 1em;
	@media (--content-query) {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 1em 2em;
		padding: 2em;
	}
	@media (--sidebar-query) {
		grid-template-columns: repeat(12, 1fr);
		grid-auto-flow: column;
	}
}

.article-header__image {
	@media (--content-query) {
		grid-column: 2 / span 1;
		grid-row: 1;
	}
	@media (--sidebar-query) {
		grid-column: 8 / span 4;
	}
}

.article-header__title {
	@media (--content-query) {
		grid-column: 1 / span 1;
		grid-row: 1;
	}
	@media (--sidebar-query) {
		grid-column: 2 / span 6;
	}
}

.article-content {
	@media (--content-query) {
		grid-column: 1 / span 2;
		grid-row: 2;
	}
	@media (--sidebar-query) {
		grid-column: 3 / span 8;
	}
}

.post-footer {
	@media (--content-query) {
		grid-column: 1/-1;
	}
	@media (--sidebar-query) {
		grid-column: 1 / span 12;
	}
}

/*  */
/* Submodules */
/*  */
.entry-title {
	margin-top: 0;
}

.post-source {
	display: inline;
	color: var(--color-theme-secondary);
	font-weight: 400;
	@media (--content-query) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.post-title__link {
	& h4 {
		margin: 0;
	}
}

.post-intro {
	color: var(--color-theme-secondary);
	order: 2;

	@media (--content-query) {
		order: unset;
	}

	@media (--sidebar-query) {
		grid-column: 1/-1;
	}
}

.post-date p {
	margin: 0;
}

.boilerplate {
	margin-bottom: 2em;
	& h2 {
		font-size: var(--font-size-medium);
	}
	@media (--sidebar-query) {
		max-width: 60vw;
		margin: 0 auto;
	}
}

.wp-block-embed {
	margin: 0;

	& iframe {
		max-width: 100%;
	}
}

.post-back-btn {
	display: flex;
	justify-content: center;
}

.post-back-btn .icon {
	margin-right: 0.5em;
}
