.site-header {
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.site-branding {
	text-align: center;
	padding: 1em 0;
	margin: 0;
}

.main-navigation {
	margin: 0;
	padding: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;

	& ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& ul ul li {
		padding-left: 1em;
	}

	& a {
		display: block;
		text-decoration: none;
		color: var(--global-font-color);
		padding: 1em 0;
	}

	& .current-menu-item > a,
	& .current-menu-ancestor > a {
		font-weight: 700;
	}
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: block;
	background: transparent;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 0.7em;
	height: 0.7em;
	border: none;
}

.nav--toggle-sub .dropdown-symbol {
	position: absolute;
	width: 60%;
	height: 60%;
	border: solid #333;
	border-width: 0 2px 2px 0;
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

.nav--toggle-sub ul ul {
	display: none;
	position: relative;
	top: 100%;
	width: 100%;
	flex-direction: column;
	background: #121212;
	margin-left: 0;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	z-index: 100;
}

/* END initial styling */

/* .nav--toggle-small */
.nav--toggle-small {

	& .menu {
		display: block;
	}

	& .menu-toggle {
		padding: 0.6em 1.2em 0.5em;
		background: transparent;
		border: none;
		position: absolute;
		top: 25px;
		left: 5px;

		& svg.close {
			display: none;
		}
	}

	& .mobile-menu-container {
		display: none;
		opacity: 0;
		position: absolute;
		background: #121212;
		width: 100vw;
		top: -300px;
		left: 0;
		height: auto;
		padding: 20px 30px;
		transition: opacity 0.1s, top 0.2s ease-out;
	}

	/* mobile menu expanded */
	&.nav--toggled-on {

		& .mobile-menu-container {
			display: block;
			top: 89px;
			opacity: 1;
			z-index: 1001;
			transition: opacity 0.1s, top 0.2s ease-out;
		}

		& .menu-toggle svg.close {
			display: block;
		}

		& svg.open-menu {
			display: none;
		}
	}
}  /* nav--toggle-small END */



/* @media (--narrow-menu-query) {

	.nav--toggle-sub ul ul {
		position: relative;
	}
} */

/* MOBILE end */

/* TABLET start */
@media (--content-query) {

}

/* TABLET end */

/* DESKTOP start */
@media (--sidebar-query) {

	.nav--toggle-small {
		display: none;
	}

	.nav--toggle-sub ul ul {
		position: absolute;
		width: auto;
	}

	.site-header {
		flex-direction: row;
		justify-content: center;
	}

	.main-navigation a:hover,
	.main-navigation a:focus {
		text-decoration: underline;
	}

	.main-navigation ul li a {
		padding: 0.4em 0.5em;
	}

	.main-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.has-sidebar .site {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr 1fr;
		grid-auto-rows: min-content;
		min-height: 100vh;
		align-items: flex-start;
	}

	.has-sidebar .site .site-footer,
	.has-sidebar .site .site-header {
		grid-column: 1/-1;
	}

	.has-sidebar .site .site-main {
		grid-column: 2;
		min-width: 0;
	}
}

/* DESKTOP end */

.nav--toggle-sub li.menu-item--has-toggle,
.nav--toggle-sub li.menu-item-has-children {
	position: relative;
	padding-right: 1.4em;
}

.nav--toggle-sub li.menu-item--toggled-on > ul,
.nav--toggle-sub li:hover > ul {
	display: block;
}

