.entry-buttons {

	& .title {
		grid-column: 1 / span 2;
		margin-bottom: 0;

		@media (--content-query) {
			flex: 1 0 100%;
		}
	}
}

.entry-buttons__wrapper {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
	align-items: baseline;

	@media (--content-query) {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}
}

.button {
	@media (--content-query) {
		display: block;
		justify-content: center;
		text-align: center;
		width: max-content;
		min-width: auto;
	}
}
