/* @import "_links.css"; */

.entry-buttons {

	& .title {
		grid-column: 1 / span 2;
		margin-bottom: 0;

		@media (--content-query) {
			grid-column: 1 / span 3;
		}
	}
}

.entry-buttons__wrapper {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
	align-items: baseline;

	@media (--content-query) {
		gap: 1em;
		grid-template-columns: auto;
	}
}

.button {

	@media (--narrow-menu-query) {
	}

	@media (--content-query) {
		width: auto;
		justify-content: center;
	}

	@media (--sidebar-query) {
		width: auto;
	}
}
