.extra_content__container {
	display: grid;
	gap: 2em;
	grid-column: 1/-1;
}

.extra_content {
	min-height: 50vh;
	padding: 1em;
	gap: 1em;

	@media (--content-query) {
		grid-template-columns: 1fr 1fr;
		gap: 2em;
		padding: 2em 8em;
	}

	& .swap {

		@media (--content-query) {
			order: 2;
		}
	}
}

.embed-info__bottom {

	@media (--content-query) {
		display: flex;
		flex-direction: column;
		justify-content: end;
	}
}

.embed-info__wrap {
	order: 1;

	@media (--content-query) {
		order: unset;
	}
}
