@import "_site-main.css";
@import "_post-grid.css";

.type-page {

	@media (--sidebar-query) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	& .entry-content {

		@media (--sidebar-query) {
			grid-column: 4 / span 6;
		}

		&.full-width {

			@media (--content-query) {
				grid-column: 1/-1;
			}
		}
	}
}

.archive-main {
	display: grid;
	gap: 1em;
	margin: 1em;
}

.archive-main {

	@media (--content-query) {
		grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
	}
}

.archive-main {

	@media (--sidebar-query) {
		grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
	}
}

.site-header.front-page {

	@media (--sidebar-query) {
		position: absolute;
		background-color: transparent;
		width: 100%;
	}
}

.flickity-enabled {
	position: relative;
}

.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.flickity-enabled:focus .flickity-viewport {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* ---- previous/next buttons ---- */

button.flickity-prev-next-button {
	width: 44px;
	height: 44px;
	bottom: 20px;
	top: 3em;
	transform: none;
	transform: translateY(-50%);
	border: none;

	&:hover {
		background-color: transparent;
	}

	@media (--content-query) {
		top: unset;
	}

	& .flickity-button-icon {
		fill: var(--color-theme-primary);
	}
}

.flickity-prev-next-button.previous {
	left: 10px;
}

.flickity-prev-next-button.next {
	right: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
}

.flickity-button {
	position: absolute;
	border: none;
	color: var(--color-theme-primary);
	background-color: transparent;
}

.flickity-button:hover {
	cursor: pointer;
}

.flickity-button:focus {
	outline: none;
	box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
	opacity: 0.6;
}

.flickity-button:disabled {
	opacity: 0.3;
	cursor: auto;

	/* prevent disabled button from capturing pointer up event. #716 */
	pointer-events: none;
}

.flickity-button-icon {
	fill: currentColor;
}

/* Dev custom styles */
.main-carousel {
	height: 83vh;
	margin-bottom: 3em;

	@media (--wide-menu-query) {
		height: 155vh;
	}

	@media (--content-query) {
		height: 55vh;
	}

	@media (--sidebar-query) {
		height: 80vh;
	}

}

/* cell inherit height from carousel */
.carousel-cell {
	max-height: -webkit-fill-available;
	width: 100vw;

	@media (--sidebar-query) {
		height: 80vh;
	}
}

.carousel-cell figure {
	margin: 0;

	@media (--sidebar-query) {
		position: relative;
		height: 80vh;
	}
}

.caption {
	padding: 1em;
	z-index: 1002;

	@media (--content-query) {
		padding: 3em;
		position: absolute;
		bottom: 0;
	}

	@media (--sidebar-query) {
		max-width: 60vw;
	}
}

.caption-link {

	@media (--content-query) {
		display: grid;
		grid-template-columns: 150px auto;
		gap: 1em;
	}
}

.flickity-lazyloaded,
.attachment-full {

	@media (--sidebar-query) {
		width: 100%;
	}
}

.flickity-title {

	@media (--content-query) {
		margin-top: 0;
	}
}



.flickity-prev-next-button.previous {
	left: auto;
	right: 60px;
}

.flickity-prev-next-button.next {
	right: 10px;
}

/* slider_custom_classes */

.group-cells {

	& .carousel-cell {
		width: 50vw;
	}

	& figure {
		display: grid;
		grid-template-rows: 1fr 1fr;
	}

	& .caption {
		position: relative;
		order: 2;
	}
}

.progress-bar {
	height: 20px;
	width: 0;
	background: #333;
}

.inlinePlayButton {
	display: none !important;
}

/* END flickity */
