/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
    # Custom properties
    # Reset
    # Typography
    # Elements
    # Links
# Accessibility
# Layout
# Forms
# Header
    # Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_reset.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";
@import "_headers.css";
@import "_header-search.css";
@import "_grid.css";
@import "_icons.css";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	margin: 0 auto;
	max-width: 100%;
}

.site-main {
	display: grid;

}

.has-sidebar .site {

	@media (--sidebar-query) {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr 1fr;
		grid-auto-rows: min-content;
		min-height: 100vh;
		align-items: flex-start;

		& .site-header,
		& .site-footer {
			grid-column: 1 / -1;
		}

		& .site-main {
			grid-column: 2;
			min-width: 0;
		}
	}
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
}
/* stylelint-enable */

/* stylelint-disable */
button:not(.dropdown-toggle),
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: var(--color-theme-secondary) var(--color-theme-secondary) var(--color-theme-secondary);
	border-radius: 3px;
	background: transparent;
	color: var(--global-font-color);
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.85em 2em;
	cursor: pointer;

	& .icon {
		fill: var(--global-font-color);
	}
}
/* stylelint-enable */

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: var(--color-theme-secondary);
	color: var(--global-font-color-inverse);
	border-color: var(--color-theme-secondary) var(--color-theme-secondary) var(--color-theme-secondary);

	& .icon {
		fill: var(--global-font-color-inverse);
	}
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid var(--border-color-light);
	border-radius: 3px;
	padding: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	color: var(--global-font-color-inverse);
	border: 1px solid var(--border-color-light);
	border-radius: var(--border-radius);
	max-width: 170px;
}

.custom-logo-link {
	display: inline-block;
}

.site-branding {
	text-align: center;
	padding: 1em 0;
	margin: 0;

	@media (--narrow-menu-query) {
		width: 55%;
		position: absolute;
		transform: translateX(23vw);
	}
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small .menu-toggle {
	display: block;
	margin: 0;
	padding: 0.6em 1.2em 0.5em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 80%;
	text-transform: uppercase;
	border: 2px solid var(--color-theme-secondary);
	border-radius: 0;
	background: transparent;


	&.icon {
		border: none;
		position: absolute;
		top: 25px;
		left: 5px;

		& .dashicons-menu-alt::before {
			font-size: 40px;
		}

		& svg.close {
			display: none;
		}
	}
}

.mobile-menu-search {

	& .search {
		position: absolute;
		top: 30px;
		right: 30px;

		@media (--narrow-menu-query) {
			text-align: right;
			left: 30px;
		}
	}
}

.nav--toggle-small .mobile-menu-container {
	display: none;
}

.nav--toggle-small {

	@media (--sidebar-query) {
		display: none;

		& .menu-toggle {
			display: none;
		}

		& .mobile-menu-container { /* mobile menu container */
			display: none;
		}
	}

	&.nav--toggled-on { /* hamburger is active */

		& .mobile-menu-container {
			display: block;
		}

		& .menu-toggle.icon svg.close {
			display: block;
		}

		& svg.open-menu {
			display: none;
		}

	}

	&.icon-nav {

		@media screen and (max-width: 600px) {

			& .mobile-menu-container {
				position: absolute;
				background: var(--global-color-dark);
				width: 100vw;
				top: 300px;
				left: 0;
				height: auto;
				padding: 20px 30px;
				opacity: 0;
				transition: opacity 0.3s, top 0.3s ease-out;
			}

			&.nav--toggled-on {

				& .menu-toggle span.dashicons::before {
					content: "\f158";
				}

				& .mobile-menu-container {
					top: 89px;
					opacity: 1;
					z-index: 1001;
					transition: opacity 0.3s, top 0.3s ease-out;
				}
			}
		}
	}
}

/* @media (--wide-menu-query) { */

.nav--toggle-small .menu {
	display: block;
}

.nav--toggle-sub ul ul {
	display: none;
	position: absolute;
	top: 100%;
	flex-direction: column;
	background: var(--global-color-dark);
	margin-left: 0;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	z-index: 100;

	@media (--narrow-menu-query) {
		position: relative;
		max-width: 90%;
	}
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: block;
	background: transparent;
	position: absolute;
	right: 0;
	width: var(--dropdown-symbol-width);
	height: var(--dropdown-symbol-width);
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	transform: translateY(-50%);
	overflow: visible;

	@media (--content-query) {
		top: 50%;
	}
}

.nav--toggle-sub .dropdown-symbol {
	display: block;
	background: transparent;
	position: absolute;
	right: 20%;
	top: 35%;
	width: 60%;
	height: 60%;
	border: solid var(--border-color-dark);
	border-width: 0 2px 2px 0;
	transform: translateY(-50%) rotate(45deg);
}

.nav--toggle-sub ul ul .dropdown,
.nav--toggle-sub ul ul .dropdown-toggle {
	top: 40%;
	right: 0.2em;
}

.nav--toggle-sub ul ul .dropdown-symbol {
	transform: rotate(-45deg);
}

.nav--toggle-sub .dropdown-toggle:hover,
.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
	pointer-events: none;
}

/* Need menu-item-has-children for non-JS */
.nav--toggle-sub li.menu-item-has-children,
.nav--toggle-sub li.menu-item--has-toggle {
	position: relative;
	padding-right: var(--dropdown-symbol-width-large);
}

/*
     * If the dropdown toggle is active with JS, then
     * we'll take care of showing the submenu with JS.
     */
.nav--toggle-sub li:hover > ul,
.nav--toggle-sub li.menu-item--toggled-on > ul,
.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
	display: block;
}

/*
     * "focus-within" is an alternative to focus class for
     * supporting browsers (all but IE/Edge) for no-JS context
     * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
     *
     * This selector needs to stay separated, otherwise submenus
     * will not be displayed with IE/Edge.
     */
.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
	display: block;
}

/* } */

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	margin: 0 auto 0;
	padding: 0 1em;
	max-width: var(--content-width);
	font-family: var(--highlight-font-family);
	font-stretch: condensed;

	@media (--narrow-menu-query) {
		width: 100%;
		height: 90px;
	}
}


.main-navigation a {
	display: block;
	padding: 0.5em 1em 0.5em 0;
	text-decoration: none;
	color: var(--global-font-color);

	@media (--narrow-menu-query) {
		width: 90%;

	}

	@media (--content-query) {
		width: 100%;
	}
}

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: underline;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

@media (--wide-menu-query) {

	.main-navigation ul li a {
		padding: 0.4em 0.5em;
	}

	.main-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 1em 0 0;
	padding: 2em 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

.site-info {
	text-align: center;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}


/* Main menu and hamburger menu responsive display */

/* Min width possible up to tablet max size */

/* --narrow-menu-query: (max-width: 37.5em) */

/* --tablet-menu-query: (max-width: 48em) */

/* --wide-menu-query: (min-width: 37.5em) */

/* --content-query: (min-width: 48em) */

/* --sidebar-query: (min-width: 60em) */

/* Desktop menu to min width tablet */
.main-navigation_wide-menu {
	display: none;

	@media (--sidebar-query) {
		display: block;

		/* position: relative; */
	}
}

@media (--narrow-menu-query) {

	.nav--toggle-small.nav--toggled-on .mobile-menu-container {
		display: block;
	}
}
