@import "_ajaxsearchpro.css";

/*--------------------------------------------------------------
# Select styles below
--------------------------------------------------------------*/
.button {

	& .icon {
		margin: 0 0 0 5px;
		fill: var(--color-theme-secondary);
	}
}

blockquote,
q {
	quotes: "" "";
}

.wp-block-quote,
blockquote {
	margin: 0 0 1rem;
	padding: 0.5625rem 1.25rem 0 1.1875rem;
	border-left: 10px solid var(--color-theme-primary);
	line-height: 1.6;
	font-size: 140%;
}

.wp-block-quote::before,
blockquote::before {
	content: "\201C";
	font-size: 4em;
	line-height: 0.1;
	vertical-align: -0.4em;
	color: var(--color-theme-primary);
	margin-right: 12px;
}

.wp-block-quote p,
blockquote p {
	margin-top: 0;
}

.entry-content > blockquote {
	padding-left: 1em;
	margin-left: 1.5rem;
}

@media screen and (min-width: 48em) {

	.entry-content > blockquote {
		margin-left: auto;
	}
}

blockquote cite {
	color: var(--color-quote-citation);
	font-size: 13px;
	margin-top: 1em;
	position: relative;
	font-style: normal;
}

cite::before {
	content: "— ";
}
