@import "_yt-player.css";

.entry-header__video {
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	@media (--content-query) {
		height: 60vh;

	}
}

/*--------------------------------------------------------------
# Icon volume toggle
--------------------------------------------------------------*/

.entry-header__video-cover {
	z-index: 1;
}

.video-cover__img-wrap {
	width: 100%;
	height: 100%;
}

.video-cover__img {
	position: absolute;
	min-width: 100vw;

	/* animation: 40s linear 0s infinite running slideUpAndDown; */

	@media (--content-query) {
		animation: 80s linear 0s infinite running slideUpAndDown;
	}
}

.video-volume-btn {
	display: none;

	@media (--content-query) {
		display: block;
		position: absolute;
		right: 30px;
		top: 90px;
		width: 50px;
		opacity: 0;
	}
}

.video-play__wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 100%;

	& .video-play__btns {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background: #000000b3;
	}

	& .icon {
		position: absolute;
	}

	& .icon-play {
		opacity: 1;
		transition: 0.5s opacity ease-in-out;
	}

	&.active {

		& .icon-play,
		.icon-play__title {
			opacity: 0;
		}

		& .video-volume-btn {
			opacity: 1;
			z-index: 999;
		}
	}
}


.icon-play__title {
	position: absolute;
	transform: translateY(47px);
	transition: 1s linear;
	color: var(--color-link);

	@media (--narrow-menu-query) {
		font-size: var(--font-size-regular);
	}

	@media (--content-query) {
		opacity: 0;
	}
}

.video-play__wrap:hover .icon-play__title {
	opacity: 1;
}

.entry-header__video-container {
	min-height: 100%;
	grid-row: 1/span 1;
	overflow: hidden;
	position: relative;

	@media (--content-query) {
		grid-column: 1/-1;
		z-index: 1;
	}
}

@keyframes slideUpAndDown {

	0% {
		transform: translateY(0%);
	}

	15% {
		transform: translateY(-20%);
	}

	30% {
		transform: translateY(-40%);
	}

	45% {
		transform: translateY(-60%);
	}

	65% {
		transform: translateY(-40%);
	}

	80% {
		transform: translateY(-20%);
	}

	100% {
		transform: translateY(0%);
	}
}
