/**
 * Hero video
 */

/* video backgrounds : for mobile layout */
.inline-YTPlayer,
.big-video {

	@media (--content-query) {
		overflow: visible !important;
	}
}

/*--------------------------------------------------------------
# Icon volume toggle
--------------------------------------------------------------*/
.helper-trigger,
.helper-show {
	opacity: 0;
}

.helper-trigger {
	width: 100%;
	height: 100%;
}

.helper-trigger[type="checkbox"]:checked + .helper-show {
	display: block;
	transition: opacity 0.6s linear;
}

.helper-trigger[type="checkbox"]:checked + .helper-show + .helper-hide {
	display: block;
	opacity: 0;
}

.mbYTP_wrapper .YTPOverlay {
	transition-duration: 0.4s !important;
}

.hero-video__controls {
	width: 100%;
	height: 100%;
	right: unset;
	top: unset;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	z-index: 999;

	& .icon {
		position: absolute;
		right: 1em;
	}

	& .icon-play__wrapper {
		position: absolute;
		transform: translate(10px, 10px);
	}

	@media (--content-query) {

		& .icon-play__wrapper {
			position: absolute;
			transform: translate(-50vw, 12vh);

			& .icon-play__hollow {
				stroke: var(--color-link);
				opacity: 0.5;
				cursor: pointer;
			}

			&:hover {
				opacity: 1;
			}
		}

	}

	@media (--sidebar-query) {

		& .icon-play__wrapper {
			position: absolute;
			transform: translate(-50vw, 35vh);

			& .icon-play__hollow {
				stroke: var(--color-link);
				opacity: 0.5;
				cursor: pointer;
			}

			&:hover {
				opacity: 1;
			}
		}

	}

}
