
/*--------------------------------------------------------------
# Offcanvas menu
--------------------------------------------------------------*/
.offcanvas-title {
	padding: 0 1.5em;
	margin: 1em 0;
}

.offcanvas-toggle {
	text-align: right;
	color: var(--color-theme-secondary);
	font-size: var(--font-size-large);

	@media (--content-query) {
		font-size: var(--font-size-regular);
	}

	& .offcanvas-toggle_title {
		font-size: var(--font-size-regular);
	}
}

/* stylelint-disable-next-line no-descending-specificity */
.offcanvas-toggle_title {
	display: none;

	@media (--content-query) {
		display: inline;
	}
}

.offcanvas.overlay {
	background-color: rgba(0, 0, 0, 0.372);
	z-index: 1;
	width: 100vw;
	height: 100%;
	position: absolute;
	visibility: hidden;
}

.offcanvas-menu .close-btn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	cursor: pointer;
}

.offcanvas-menu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	background-color: var(--global-color-dark);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;

	@media (--narrow-menu-query) {

		padding-top: 15px;

		& a {
			font-size: 18px;
		}
	}

	/* Offcanvas search and filter menu */
	& .searchandfilter ul ul {
		padding-left: 0;
	}
}
