
.page-header_catalog {
	border-bottom: 3px solid var(--color-theme-primary);
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: baseline;
	transition: margin-right 0.5s;

	& .offcanvas-toggle {
		text-align: right;
		color: var(--color-theme-secondary);
	}

	& .offcanvas-toggle_title {
		display: none;

		@media (--content-query) {
			display: inline;
		}
	}
}

.offcanvas.overlay {
	background-color: rgba(0, 0, 0, 0.372);
	z-index: 1;
	width: 100vw;
	height: 100%;
	visibility: hidden;
}

.offcanvas-menu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: var(--global-color-dark);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.offcanvas-menu .close-btn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	cursor: pointer;
}

.offcanvas-toggle {
	text-align: right;
	font-size: var(--font-size-large);
	margin-right: 0;
	transition: margin-right 0.5s linear;

	@media (--content-query) {
		font-size: var(--font-size-regular);

	}

	& .offcanvas-toggle_title {
		font-size: var(--font-size-regular);
	}
}

@media (--narrow-menu-query) {

	.offcanvas-menu {
		padding-top: 15px;
	}

	.offcanvas-menu a {
		font-size: 18px;
	}
}
