/*--------------------------------------------------------------
# Offcanvas menu
--------------------------------------------------------------*/

.offcanvas-menu {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	background-color: var(--global-color-dark);
	overflow-x: hidden;
	transition: 0.5s;

	& .close-btn {

		font-size: 36px;
		cursor: pointer;
		padding-left: 40px;
	}

	@media (--narrow-menu-query) {

		padding-top: 15px;

		& a {
			font-size: 18px;
		}
	}

	@media (--sidebar-query) {

		& .asp_w_container {
			width: 85%;
			margin-left: 1.5em;
		}
	}

	& .wpdreams_asl_container {
		max-width: 170px;
		margin: 0 auto 0 1.5em !important;
	}
}

.offcanvas-title {
	margin: 0;
	padding: 5px 1em 10px;
	font-size: 16px;
}

.offcanvas-toggle {
	text-align: right;
	color: var(--color-theme-secondary);
	font-size: var(--font-size-large);

	@media (--content-query) {
		font-size: var(--font-size-regular);
	}

	& .offcanvas-toggle_title {
		font-size: var(--font-size-regular);

		& .search-filter-reset {
			position: absolute;
			bottom: -1.5em;
			right: 0;
			font-size: var(--font-size-xsmall);
		}
	}


}

/* stylelint-disable-next-line no-descending-specificity */
.offcanvas-toggle_title {
	display: none;

	@media (--content-query) {
		display: inline;
	}
}

.offcanvas.overlay {
	background-color: rgba(0, 0, 0, 0.58);
	z-index: 10;
	width: 100vw;
	height: 100%;
	position: absolute;
	visibility: hidden;
}
