@import "_section-header.css";
@import "_post-grid.css";
@import "_modal.css";
@import "_yt-player.css";
@import "_flickity-default.css";
@import "_flickity-slider_large.css";
@import "_flickity-slider_posts.css";
@import "_featured-trailers.css";
@import "_block-library-min.css";

.site-main {
	display: grid;

	@media (--sidebar-query) {
		row-gap: 3em;
	}
}

/* page-home-cd styles */
.archive-main {
	display: grid;
	gap: 1em;
	margin: 1em;

	@media (--content-query) {
		grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
	}

	@media (--sidebar-query) {
		max-width: 1080px;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
	}
}

.type-page {

	@media (--sidebar-query) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	& .entry-content {
		padding: 0 1em;

		@media (--sidebar-query) {
			grid-column: 4 / span 6;
		}

		&.full-width {

			@media (--content-query) {
				grid-column: 1/-1;
			}
		}
	}
}


figure {
	display: grid;
	margin: 1em;
	position: relative;
}

.flickity-title {
	text-transform: uppercase;
}

.press,
.featured-trailers {

	& .caption {
		padding: 0.75em;
		background-color: var(--global-color-grey-dark);
		overflow: overlay;
	}

	& p {
		margin: 0;
	}
}


/*--------------------------------------------------------------
# Archive grid items
--------------------------------------------------------------*/

.archive-grid__item {
	display: grid;
	gap: 1em;

	/*--------------------------------------------------------------
	# Grid areas
	--------------------------------------------------------------*/
	grid-template-areas:
		"header"
		"footer"
		"image"
		"summary";
	align-content: inherit;

	@media (--wide-menu-query) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"image header"
			"image summary"
			"footer footer";
	}

	&:not(.has-post-thumbnail) {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			"header"
			"footer"
			"summary";
	}

	& .wp-post-image {
		margin: 0;
	}

	& .entry-header {
		grid-area: header;
		padding: 0;

		& .entry-title {
			margin: 0;
		}
	}

	& .entry-thumbnail,
	& .post-thumbnail {
		grid-area: image;

		@media (--wide-menu-query) {
			grid-row: 1/span 2;
		}

		@media (--content-query) {
			grid-column: 1/span 1;
		}
	}

	& .entry-summary {

		grid-area: summary;
		margin: 0;
	}

	& .entry-footer {
		grid-area: footer;

		@media (--content-query) {
			display: flex;
			align-items: baseline;
		}

		@media (--sidebar-query) {
			flex-direction: column-reverse;
		}

		& .entry-meta {
			margin: 0;
		}

		& .entry-taxonomies {
			line-height: 1;
		}
	}
}
