@import "_site-main.css";
@import "_page-header_filters.css";
@import "_catalog-categories_card.css";
@import "_post-grid.css";
@import "_forms.css";
@import "_modal.css";

.site-main__products {

	@media (--sidebar-query) {
		position: relative;
		grid-template-columns: repeat(12, 1fr);
	}
}

.product-tabs__wrap {

	@media (--sidebar-query) {
		grid-column: 1 / span 2;
		padding: 0.5em 2em;
	}
}

.product-tabs {
	list-style: none;
	position: relative;

	& li::before {
		content: "\203A";
		position: absolute;
		left: 10px;
		font-size: 25px;
		line-height: 20px;
		color: var(--color-theme-primary);
	}
}

.product-tabs__content {

	@media (--sidebar-query) {
		grid-column: 3 / span 10;
	}
}

.tabs-panel {
	scroll-margin-top: 50vh;
}

.animate-opacity {
	animation: opac 0.8s;
}

@keyframes opac {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.form-widget__wrap {
	position: fixed;
	top: 81vh;
	right: 2rem;
	z-index: 9;
	background-color: var(--color-theme-primary);
	border-radius: 50%;
}

@media (--sidebar-query) {

	.form-widget__wrap {
		top: unset;
		position: absolute;
		bottom: 0;
		right: 3rem;
	}
}

.form-widget__btn {
	border-radius: 50%;
	font-size: 130%;
	width: 140px;
	height: 140px;
	font-weight: 900;
	color: var(--global-font-color-inverse);
	border: 4px solid #fff;
	box-shadow: 1px 1px 11px 0 #0a0a0a5a;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.form-widget__btn span {
	font-size: 60%;
}

.nf-form-cont {
	max-width: 650px;
}

.nf-field-container {
	margin-bottom: 15px;
}

.nf-field-element,
.nf-checked-label,
.nf-field-label {
	color: var(--global-font-color);
}

.nf-before-form-content,
.html-container {
	margin-bottom: 0;
}

.nf-form-fields-required {
	color: #f00;
	font-size: var(--font-size-small);
}

.field-wrap input[type="button"] {
	color: var(--global-font-color-inverse);
}

select.nf-element {
	color: var(--global-font-color);
}
