@import "_site-main.css";
@import "_blocks.css";
@import "_block-library.css";
@import "_forms.css";

/*--------------------------------------------------------------
# Page main styles
--------------------------------------------------------------*/
.page-header {
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid var(--color-theme-primary);
	padding: 0 1em;

	@media (--content-query) {
		padding: 0.5em 2em;
		grid-column: 1/-1;
	}
}

.hidden {
	position: absolute;
	text-indent: -99vw;
	opacity: 0;
}

.site-main__content-width {

	& .entry-content {
		margin: 0 auto;
		padding: 0 1em;
		max-width: var(--content-width);
	}
}

.site-main__content-width-lg {

	& .entry-content {
		margin: 0 auto;
		padding: 0 1em;
		max-width: var(--content-width-lg);
	}
}

.site-main__full-width {

	& .entry-content {
		padding: 0;
	}
}

.content-width > div:not(.wp-block-cover) {

	@media (--sidebar-query) {
		margin: 0 auto;
		padding: 0 1em;
		max-width: var(--content-width);
	}
}

.content-width-lg > div:not(.wp-block-cover) {

	@media (--sidebar-query) {
		margin: 0 auto;
		padding: 0 1em;
		max-width: var(--content-width-lg);
	}
}

.error {
	position: relative;

	@media (--content-query) {
		min-height: 87vh;
	}

	& .entry-content {
		display: grid;
		z-index: 2;
		justify-items: center;
	}
}

.error .button-wrap {
	display: flex;

	& .button {
		margin: 0 1em;
	}
}

.img-404 {
	position: absolute;
	right: 0;
	bottom: -16px;
	width: 65%;
	height: auto;
	z-index: -1;

	@media (--content-query) {
		height: 30vh;
		width: auto;
	}

	@media (--sidebar-query) {
		height: 50vh;
	}
}
