@import "_section-header.css";
@import "_post-grid.css";
@import "_modal.css";
@import "_yt-player.css";
@import "_flickity-default.css";
@import "_flickity-slider_large.css";
@import "_flickity-slider_posts.css";
@import "_featured-trailers.css";

.site-main {
	display: grid;

	@media (--sidebar-query) {
		row-gap: 3em;
	}
}

.type-page {

	@media (--sidebar-query) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	& .entry-content {
		padding: 0 1em;

		@media (--sidebar-query) {
			grid-column: 4 / span 6;
		}

		&.full-width {

			@media (--content-query) {
				grid-column: 1/-1;
			}
		}
	}
}


figure {
	display: grid;
	margin: 1em;
	position: relative;
}

.flickity-title {
	text-transform: uppercase;
}

.press,
.featured-trailers {

	& .caption {
		padding: 1em;
		background-color: var(--global-color-grey-dark);
	}

	& p {
		margin-top: 0;
	}
}
