@import "_site-main.css";
@import "_section-header.css";
@import "_post-grid.css";
@import "_modal.css";
@import "_yt-player.css";

.type-page {

	@media (--sidebar-query) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	& .entry-content {

		@media (--sidebar-query) {
			grid-column: 4 / span 6;
		}

		&.full-width {

			@media (--content-query) {
				grid-column: 1/-1;
			}
		}
	}
}

.icon-play {
	position: absolute;
	justify-self: center;
	align-self: center;

	& [fill] {
		fill: var(--color-link);
	}
}

.archive-main {
	display: grid;
	gap: 1em;
	margin: 1em;

	@media (--content-query) {
		grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
	}

	@media (--sidebar-query) {
		max-width: 1080px;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
	}
}

.flickity-enabled {
	position: relative;
}

.flickity-enabled:focus {
	outline: none;
}

.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
	position: absolute;
	background: transparent;
	border: none;
	color: var(--color-theme-primary);
}

.flickity-button:hover {
	cursor: pointer;
}

.flickity-button:focus {
	outline: none;
	box-shadow: 0 0 0 1px var(--color-theme-secondary);
}

.flickity-button:active {
	opacity: 0.6;
}

.flickity-button:disabled {
	opacity: 0.3;
	cursor: auto;

	/* prevent disabled button from capturing pointer up event. #716 */
	pointer-events: none;
}

.flickity-button-icon {
	fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
	width: 35px;
	height: 35px;

	@media (--content-query) {
		width: 45px;
		height: 45px;
	}

	@media (--sidebar-query) {
		width: 65px;
		height: 65px;
	}
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
	left: auto;
	right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
	right: auto;
	left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
}

/* Dev custom styles */

/* Dev custom styles */

/* Dev custom styles */

/* Dev custom styles */
.flickity-resize .carousel-cell {
	min-height: 100%;
}

.main-carousel {
	width: 100%;
	margin-bottom: 5em;

	@media (--sidebar-query) {
		margin-bottom: 7em;
	}
}

/* cell inherit height from carousel */


/* __top carousel */
.main-carousel__top {
	height: 55vh;

	@media (--content-query) { /* __top */
		height: 40vh;
		margin-bottom: 5em;

	}

	@media (--sidebar-query) { /* __top */
		height: 60vh;
	}

	& figure { /* __top */
		height: 100%;
		grid-template-rows: 1fr 1fr;

		@media (--content-query) {
			justify-items: center;
			grid-template-rows: unset;
			min-height: 100%;
		}
	}

	& img {

		@media (--content-query) {
			position: absolute;
			min-height: 100%;
			object-fit: contain;
		}
	}

	& .carousel-cell { /* __top */
		width: 100%;
		height: 55vh;

		@media (--content-query) { /* __top */
			height: 40vh;
		}

		@media (--sidebar-query) { /* __top */
			width: 68%;
			height: 75vh;
			max-height: 100%;
		}

		&.is-selected::before {
			box-shadow: inset 0 0 0 0 rgb(18 18 18 / 0);
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 0;
			transition: box-shadow 0.7s ease-out;
		}
	}

	& .carousel-cell:not(.is-selected)::before { /* __top */

		@media (--sidebar-query) { /* __top */
			box-shadow: inset 0 0 203px 170px #121212;
			transition: box-shadow 0.4s ease-out;
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 9;
		}
	}

	& .caption { /* __top */
		text-align: center;
		align-self: baseline;

		@media (--content-query) {
			z-index: 9;
			align-content: flex-end;
			align-self: auto;
			padding-bottom: 4em;
		}
	}

	& .flickity-prev-next-button { /* __top */
		top: 40%;
		transform: translateY(-60%);

		@media (--content-query) { /* __top */
			top: 50%;
			transform: translateY(-50%);
		}
	}

	& .flickity-prev-next-button.previous { /* __top */

		left: 10px;

		@media (--sidebar-query) { /* __top */
			left: 17%;
		}
	}

	& .flickity-prev-next-button.next { /* __top */
		right: 10px;

		@media (--sidebar-query) { /* __top */
			right: 17%;
		}
	}
}

/* __press carousel */
.main-carousel__posts {
	height: 45vh;

	@media (--content-query) { /* __three */
		height: 35vh;
		grid-column: 3 / span 8;
	}

	& figure { /* __three */
		grid-template-rows: 30vh 15vh;

		@media (--narrow-menu-query) {
			height: 100%;
		}

		@media (--content-query) {
			grid-template-rows: 20vh 14vh;
		}
	}

	&.catalog figure {
		grid-template-rows: 1fr;
		justify-items: center;
	}

	& .wp-post-image {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	& .carousel-cell { /* __three */
		width: 100%;

		@media (--content-query) {
			width: 33%;
		}
	}

	& .flickity-prev-next-button { /* __three */
		top: 33%;
		transform: translateY(-77%);

		@media (--content-query) { /* __three */
			top: 40%;
			transform: translateY(-60%);
		}

		@media (--sidebar-query) { /* __three */
			top: 35%;
			transform: translateY(-65%);
		}
	}

	& .flickity-prev-next-button.previous { /* __three */

		left: 10px;

		@media (--sidebar-query) { /* __three */
			left: -50px;
		}
	}

	& .flickity-prev-next-button.next { /* __three */
		right: 10px;

		@media (--sidebar-query) { /* __three */
			right: -50px;
		}
	}

	& .post-source {
		align-self: flex-end;
	}
}

figure {
	display: grid;
	margin: 1em;
	position: relative;

	@media (--content-query) {
		margin: 0.5em;
	}
}

.post-source {
	bottom: unset;
	line-height: 3;

	@media (--content-query) {
		line-height: 1;
	}
}

.caption { /* __three */
	display: grid;
	padding: 1em;
	order: 2;

	&.caption__press {
		color: var(--color-theme-secondary);
		background-color: var(--global-color-grey-dark);
	}

	& p { /* __three */
		margin-top: 0;
	}
}

/*
.caption__catalog {

	position: absolute;
	bottom: 0;

	@media (--content-query) {
		max-width: 70%;
		justify-content: center;
		padding: 1em;
		align-content: flex-start;
	}

	@media (--sidebar-query) {
		max-width: 60%;
	}
}
*/

.catalog .caption__catalog {
	position: absolute;
	top: 73%;
}

.flickity-image {

	@media (--narrow-menu-query) {
		max-width: 200px;
	}
}

.catalog-img {
	width: 100%;
}

.flickity-title {
	text-transform: uppercase;
}

/* Featured trailers */
.featured-trailers {
	display: grid;
	gap: 0;
	margin-bottom: 7em;

	@media (--content-query) {
		grid-template-columns: 1fr 1fr;
		grid-column: 3/span 8;
	}

	@media (--sidebar-query) {
		gap: 1em;
	}

	& .caption p {
		margin-bottom: 0;
	}

	& .icon {
		margin-right: 0.5rem;

		& [fill] {
			fill: var(--color-theme-secondary);
		}
	}
}

.featured-trailers__catalog {
	gap: 0;
}

.trailer {
	position: relative;

	@media (--content-query) {
		margin: 0.5em;

	}

	& .flickity-title {
		margin: 0;
		line-height: 1;
		font-size: 110%;

		@media (--content-query) {
			margin: 5px 0;
			font-size: initial;
		}
	}
}

