
/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
    margin: 0 auto 2em;
    max-width: var(--content-width);
    overflow: hidden;
    padding: 0 1.5rem 2em;
    font-family: var(--highlight-font-family);
    font-stretch: condensed;
}

@media (--content-query) {

    .site-main .comment-navigation,
    .site-main .posts-navigation,
    .site-main .post-navigation,
    .site-main .pagination {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.nav-links {
    display: flex;
}

.site-main {

    & .pagination {
        margin-bottom: 1.5em;
        display: flex;
        align-items: center;

        @media (--content-query) {
            grid-column: 1/-1;
        }
    }
}

.pagination .nav-links {
    justify-content: center;
    flex-wrap: wrap;
}

.pagination .page-numbers {
    display: inline-block;
    margin: 0.5em 1em;
    border: 1px solid var(--color-link);
    min-width: 1.75em;
    line-height: 1.75;
    text-align: center;
    text-decoration: none;
}

.pagination a:visited {
    color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
    border-color: var(--color-link-active);
}

.pagination .prev,
.pagination .next {
    font-size: 35px;
    text-decoration: none;
    min-width: auto;
    border-color: transparent;
    line-height: inherit;
    margin: 0 10px;
}

/* .pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
    border-color: transparent;
} */

/* .pagination .dots {
    min-width: auto;
    border: none;
} */

.pagination .current {
    border-color: var(--border-color-dark);
}
