/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/

.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	margin: 0 auto 2em;
	overflow: hidden;
	padding: 2em 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;

	@media (--sidebar-query) {
		padding: 2em 10vw;
	}
}

.posts-navigation .nav-previous,
.post-navigation .nav-previous {

	@media (--content-query) {
		width: 25%;
		flex: 0 0 25%;
	}
}

.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;

	@media (--content-query) {
		flex: 0 0 25%;
	}
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
	grid-column: 1/-1;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: var(--color-link-active);
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--border-color-dark);
}

.post-navigation {
	margin: unset;
	max-width: none;
	width: 100%;
	padding: 0 1em;

	@media (--content-query) {
		grid-column: 1/-1;
		padding-left: 2em;
		padding-right: 2em;
	}

	& .nav-links {
		display: flex;
		justify-content: space-between;
	}
}

/* .page-header, */
.post-navigation,
.page-navigation {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.pagination {
	text-align: center;
}

.entry-content > *,
.post-navigation,
.page-navigation {
	margin-left: auto;
	margin-right: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--page-width);
}

.post-navigation {

	& .dashicons {
		line-height: 0.6;
	}
}
