/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.button-return {

	margin-bottom: 1em;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	margin: 0 auto 2em;
	padding: 2em 1em;
	max-width: var(--content-width);
	overflow: hidden;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

.nav-links {

	@media (--content-query) {
		display: flex;
		justify-content: space-between;
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	padding-bottom: 1em;

	@media (--content-query) {
		padding-bottom: initial;
		width: 40%;
		flex: 0 0 40%;
	}
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: right;

	@media (--content-query) {
		text-align: end;
		flex: 0 0 40%;
	}
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.post-navigation p {

	@media (--narrow-menu-query) {
		margin-top: 0;
	}
}
