@import "_grid";
@import "_custom-properties.css";



/* CUSTOM STYLES
 * archive's (news, press, press releases)
 * TODO: move to specific files
*/
.archive-posts.entry-footer {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin-top: 0;
}

@media screen and (--wide-menu-query) {

	.post-grid__wrapper {
		display: grid;
		grid-template-areas:
			"image title"
			". summary"
			". footer";
		grid-column-gap: 1em;
		padding: 1em;
	}

	.archive-posts.entry-thumbnail {
		grid-area: image;
		grid-row: 1 / span 3;
	}

	.archive-posts.entry-header {
		grid-area: title;
		margin: 0 0;

	}

	.archive-posts.entry-summary {
		grid-area: summary;
		margin-top: 0;
	}

	.archive-posts.entry-footer {
		grid-area: footer;
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		margin: 0 0;
		padding: 0 1.5em;
	}

	.post-grid__wrapper .entry-title {
		margin-top: 0;
	}
}


.go-corner {
	display: flex;
	align-items: center;
	position: absolute;
	width: 32px;
	height: 32px;
	overflow: hidden;
	top: 0;
	right: 0;
	background-color: var(--secondary-color);
	border-radius: 0 4px 0 32px;
}

.go-arrow {
	transform: translate(10px, -2px);
	color: #000;
	font-family: courier, sans;
}

.post-grid__wrapper {
	background: #222;
}

.post-grid .grid-item {
	gap: 1em;
	position: relative;
	top: 0;
	background-color: #2c2c2c;
	border-radius: 4px;
	padding: 32px 24px;
	margin: 12px;
	z-index: 0;
	overflow: hidden;
	border: 1px solid var(--color-link);
}

.post-grid .grid-item img {
	margin-right: 0;
	margin-bottom: 0;
}

.post-grid .grid-item .go-corner {
	opacity: 0.7;
}

.post-grid .grid-item:hover {
	transition: all 0.2s ease-out;
	box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
	top: -4px;
	border: 1px solid var(--primary-color);
	background-color: #1c1c1c;
}

.post-grid .grid-item:hover .go-corner {
	background-color: red;
}

.post-grid .grid-item::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -16px;
	right: -16px;
	background-color: var(--secondary-color);
	height: 32px;
	width: 32px;
	border-radius: 32px;
	transform-origin: 50% 50%;
	transition: transform 0.15s ease-out;
}

.post-grid .grid-item:hover::before {
	-webkit-transform: scale(2.15);
	-ms-transform: scale(2.15);
	transform: scale(2.15);
}

.post-grid .grid-item:hover .go-corner {
	transition: opactiy 0.3s linear;
	opacity: 1;
}

.lead {
	color: var(--color-theme-primary);
}

time {
	color: var(--color-theme-secondary);
}
