/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#
--------------------------------------------------------------*/

/* CUSTOM STYLES
 * archive's (news, press, press releases)
 * TODO: move to specific files
*/


/*--------------------------------------------------------------
# Post grid
--------------------------------------------------------------*/

/* .post-grid__half {
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

	@media screen and (--wide-menu-query) {
		grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	}
} */

/*--------------------------------------------------------------
# Grid item styles
--------------------------------------------------------------*/
.grid-item {
	position: relative;
	top: 0;
	background-color: var(--global-color-light-dark);
	border-radius: 4px;
	padding: 1.5em;
	border: 1px solid var(--color-theme-secondary);

	&:hover {
		transition: all 0.2s ease-out;
		box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
		top: -4px;
		border: 1px solid var(--color-theme-primary);
		background-color: var(--global-color-dark);
	}
}

/*--------------------------------------------------------------
# Archive grid
--------------------------------------------------------------*/
.archive-main {
	display: grid;
	gap: 1em;
	padding: 0 1em;

	@media (--content-query) {
		grid-template-columns: 1fr;
	}

	@media (--sidebar-query) {
		grid-column: 2 / span 7;
		padding: 0;
		grid-template-columns: 1fr 1fr;
	}
}

.archive {

	& .primary-sidebar {

		@media (--sidebar-query) {
			grid-column: 9 / span 3;
		}
	}
}

.archive-grid__item {
	display: grid;
	gap: 0.5em;
	grid-template-areas:
		"header"
		"meta"
		"image"
		"summary";

	&:not(.has-post-thumbnail) {
		grid-template-areas:
			"header"
			"meta"
			"summary";
	}

	& .wp-post-image {
		margin: 0;
	}

	& .entry-header {
		grid-area: header;

		& .entry-title {
			margin: 0;
		}
	}

	& .entry-thumbnail {
		grid-area: image;
	}

	& .entry-summary {
		grid-area: summary;
		margin: 0;
	}

	& .entry-footer {
		grid-area: meta;
		display: flex;
	}
}

.post-grid__wrapper {
	background: var(--global-color-dark);

	@media (--content-query) {
		display: grid;
		grid-template-areas:
			"image title"
			"image summary"
			"image footer";

		& .entry-thumbnail {
			grid-area: image;

			/* grid-row: 1 / span 3; */
		}

		& .entry-header {
			grid-area: title;
			margin: 0 0;
		}

		& .entry-summary {
			grid-area: summary;
			margin-top: 0;
		}

		& .entry-footer {
			grid-area: footer;
			width: 100%;
			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-between;
			margin: 0 0;

			/* padding: 0 1.5em; */
		}

		& .entry-title {
			margin-top: 0;
		}

	}
}


/*--------------------------------------------------------------
# Go corner
--------------------------------------------------------------*/
.go-corner {
	display: flex;
	align-items: center;
	position: absolute;
	width: 32px;
	height: 32px;
	overflow: hidden;
	top: 0;
	right: 0;
	opacity: 0.7;
	background-color: var(--color-theme-secondary);
	border-radius: 0 4px 0 32px;
}

.go-arrow {
	transform: translate(10px, -2px);
	color: var(--border-color-dark);
}

.post-grid {

	&::before {
		content: "";
		position: absolute;
	}

	&:hover .go-corner {
		background-color: var(--color-theme-primary);
		transition: opactiy 0.3s linear;
		opacity: 1;
	}

	&:hover::before {
		-webkit-transform: scale(2.15);
		-ms-transform: scale(2.15);
		transform: scale(2.15);
	}
}


.archive-posts {

	&.entry-footer {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		margin-top: 0;
	}
}
