/*--------------------------------------------------------------
# Single catalog post
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Entry classes
--------------------------------------------------------------*/
.entry {
	display: grid;
	grid-auto-rows: auto;
	padding: 0 1em;
	margin: 1em auto;
	gap: 2em;

	@media (--content-query) {
		grid-template-columns: repeat(12, 1fr);

	}

	@media (--sidebar-query) {
		max-width: 1200px;
	}

	&.video {
		grid-template-rows: 35vh 1fr auto auto auto;
		padding: unset;
		margin: 0;
		max-width: unset;
		gap: 1em;

		@media (--content-query) {
			grid-template-columns: 1fr;
			grid-template-rows: 60vh auto;
			grid-row-gap: 1em;
		}
	}
}

.entry-header {
	display: grid;
	grid-row: 2/span 1;
	grid-template-columns: 1fr 1fr;
	align-items: flex-end;
	gap: 1em;

	@media (--content-query) {
		grid-template-columns: repeat(12, 1fr);
		grid-row: 1/span 1;
		grid-column: 1/span 7;
		align-content: flex-start;
	}
}


.entry-image {
	grid-row: 1/span 1;
	z-index: 2;

	@media (--content-query) {
		grid-column: 8/span 5;
	}

	@media (--sidebar-query) {
		grid-row: 1/span 2;
		padding-right: 1em;

	}

	&.video {

		@media (--content-query) {
			transform: translateY(-5vh);
		}

	}
}

.entry-main {
	display: grid;
	grid-auto-flow: row;
	background: var(--nav-bk-color);
	border-radius: var(--border-radius-lg);
	padding: 0 1em;
	align-items: self-end;

	@media (--content-query) {
		grid-column: 1/-1;
		grid-row: 2/span 1;
		padding: 1em 2em;
	}

	@media (--sidebar-query) {
		grid-column: 1/span 7;
	}

	&.video {

		@media (--sidebar-query) {
			grid-row: 2/span 1;
		}
	}
}

.entry-buttons {
	grid-column: 1/-1;

	@media (--content-query) {
		grid-row: 3/span 1;
		display: grid;
		align-items: baseline;
		gap: 2em;
		padding: 0 2em;
		margin-bottom: 4em;
		grid-template-columns: 1fr;
	}

	@media (--sidebar-query) {
		grid-template-columns: 1fr 1fr;
	}

	&.video {

		@media (--content-query) {
			grid-row: 4/span 1;
		}

		@media (--sidebar-query) {
			grid-row: 3/span 1;
		}
	}
}


/*--------------------------------------------------------------
# Element classes
--------------------------------------------------------------*/

/* crew */
.crew-title {
	color: var(--color-theme-secondary);
	margin-bottom: 0;
	grid-column: 1;

	@media (--content-query) {
		grid-column: 1/-1;
	}
}

.crew-list {

	& h4 {
		margin: 0;
		text-transform: uppercase;
		color: var(--global-color-grey-light);
	}

	& a {
		text-decoration: underline;
	}
}

dt {
	float: left;
	font-size: var(--font-size-small);

	@media (--content-query) {
		min-width: 25%;
	}
}

dd {
	font-size: var(--font-size-small);
}

dd::after {
	content: " ";
	display: block;
	clear: left;
}

.entry-title,
.entry-content,
.breadcrumbs {
	grid-column: 1/span 3;

	@media (--content-query) {
		grid-column: 1/-1;
	}
}

.entry-title {
	margin: 0;
}

.breadcrumbs {
	display: flex;
	align-items: center;
}

.rank-math-breadcrumb p {
	margin: 0;
	font-size: small;
}

.imdb-button {
	grid-column: 1/span 1;

	@media (--content-query) {
		grid-column: 1/span 7;
	}
}

/*--------------------------------------------------------------
# Special case classes
--------------------------------------------------------------*/

/* if video present the info is wrapped in .catalog-video */
.catalog-video {
	padding: 0 1em;
	display: grid;
	gap: 1em;

	@media (--content-query) {
		max-width: 1200px;
		margin: 0 auto;
		grid-template-rows: auto;
		grid-template-columns: repeat(12, 1fr);
	}
}

/* rank math review shortcode */
.rank-math-review-data > p,
.rank-math-review-image,
#rank-math-rich-snippet-wrapper h5.rank-math-title,
.rank-math-total-wrapper > strong,
.rank-math-total {
	opacity: 0 !important;
	position: absolute !important;
}

#rank-math-rich-snippet-wrapper {
	position: relative !important;
}

.nacelle {

	& .crew-title {
		color: var(--global-font-color-inverse);
	}

	& .crew-list dd,
	& .crew-list a {
		color: var(--global-font-color-inverse);
	}
}
