@import "_modal.css";

.catalog,
.dl-list__info,
.entry-main__crew,
.dl-list__crew {
	display: grid;
}

.entry-header {
	border-bottom: none;
	background-color: var(--global-color-dark);
	padding: 1em;

	@media (--content-query) {
		display: grid;
		grid-area: header;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		padding: 2em;
	}
}

.entry-title {
	margin-top: 0;
}

/* initial layout */
@media (--content-query) {

	/* .entry-main input:checked ~ .tab-content {
		padding: 1em 1em 1em 2em;
	} */

	.entry-video {
		grid-area: video;


	}

	.entry-image {
		grid-area: image;
	}

	.entry-main {
		grid-area: main;
		padding-left: 2em;
	}

	.catalog:not(.no-video) {
		grid-template-columns: auto 40%;
		grid-template-areas:
			"header header"
			"video image"
			"main image"
			"footer footer";
	}

	.catalog.no-video {
		grid-template-columns: 60% 40%;
		grid-template-areas:
			"header header"
			"main image"
			"main ."
			"footer footer";
	}

	.no-video .entry-image .wp-post-image {
		transform: translateY(-9vh);
	}
}

/**
  * DEFINITION LISTS
  *
  **/

/* more info */
.dl-list__info {
	grid-template-columns: auto 1fr;
	align-items: flex-start;
	padding: 1em;
	margin-top: 0;
}

.dl-list h4 {
	margin: 0;
	text-align: right;
	text-transform: uppercase;

	@media (--content-query) {
		font-size: var(--font-size-xsmall);
	}
}


/* crew */
.crew__title h2 {
	margin: 0;
}

.dl-list__crew {
	grid-template-columns: auto 1fr;
}

.entry-main__crew,
.entry-buttons {
	padding: 1em;
}

@media (--wide-menu-query) {

	.dl-list__info {
		grid-template-columns: 43% 1fr;
		align-items: flex-start;
	}

	.dl-list__crew {
		grid-template-columns: auto 1fr;
	}

	.entry-main__crew {
		grid-template-columns: 33% 1fr;
		grid-gap: 1em;
		padding: 1em;
	}
}

/* featured image */
@media screen and (--wide-menu-query) {

	.entry-image .wp-post-image {
		transform: translateY(-5vw);
	}
}

/* NEW LAYOUT below */

/* NEW LAYOUT below */

/* NEW LAYOUT below */

/* NEW LAYOUT below */
.entry.entry-new:not(.no-video) {
	grid-template-rows: 26vh 1fr auto auto auto;

	@media (--content-query) {
		grid-template-columns: 1fr 4fr 2fr 1fr;
		grid-template-rows: 2fr auto auto auto auto;
		grid-row-gap: 1em;
	}

}

.entry-video__desktop {
	display: none;

	@media (--content-query) {
		display: block;
	}
}

.entry-video__mobile {
	max-width: 100vw;

	@media (--content-query) {
		display: none;
	}
}

.entry-header__video-new {

	@media (--content-query) {
		grid-area: header;
		grid-column: 1/-1;
		grid-row: 1/span 1;
		min-height: 70vh;
	}


}

.entry-header__container-new {
	padding: 1em;

	@media (--content-query) {
		grid-column: 2/span 1;
		grid-row: 2/span 1;
	}

	& .entry-header__breadcrumbs {
		text-align: left;
	}
}

.entry-image-new {

	@media (--content-query) {
		grid-area: image;
		grid-column: 3/span 1;
		position: relative;

		& .wp-post-image {
			transform: translateY(-35vh);
			position: absolute;
		}
	}
}

.entry-main.entry-main-new {
	padding-left: 0;

	@media (--content-query) {
		grid-area: main;
		grid-row: 3/span 1;
		grid-column: 2/span 1;
	}
}

.entry-buttons.entry-buttons-new {
	padding: 1em;

	@media (--content-query) {
		padding-left: 0;
		grid-column: 2/span 2;
	}
}
