/*--------------------------------------------------------------
# Single catalog post
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Entry classes
--------------------------------------------------------------*/
.entry {
	display: grid;
	grid-auto-rows: auto;
	padding: 0 1em;
	margin: 1em auto;
	gap: 2em;

	@media (--content-query) {
		grid-template-columns: repeat(12, 1fr);

	}

	@media (--sidebar-query) {
		max-width: 1200px;
	}

	&.video {
		grid-template-rows: 35vh 1fr auto auto auto;
		padding: unset;
		margin: 0;
		max-width: unset;
		gap: 1em;

		@media (--content-query) {
			grid-template-columns: 1fr;
			grid-template-rows: 60vh auto;
			grid-row-gap: 1em;
		}
	}
}

.entry-header {
	display: grid;
	grid-row: 2/span 1;
	grid-template-columns: max-content 1fr;
	align-items: flex-end;
	gap: 1em;

	@media (--content-query) {
		grid-template-columns: repeat(12, 1fr);
		grid-row: 1/span 1;
		grid-column: 1/span 7;
		align-content: flex-start;
	}
}


.entry-image {
	grid-row: 1/span 1;
	z-index: 2;

	@media (--content-query) {
		grid-column: 8/span 5;
	}

	@media (--sidebar-query) {
		grid-row: 1/span 2;
		padding-right: 1em;

	}

	&.video {

		@media (--content-query) {
			transform: translateY(-5vh);
		}

	}
}

.entry-main {
	display: grid;
	grid-auto-flow: row;
	background: var(--nav-bk-color);
	border-radius: 6px;
	padding: 0 1em;
	align-items: self-end;

	@media (--content-query) {
		grid-column: 1/-1;
		grid-row: 2/span 1;
		padding: 1em 2em;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		align-items: start;
	}

	@media (--sidebar-query) {
		grid-column: 1/span 7;
	}

	&.video {

		@media (--sidebar-query) {
			grid-row: 2/span 1;
		}
	}
}

.entry-buttons {
	grid-column: 1/-1;

	@media (--content-query) {
		grid-row: 3/span 1;
		display: grid;
		align-items: baseline;
		gap: 2em;
		padding: 0 2em;
		margin-bottom: 4em;
		grid-template-columns: 1fr;
	}

	@media (--sidebar-query) {
		grid-template-columns: 1fr 1fr;
	}

	&.video {

		@media (--content-query) {
			grid-row: 4/span 1;
		}

		@media (--sidebar-query) {
			grid-row: 3/span 1;
		}
	}
}


/*--------------------------------------------------------------
# Element classes
--------------------------------------------------------------*/

/* crew */
.crew-title {
	color: var(--color-theme-secondary);
	margin-bottom: 0;
	grid-column: 1;

	@media (--content-query) {
		grid-column: 1/-1;
	}
}

.crew-list {

	&.people {

		@media (--content-query) {
			grid-column: 1/span 1;
		}
	}

	&.data {

		@media (--content-query) {
			grid-column: 2/span 1;
		}
	}
}

.crew-list h4 {
	margin: 0;
	text-transform: uppercase;
	color: var(--global-color-grey-light);
}

dt {
	float: left;
	margin-right: 10%;
	max-width: 40%;
}

dd {
	margin-left: 50%;
	margin-bottom: 1em;
}

dd::after {
	content: " ";
	display: block;
	clear: left;
}

.entry-title,
.entry-content,
.rank-math-breadcrumb {
	grid-column: 1/span 3;

	@media (--content-query) {
		grid-column: 1/-1;
	}
}

.entry-title {
	margin: 0;
}

.rank-math-breadcrumb p {
	margin: 0;
	font-size: small;
}

.imdb-button {
	grid-column: 1/span 1;

	@media (--content-query) {
		grid-column: 1/span 6;
	}
}

/*--------------------------------------------------------------
# Special case classes
--------------------------------------------------------------*/
.site-header__hero-video {

	@media (--sidebar-query) {
		position: absolute;
		width: 100%;
		background-color: transparent;
	}
}

/* if video present the info is wrapped in .catalog-video */
.catalog-video {
	padding: 0 1em;
	display: grid;
	gap: 1em;

	@media (--content-query) {
		max-width: 1200px;
		margin: 0 auto;
		grid-template-rows: auto;
		grid-template-columns: repeat(12, 1fr);
	}
}
