/**
 * Single catalog post
 **/

.catalog,
.dl-list__info,
.entry-main__crew,
.dl-list__crew {
	display: grid;
}

.entry-header {
	border-bottom: none;
	background-color: var(--global-color-dark);
	padding: 1em;

	@media (--content-query) {
		display: grid;
		grid-area: header;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		padding: 2em;
	}
}

.entry-title {
	margin-top: 0;
}

/* initial layout */
@media (--content-query) {

	/* .entry-main input:checked ~ .tab-content {
		padding: 1em 1em 1em 2em;
	} */

	.entry-video {
		grid-area: video;


	}

	.entry-image {
		grid-area: image;
	}

	.entry-main {
		grid-area: main;
		padding-left: 2em;
	}

	/* .catalog:not(.no-video) {
		grid-template-columns: auto 40%;
		grid-template-areas:
			"header header"
			"video image"
			"main image"
			"footer footer";
	} */

	.no-video .entry-image .wp-post-image {
		transform: translateY(-9vh);
	}
}

/**
  * DEFINITION LISTS
  *
  **/

/* more info */
.dl-list__info {
	grid-template-columns: auto 1fr;
	align-items: flex-start;
	padding: 1em;
	margin-top: 0;
}

.dl-list h4 {
	margin: 0;
	text-align: right;
	text-transform: uppercase;
	color: var(--global-color-grey-light);
	line-height: 1.8;

	@media (--content-query) {
		font-size: var(--font-size-xsmall);
	}
}


/* crew */
.crew-title__wrapper {
	display: grid;

	@media (--content-query) {
		display: initial;
		border-right: 1px solid var(--global-color-grey);
	}

	& .crew-title__button {
		order: -1;
		text-align: center;
	}
}

.crew-title__catalog,
.crew-title {
	margin: 1em 0 0;
}

.crew-title__catalog {
	font-size: var(--font-size-regular);
	border-bottom: 1px solid var(--color-theme-secondary);

	@media (--content-query) {
		border-bottom: initial;
		margin-bottom: 1em;
	}
}

.crew-title {
	color: var(--color-theme-secondary);
	line-height: 3;
}

.dl-list__crew {
	grid-template-columns: auto 1fr;
}

.entry-main__crew,
.entry-buttons {
	padding: 1em;
}

@media (--wide-menu-query) {

	.dl-list__info {
		grid-template-columns: 43% 1fr;
		align-items: flex-start;
	}

	.dl-list__crew {
		grid-template-columns: auto 1fr;
	}

	.entry-main__crew {
		grid-template-columns: 33% 1fr;
		grid-gap: 1em;
		padding: 1em;
	}
}

/* featured image */
@media screen and (--wide-menu-query) {

	.entry-image .wp-post-image {
		transform: translateY(-5vw);
	}
}

/*
 *
 * NEW LAYOUT below
 *
 */

.entry.catalog {
	grid-template-rows: 26vh 1fr auto auto auto;

	@media (--content-query) {
		grid-template-columns: 1fr 4fr 2fr 1fr;
		grid-template-rows: 2fr auto auto auto auto;
		grid-row-gap: 1em;
	}

}

.entry-video__desktop {
	display: none;

	@media (--content-query) {
		display: block;
	}
}

.entry-video__mobile {
	max-width: 100vw;

	@media (--content-query) {
		display: none;
	}
}

.entry-header__video {

	@media (--content-query) {
		grid-column: 1/-1;
		grid-row: 1/span 1;
		min-height: 70vh;
	}
}

.entry-header__container {
	padding: 1em;

	@media (--content-query) {
		grid-column: 2/span 1;
		grid-row: 2/span 1;
	}

	& .entry-header__breadcrumbs {
		text-align: left;
	}
}

.entry-image {

	@media (--content-query) {
		grid-column: 3/span 1;
		grid-row: 2/span 1;
		position: relative;

		& .wp-post-image {
			transform: translateY(-35vh);
			position: absolute;
		}
	}
}

.entry-main {
	display: grid;
	padding-left: 0;

	@media (--content-query) {
		grid-row: 3/span 1;
		grid-column: 2/span 1;
	}

	& .entry-accordion {
		order: 1;
	}
}

.entry-buttons.entry-buttons {
	padding: 1em;

	@media (--content-query) {
		grid-column: 2/span 2;
	}
}

/* NO VIDEO */

/* NO VIDEO */

/* NO VIDEO */

/* NO VIDEO */
.entry.no-video {
	grid-template-rows: auto;

	& .entry-header__container {
		order: 2;

		@media (--content-query) {
			order: unset;
			grid-row: 1/span 1;
		}
	}

	& .entry-image {

		@media (--content-query) {
			grid-row: 1/span 2;
		}

		& .wp-post-image {

			@media (--content-query) {
				transform: translateY(6em);
				position: initial;
			}
		}
	}

	& .entry-main {
		order: 3;

		@media (--content-query) {
			order: unset;
			grid-row: 2/span 1;
		}
	}

	& .entry-buttons {
		order: 4;

		@media (--content-query) {
			order: unset;
			grid-row: 3/span 1;
			grid-column: 2/span 2;
		}
	}
}
