/*--------------------------------------------------------------
# Single catalog post
--------------------------------------------------------------*/

.single-catalog .site-main {

	@media (--wide-menu-query) {
		gap: 4em;
	}
}

.catalog,
.entry-main,
.dl-list__crew {
	display: grid;
}

.entry-title {
	margin-top: 0;
}

/*--------------------------------------------------------------
# DEFINITION LISTS
--------------------------------------------------------------*/

.dl-list h4 {
	margin: 0;
	text-align: right;
	text-transform: uppercase;
	color: var(--global-color-grey-light);
	line-height: 1.8;

	@media (--content-query) {
		font-size: var(--font-size-xsmall);
	}
}


/* crew */
.crew-title__wrapper {
	display: grid;

	@media (--content-query) {
		display: initial;
		border-right: 1px solid var(--global-color-grey);
		padding-right: 1em;
	}

	& .crew-title__button {
		order: -1;
		text-align: center;
	}
}

.crew-title__catalog,
.crew-title {
	margin: 1em 0 0;
}

.crew-title__catalog {
	font-size: var(--font-size-regular);
	border-bottom: 1px solid var(--color-theme-secondary);
	color: var(--global-color-grey-light);

	@media (--content-query) {
		border-bottom: initial;
		margin-bottom: 1em;
	}
}

.crew-title {
	color: var(--color-theme-secondary);
}

.dl-list__crew {
	grid-template-columns: auto 1fr;

	@media (--wide-menu-query) {
		grid-template-columns: auto 1fr;
	}
}

.entry-buttons {
	padding: 1em;
}

/*--------------------------------------------------------------
# NEW LAYOUT below
--------------------------------------------------------------*/

/* initial styles (no video) */
.entry-header__container {
	padding: 1em;
	grid-row: 2/span 1;

	@media (--content-query) {
		grid-column: 1/span 1;
		grid-row: 1/span 1;
	}

	& .entry-header__breadcrumbs {
		text-align: left;
	}

	& .entry-content {

		@media (--sidebar-query) {
			max-width: 40vw;
		}
	}
}

.entry-image {

	@media (--content-query) {
		grid-column: 2/span 1;
		grid-row: 1/span 2;
		position: relative;
	}
}

.entry-main {
	display: grid;
	padding: 1em;

	@media (--wide-menu-query) {
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
		padding: 1em;
	}

	@media (--content-query) {
		grid-column: 1/span 1;
		grid-row: 2/span 1;
		grid-gap: 1em;
		padding: 1em;
	}

	@media (--sidebar-query) {
		grid-auto-rows: min-content;
		grid-template-columns: 1fr 2fr;
	}
}

.entry-buttons {
	padding: 1em;

	@media (--wide-menu-query) {
		grid-column: 1/-1;
	}

	@media (--content-query) {
		grid-column: 1/span 2;
		grid-row: 3/span 1;
		display: grid;
		align-items: baseline;
		gap: 2em;
		padding: 0 2em;
		margin-bottom: 4em;
		grid-template-columns: 1fr;
	}

	@media (--sidebar-query) {
		grid-column: 1/span 2;
		grid-template-columns: 1fr 1fr;
	}
}

/* END initial styles */

.entry.catalog {
	grid-auto-rows: auto;
	padding: 0 1em;

	@media (--content-query) {
		grid-template-columns: 2fr 1fr;
	}

	@media (--sidebar-query) {
		max-width: 1444px;
		margin: 0 auto;
	}
}

/* if video present the info is wrapped in .entry-catalog__content-wrap */
.catalog-wrap {

	@media (--content-query) {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 2fr 1fr;
	}

	@media (--sidebar-query) {
		max-width: 1444px;
		margin: 0 auto;
	}

	& .entry-header__container {

		@media (--content-query) {
			grid-row: 1/span 1;
			grid-column: 1/span 1;
		}
	}

	& .entry-main {

		@media (--content-query) {
			grid-column: 1/span 2;
			grid-row: 3/span 1;
		}

		@media (--sidebar-query) {
			grid-column: 1/span 1;
			grid-row: 2/span 1;
		}
	}

	& .entry-buttons {

		@media (--content-query) {
			grid-row: 4/span 1;
		}

		@media (--sidebar-query) {
			grid-row: 3/span 1;
			grid-column: 1/span 2;

		}
	}

	& .entry-image {

		& img {

			@media (--content-query) {
				transform: translateY(-5vh);
			}

			@media (--sidebar-query) {
				transform: translateY(-15vh);
				position: absolute;
			}
		}
	}
}

.catalog.video {
	grid-template-rows: 35vh 1fr auto auto auto;
	padding: unset;

	@media (--content-query) {
		grid-template-columns: 1fr;
		grid-template-rows: 60vh auto;
		grid-row-gap: 1em;
		max-width: unset;
		margin: unset;
	}
}

.entry.catalog .entry-image {

	@media (--content-query) {
		grid-row: 1/span 2;
		grid-column: 2/span 1;
		padding-right: 1em;
		z-index: 2;
	}

	@media (--sidebar-query) {
		grid-column: 2/span 1;
		grid-row: 1/span 2;
	}
}
