.social-share:not(.ss-posts) {
	display: inline-flex;
	align-items: center;
	grid-column: 2/span 1;
	justify-content: flex-end;

	@media (--content-query) {
		grid-column: 7/span 6;
	}
}

.ss-posts {
	text-align: center;
}

.social-share__icons {
	padding: 0 1em;
}

.share-on {
	margin: 0;
	padding: 0 0.5em 0 0;

	@media (--content-query) {
		margin: 0 1em;
	}
}
