
.social-share {
	max-width: min-content;
	text-align: center;
	margin: 2em auto;

	& .social-share__icons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.social-share__catalog {
	display: flex;
	align-items: center;
	text-align: left;
	margin: 1em 0;

	& .share-on {
		margin: 0 10px 0 0;
	}

	@media (--content-query) {
		margin: 2em 0;
	}
}
