@import "_custom-properties.css";

/* CSS Tricks!!! https://codepen.io/chriscoyier/pen/xBmYJN */

/* grid item's wrapper */
.subcategory-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: var(--grid-item-row-gap-sm) 0;
}

/* grid item */
.grid-item {
	position: relative;

	/* padding-bottom: var(--grid-item-row-gap); */
}

/* block image */
.grid-item__img {
	z-index: 9;
}

/* grid item content */
.grid-item__hover .grid-item__content {
	background-color: orange;
	color: var(--global-color-dark);
	padding: 0.5rem 1rem 1rem 1rem;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

@media (--wide-menu-query) {

	/* grid item's wrapper */
	.subcategory-wrapper {
		gap: var(--grid-item-row-bottom-spacing) 0;
	}

	/* grid item */
	.grid-item {
		position: relative;
		padding-bottom: var(--grid-item-row-gap);
	}

	/* grid item's content static */
	.grid-item__hover .grid-item__content {
		position: absolute;
		padding: 0.2rem 1rem;
		opacity: 1;
		height: var(--grid-item-row-gap);
		top: calc(100% - 14rem);
		transition: transform 0.4s ease-in-out;
		z-index: -1;
	}

	/* grid item's content on hover */
	.grid-item__hover:hover .grid-item__content,
	.grid-item__hover a:hover .grid-item__content {
		opacity: 1;
		transform: translateY(100%);
	}
}
