/* CSS Tricks!!! https://codepen.io/chriscoyier/pen/xBmYJN */

/* grid item's wrapper */
.subcategory-wrapper {
	display: grid;
	grid-gap: var(--grid-item-row-gap-sm) 0;

	@media (--content-query) {
		grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
		gap: var(--grid-item-row-bottom-spacing) 0;
	}
}

/* grid item */
.grid-item {
	position: relative;

	& .title {
		color: var(--global-color-dark);
		margin: 0;
		font-size: var(--font-size-normal);
	}

	& .subcategory-image {

		@media (--narrow-menu-query) {
			min-width: 100%;
		}
	}

	@media (--content-query) {

		& img {
			height: 100%;
			object-fit: cover;
		}

		& .title {
			padding: 1em 0 0 0;
			margin: 0;
			font-size: var(--font-size-small);
		}
	}

	& .grid-item__content {
		color: var(--global-color-dark);
		padding: 0.5rem 1rem 1rem 1rem;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

		@media (--narrow-menu-query) {
			background-color: var(--color-theme-primary);
		}
	}
}

.grid-item__plain .grid-item__content {
	height: 100%;
}


/* block image */
.grid-item__img {
	z-index: 9;
}


@media (--wide-menu-query) {


	/* grid item */
	.grid-item {
		position: relative;
		padding-bottom: var(--grid-item-row-gap);
	}

	/* grid item's content static */
	.grid-item__hover .grid-item__content {
		position: absolute;
		padding: 0.2rem 1rem;
		opacity: 1;
		height: var(--grid-item-row-gap);
		width: 100%;
		top: calc(100% - 14rem);
		transition: all 0.4s ease-in-out;
		z-index: -1;
		line-height: 1;

	}

	/* grid item's content on hover */
	.grid-item__hover:hover .grid-item__content,
	.grid-item__hover a:hover .grid-item__content {
		background-color: var(--color-theme-primary);
		opacity: 1;
		transform: translateY(100%);
	}
}

.entry-actions {
	position: absolute;
	right: 2em;
	bottom: 7em;
}

.post-edit-link {
	color: #939393;
	font-size: 8px;
	position: absolute;
}
