.banner {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;

	& .grid {
		align-items: center;
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}

	& .banner__img {
		position: absolute;
		z-index: -1;
		left: 0;
		width: auto;
		height: 100%;
		min-width: max-content;

		@media (--content-query) {
			height: auto;
			width: 100%;
		}
	}
}
