@import "_modal.css";

.wonder-section {

	/* position: relative; */
	background-repeat: no-repeat;
	transition: filter 0.4s linear;

	& .wrap {
		padding-right: 1.25rem;
		padding-left: 1.25rem;
		max-width: 1120px;
		margin: 0 auto;
		transition: filter 0.4s linear;
		align-items: center;

		@media (--content-query) {
			padding-right: 1.875rem;
			padding-left: 1.875rem;
		}
	}

	& .img-wrap {
		transition: filter 0.4s linear;
	}

	/* TODO: bring back the hover! */
	&:hover {

		& .wrap .img-wrap {
			filter: drop-shadow(2px 4px 6px #000);
		}
	} /* END hover */

	& .grid__half {

		@media (--content-query) {
			grid-gap: 8em;
		}
	}

	& .grid__third {

		@media (--content-query) {
			grid-template-columns: 1fr 2fr;
			gap: 4em;
		}
	}

	& .grid__third-flip {

		@media (--content-query) {
			grid-template-columns: 2fr 1fr;
			gap: 4em;
		}
	}

	& .img-fill__wrap {

		@media (--content-query) {
			align-items: end;
		}
	}

	& .col {
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;

		@media (--content-query) {
			padding-top: 1.875rem;
			padding-bottom: 1.875rem;

			&.img-fill {
				padding-bottom: 0;
				margin-bottom: 0;

				& .img-wrap {
					margin-bottom: 0;
				}
			}
		}
	}

	& .flip {

		@media (--content-query) {
			order: 2;
		}
	}
}

.banner__feat {
	position: relative;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	overflow: hidden;
}

.banner__feat-img_wrap {
	display: flex;
	align-items: center;
}

.banner__feat-img {
	min-width: 100%;
}
