.post-type-archive-press {
	.sidebar {
		section {
			&:nth-of-type(1) h3 {
				&:before {
					content: url("//localhost:3000/nacelle/nacelle/wp-content/themes/nacelle/src/assets/images/contact-icon.svg");
					width: 200px;
					height: 200px;
					padding-right: 10px;
				}
			}
			&:nth-of-type(2) h3 {
				&:before {
					content: url("//localhost:3000/nacelle/nacelle/wp-content/themes/nacelle/src/assets/images/folder-icon.svg");
					width: 200px;
					height: 200px;
					padding-right: 10px;
				}
			}
		}
	}
}

.press-row {
	position: relative;
	@include breakpoint(medium) {
		flex-direction: row;

		&:hover {
			svg .newspaper-icon {
				fill: $true-black;
			}

			.news-image-hover-background {
				opacity: 1;
				top: -48px;
			}
		} // hover
		.news-image-hover-background {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
	}
	.press-row-content {
		border-radius: $global-radius;
	}

	@include breakpoint(small only) {
		.news-image-hover-background {
			display: none;
		}
	}

	&:not(.press-row-reversed) {
		.news-image-hover-background {
			top: -48px;
			left: -72px;
		}
	}
}

.press-row-img {
	img {
		width: 100%;
		border-radius: 50%;
		@include shadow01;

		@include breakpoint(medium) {
			max-width: 240px;
			width: auto;
		}
	}
}

.press-row-content {
	z-index: 0;
	padding: 1.5rem;
	@include transition;

	svg .newspaper-icon {
		fill: $light-gray;
	}
}

.press-row-content-author,
.press-row-content-time {
	font-size: 0.875rem;
	margin-bottom: 0;
	color: $dark-gray;
}

.press-row-reversed {
	.news-image-hover-background {
		right: -72px;
	}
	.press-row-content {
		@include breakpoint(medium) {
			order: 2;
			padding: 1.5rem;
			width: 100%;
		}
	}

	.press-row-img {
		@include transition;
		@include breakpoint(medium) {
			order: 1;
		}
	}

	@include breakpoint(medium) {
		.press-row-content {
			order: 1;
			border-top-left-radius: $global-radius;
			border-bottom-left-radius: $global-radius;
		}

		.press-row-img {
			order: 2;
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
		}
	}
}
.feed-container {
	border-bottom: 1px solid;
	.archive-title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	footer {
		align-items: flex-end;
	}
}
