

.catalog-aside {
	@include breakpoint(large) {
		margin-top: -60px;
	}
	@include breakpoint(xlarge) {
		margin-top: -70px;
	}
	.wp-post-image {
		box-shadow: $thumbnail-shadow;
		width: 100%;
	}
	> .grid-x {
		@include flex-align($x: center, $y: middle);
	}
	.artwork-container {
		.link-icons-container {
			@include flex-align($x: center, $y: middle);
		}
		.link-icons {
			padding: 1em;
			background: $medium-gray;
			box-shadow: $thumbnail-shadow;
			border-bottom-right-radius: $card-border-radius;
			border-bottom-left-radius: $card-border-radius;
			a img {
				padding: 4px;
			}
		}
	}
}
.category-intro {
	border-bottom: 1px solid $primary-color;
}