
.accordion-content .extra-metadata .title p {
    color: #4591e5;
}

.accordian-open > .mx-0 {
    box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.49);
}

.accordion-content {
    // @include xy-grid-container;
    background-color: $primary-color;
    padding: 0;
    box-shadow: $thumbnail-shadow-inner;
    .title {
        color: $medium-gray;
    }
    .extra-metadata {

        .title p {
            color: $medium-gray;
        }
        p {

        }
    }
}
.accordian-open {
    button {
        display: flex;
        align-items: center;
    }
    .fas {
        color: $success-color;
        font-size: 40px;
        padding-left: 1rem;
    }
    > .grid-x {
        // @include xy-gutters($gutter-position: left right bottom);
        @include flex-align($x: center, $y: middle);
    }
}
.accordion-line {
    height: 1px;
    background: $white;
    padding-right: 1em;
    margin-right: 1rem;
}
.accordion-title {
    padding: 0;
    font-size: 1rem;

    &:hover,
    & :visited {
        background: transparent;
    }
}
.accordion-item:last-child > :last-child {
    border-radius: 0;
}
