.meta-accordion.catalog-bottom-meta {
    width: 150vw;
    margin-left: -50%;
    margin-top: 1rem;
}
.accordion-content {
    // @include xy-grid-container;
    padding: 0;
    box-shadow: $thumbnail-shadow-inner;
    .extra-metadata a {
        color: $medium-gray;
    }
}
.accordian-open > .grid-x {
    @include xy-gutters($gutter-position: left right bottom);
    @include flex-align($x: center, $y: center);
}
.accordion-line {
    height: 1px;
    background: $white;
    padding-right: 1em;
    margin-bottom: 1em;
}
.accordion-title {
    padding: 0;
    margin-bottom: 2em;
    span {
        padding-left: 1em;
        font-size: 120%;
        color: $success-color;
    }
}
.accordion-item:last-child > :last-child {
    border-radius: 0;
}
