button,
.button {
font-size: .95rem;
}
.sites-button {
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

// toggle buttons
.mobile-app-toggle {
  display: flex;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  margin-bottom: $mobile-app-toggle-margin-bottom;

  .button {
    font-size: .95rem;
    z-index: 3;
    text-transform: uppercase;
  }
}


