// https://get.foundation/building-blocks/blocks/image-hover-wrapper.html
// hover cards

$image-hover-wrapper-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
$image-hover-wrapper-transition-delay: 0.25s;
$image-hover-wrapper-banner-width: 100%;
$image-hover-wrapper-banner-bottomspace: 0;
$image-hover-wrapper-banner-bg: rgba($true-black ,0.8);
$image-hover-wrapper-icon-size: 60px;

.link-lg-container {
    @include xy-gutters($gutter-position: top right);
    .link-lg > .cell {
      @include xy-gutters($gutter-position: bottom);
    }
}

.image-hover-wrapper {

  a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;

    img {
      float: left;
      overflow: hidden;
      height: 50vw;
      @include breakpoint(medium up) {
        height: 15vw;
      }
    }

    .image-hover-wrapper-reveal {
      background-color: rgba(0, 0, 0, 0.7);
      color: $white;
      display: inline;
      height: 100%;
      margin-left: -100%;
      opacity: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
      transition: $image-hover-wrapper-transition;
      transition-delay: $image-hover-wrapper-transition-delay;

      &:hover {
        opacity: 1;
        transition: $image-hover-wrapper-transition;
      }

      &:hover p {
        opacity: 1;
        transform: translateY(-100%);
        transition: $image-hover-wrapper-transition;
        transition-delay: $image-hover-wrapper-transition-delay;
      }

      p {
        bottom: 0;
        display: block;
        opacity: 0;
        font-size: 1.25rem;
        position: absolute;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        transition: $image-hover-wrapper-transition;
      }

    }
    .fas {
      font-size: $image-hover-wrapper-icon-size;
      transform: rotate(-90deg);
    }
  }

  .image-hover-wrapper-banner {
    background-color: $image-hover-wrapper-banner-bg;
    color: $white;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    bottom: $image-hover-wrapper-banner-bottomspace;
    width: $image-hover-wrapper-banner-width;
    z-index: 10;

  }
}
.solo-link {
  a {
    padding: 0.85em 1em;
  }
  p {
    margin-bottom: 0;
  }
}


// END hover cards

.cards-container {

  @include xy-grid;

  .card {
    @include breakpoint(small) {
      @include xy-cell(12);

      .card-content {
        padding: 1rem;
      }

    }

    @include breakpoint(medium) {
      @include xy-cell(1 of 3, true, 0.7rem );

    }

  }
}

// main category cards
.macro-cat-cards {

    .catalog-title {
        @include transition;
    }
    .img-container {
        padding: 0.25em;

        &:hover {
            img {
                @include hover;
            }
            .catalog-title {
                @include hoverNS;
            }
        }

        img {
            border-radius: $callout-radius;
            @include nothover;
            width: 100%;
        }
    }

}




.callout,
.callout-body {
    box-shadow: $callout-shadow;
}

.callout-body img {object-fit: cover;width: 100%;}
.callout-hover-reveal .callout-footer {
    display: none;
}
.callout-footer {
    position: absolute;
    background-color: $primary-color;
    padding: $callout-footer-padding;
    font-size: .75rem;
    position: relative;

    & * {
        color: $white;
    }

    p {
        margin-bottom: 0;
        border-radius: $card-border-radius;
    }
}
.media-callout-container {
    @include xy-grid-collapse(cell, margin, top, medium);

}


/* TRUNKATE mixin for multiline */
// http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -0.2em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.callout-footer p {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
}


#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}

#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}

#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}


// from customizer

/* products: hover boxes post text */
.callout-footer p:before {
	content: "";
}
.callout-footer p:after {
	content: "";
}
/* elipsis: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
.callout-content {
	overflow: hidden;
	position: relative;
	line-height: 1.2em;
	max-height: 3.6em;
	text-align: justify;
	margin-right: -1em;
	padding-right: 1em;
}
.callout-content:before {
	content: "...";
	position: absolute;
	right: 10px;
	bottom: 0;
}
.callout-content:after {
	content: "";
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background: white;
}