.featured-hero {
  box-shadow: inset 0 -3px 4px 0 rgba(0, 0, 0, 0.3), inset 0 5px 6px 0 rgba(0, 0, 0, 0.3), 0 0 0px 0 rgba(0, 0, 0, 0.3);
  @include breakpoint(medium) {
      display: flex;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // height: rem-calc(175);
      margin-bottom: 2rem;
      @include flex;
      @include flex-align(left, middle);
  }

  @include breakpoint(xlarge) {
    // height: rem-calc(185);
    }


    > .grid-x {
        width: 100%;
    }
    a.bounce i.far {
        font-size: 3rem;
    }
    .no-mobile .play {
        a.bounce {
            color: $medium-gray;
        }
    }
    .no-desktop .play {
        a.bounce {

        }
    }
}

header.featured-hero {

    &.catalog.featured-hero {
        background-color: $medium-gray;
    }
    .catalog button i {
        margin-right: 0.5rem;
    }
    h1:not(.entry-title) {
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -2px;
        color: black;
        margin-bottom: 0;
        @include breakpoint(medium) {
            font-size: 3rem;
        }
        @include breakpoint(large) {
            font-size: 7rem;
            padding: 3rem 0;
        }
    }
    &.contact h1 {
        font-size: 4rem;
    }
}


// album/dvd/ cover
.feat {

    // z-index: 9;
    @include breakpoint(medium) {
        margin-top: -60px;
    }
    @include breakpoint(xlarge) {
        margin-top: -70px;
    }
    .wp-post-image {
        box-shadow: $thumbnail-shadow;
        width: 100%;
    }
    >.grid-x {
        @include flex-align($x: center, $y: middle);
    }
    .artwork-container {
        .link-icons-container {
            @include flex-align($x: center, $y: middle);
        }
        .link-icons {
            padding: 1em;
            background: $medium-gray;
            box-shadow: $thumbnail-shadow;
            border-bottom-right-radius: $card-border-radius;
            border-bottom-left-radius: $card-border-radius;
            a img {
                padding: 4px;
            }
        }
    }

}

.featured-hero.lg {
    .entry-title-lg {
        font-size: 5.1875rem;
        color: $primary-color;
        font-weight: 600;
        letter-spacing: -6px;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        @include breakpoint(medium) {
            font-size: 7.1875rem;
        }
    }

}
