.searchandfilter label {
    // color: $secondary-color;
}

// sorting products.php file
.productions {
    .sorting {
        display: none;
        align-items: center;
        justify-content: center;
        font-weight: 600;

        @include breakpoint(medium) {
            justify-content: flex-end;
        }

        .section-title {
    width: 100%;
}
        h4 {
            text-transform: uppercase;
            margin-bottom: 0;
            padding: 0 18px 0 10px;
            border-right: 1px solid $dark-gray;
            font-weight: 700;

        }

        form ul {
            display: flex;

            li {
                margin-left: 1rem;
            }

            select {
                border: 0;
                font-size: 0.875rem;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 1.4;
                height: auto;
                @include breakpoint(medium) {
                    font-size: 1.25rem;
                }
            }
        }
    }
}

// ninja forms hide top required text
.nf-before-form-content .nf-form-fields-required {
    display: none;
}
// ninja button
input.nf-element[type="button"] {
    @include primary-button;
}

#mc_embed_signup label {
    color: $primary-color;
}


.widget_ninja_forms_widget {
    .nf-form-title {
        & * {
            color: $white;
        }
    }

}

    .nf-field-label label {
        & * {
            color: $white;
        }
    }