// Apply outline styles only when input method is keyboard
// remove :focus style via What Input using progressive enhancement
// so :focus isn't left broken if JavaScript fails

$anchor-dark-color: $black;
$anchor-dark-color-hover: scale-color($black, $lightness: 20%);

[data-whatinput="mouse"] a:focus,
button:focus [data-whatinput="touch"] a:focus,
button:focus {
    outline: none;
}

footer.footer a {
    color: $anchor-dark-color;
    &:hover {
        color: $anchor-dark-color-hover;
    }
}

// embedded content
// https://www.advancedcustomfields.com/resources/oembed/
// http://embedresponsively.com/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    background: black;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.crew .no-bullet {
    margin-bottom: 1rem;
}
.link-light a {
    color: #000 !important;
}
