.media-object {
    position: relative;
    img {
        margin: 0 0 1rem 0;
        @include breakpoint(medium) {
            margin-right: 1rem;
        }
        @include breakpoint(large) {
            margin-bottom: 0;
        }
    }
}
