.media-object {
    position: relative;
    img {
        margin: 0 0 1rem 0;
        @include breakpoint(medium) {
            margin-right: 1rem;
        }
        @include breakpoint(large) {
            margin-bottom: 0;
        }
    }
}

.thumbnail {
    border-radius: 0;
}

// snapwidget
.snapwidget.mobile {
  display: block;
}

.snapwidget.desktop {
  display: none;
}


@include breakpoint(medium) {
  .snapwidget.desktop {
    display: block;
  }

  .snapwidget.mobile {
    display: none;
  }
}



// video
//https://cfxdesign.com/how-to-make-the-wordpress-video-shortcode-responsive/
.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
	width: 100% !important;
	height: 100% !important;
}
.mejs-container {
  padding-top: 56.25%;
  background: black !important;
}
.wp-video, video.wp-video-shortcode {
	max-width: 100% !important;
}
video.wp-video-shortcode {
	position: relative;
}
.mejs-mediaelement {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.mejs-controls {
	display: none;
}
.mejs-overlay-play {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto !important;
	height: auto !important;
}