.reveal.productsModal {
    background: black;

    .close-button span {
        color: white;
    }
}
.reveal:focus {
    outline: none;
}

// .reveal.synopsis {
//     background: $light-gray;
//     color: $medium-gray;
// }