
header {
    h1.entry-title {
        font-weight: 800;
    }
}

.primary-title {
    border-bottom: 2px solid;
}

.cell.tagline {
	top: 11vh;
	padding: 1em;
	h2 {
		margin-bottom: 0;
		font-size: 1.5em;
	}
}


