
header {
        h1.entry-title {
        font-weight: 800;
        color: $white;
    }
}

// mobile title bar
.title-bar .menu-icon {
    position: absolute !important;
}

// single-catalog.php titles
.catalog .entry-title {
    color: $primary-color;
}
