.sidebar {
  h3 {
    font-weight: 600;
  }
  i.fas + a,
  i.fas + p {
  	font-size: .85rem;
  	display: inline-flex;
  	padding-left: 0.5rem;
  }
}

.sya_container ul { list-style: none; }

.sya_container h4 a:last-child {
    color: $success-color;
}
