
.page-template-front-grid,
.page-template-front {

    .front-grid {
        .top-content {
            height: calc(100vh - 131px);
        }
        .bottom-content {
            height: 100vh;
        }
    }

    .site-header {
        box-shadow: none;

    }

    header,
    .site-navigation,
    .z-5,
    .site-title-bar {
        z-index: 5;
    }

    // top nav
    .top-bar,
    .top-bar ul,
    .site-title-bar {
        background: transparent;

        .menu-item a {
            color: $white;
        }
    }

    .home-content {
        @include breakpoint(medium up) {
            height: 100vh;
        }
    }

    .scroll-arrow {
        @include flex;
        @include flex-align(center);
    }

    .site-navigation.top-bar {
        background: transparent;

    }

    .relative-container {
        position: relative;
    }

    .absolute-container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .home-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        @include breakpoint(medium up) {
            height: 100vh;
        }
    }

    .more {

        height: 86vh;
        // justify-content: center;

        button {
            color: $white;
        }
    }

    .footer {

        .footer-grid {
            section {
                z-index: 5;
            }
        }
    }

    .button::before {
        font-family: "Font Awesome 5 Brands";
    }

    // font awesome icons
    i.fas {
      color: $white;
    }

}


.page-template-front-grid {
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
        .footer-grid {
            section {
                z-index: 5;
            }
        }
    }
}
    