.page-template-front-carousel {
	.tagline {
		font-size: 20px;
		margin-top: 0.5rem;
		@include breakpoint(medium) {
			position: absolute;
			top: 5vh;
			z-index: 1;
			margin-top: 0;
		}
		@include breakpoint(large) {
			top: 8vh;
		}
	}
}
