.front-grid__top {
	position: relative;
	> .cell,
	.scroll-arrow {
		z-index: 1;
	}
}
.front-grid__overlay {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.page-template-front-grid {
	position: relative;
}

