.page-template-front-carousel {
	.top-bar {
		position: absolute;
		width: 100%;
	}
	.tagline {
		position: absolute;
		z-index: 1;
		top: 15vh;
		font-size: 20px;
		@include breakpoint(medium) {
			top: 20vh;
		}
		@include breakpoint(large up) {
			top: 10vh;
		}
	}
}
