.front-partners {

    @include breakpoint(large) {
            max-width: 90rem;
    }

    @include breakpoint(xlarge) {
            max-width: 115rem;
    }
  .tabs-container {
    display: flex;
    align-items: center;
  }

  .tabs-content {
    border: none;
    background: transparent;
        height: 800px;

    .logo-circle {
      width: 100%;
      visibility: hidden;
      @include breakpoint(medium) {
          visibility: visible;
      }
    }
  }

  .tabs {
    border: none;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include breakpoint(medium) {
            flex-direction: column-reverse;
    }

    .partner-link {
      position: relative;
      display: flex;
      justify-content: center;
    }
    .partner {
      position: absolute;
      width: 80%;
      display: flex;
      flex-direction: row;
      height: 85%;
      // justify-content: center;

      h3 {
        color: white !important;
        align-self: center;

        @include breakpoint(medium only) {
              font-size: 18px;
      text-align: center;
        }
      }
      .region {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .region-top {
        color: white !important;
        position: absolute;
        top: 30px;
        width: 100%;
        display: block;

        @include breakpoint(medium) {
                top: 12px;
        }

        @include breakpoint(xlarge) {
                top: 55px;
        }
      }
    }
    &.vertical > li {
      background: transparent;
    }
    .region h5,
    .region-top h5 {
        color: $primary-color;
    }
    .tabs-title.one.is-active {
.region-top {
        @include breakpoint(medium) {
            display: none;
        }
    }
    .region {
        @include breakpoint(small only) {
            display: none;
        }
    }
    }

    .tabs-title.two {
      .region {
        @include breakpoint(medium) {
          bottom: 21px;
        }
      }
      &.is-active .region {
        display: none;
      }
    }

    .tabs-title {
      &:first-child {
       
        @include breakpoint(medium) {
            margin-top: -145px;
        }
        @include breakpoint(xlarge) {
             margin-top: -335px;
        }
      }

      &:not(.is-active) {
        z-index: 1;
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: center;

        .region-top,
        .region {

            h5 {
                display: block;
                color: white;
                font-size: 1em;
                         
                @include breakpoint(medium) {
                    font-size: 1.5em;
                }
            }

        }

        .region {
                                @include breakpoint(small only) {
                display: none;
            }
        }
        .one .region,
        .region-top {
            h5 {
                color: white;
            }
        }
        h3 {
          opacity: 0;
        }
      }

      &.is-active {
        z-index: 99999;
        background-image: url("http://localhost/nacelle/nacelle/wp-content/uploads/2019/06/Oval.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

        @include breakpoint(small only) {
                width: 253%;
        }

      }

      .placeholder-tab {
        visibility: hidden;
      }

      & > a:hover {
        background: transparent;
      }
    }
    a[aria-selected="true"] {
      background: transparent;
    }
  }
  .tabs-content {
    background-color: transparent;

    @include breakpoint(large) {
      background: url("https://nacellecompany.com/wp-content/themes/nacellecompany_2019-07-29_12-04/dist/assets/images/icons-circle.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 87%;
    }


  }
  .tabs-panel {
    &.is-active {
      position: relative;
      width: 100%;
    }
  }
  .logo-outer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    @include breakpoint(medium up) {
      justify-content: center;
    }

    .logo-container {
      z-index: -1;
      // padding-left: 10vw;
      // padding-right: 10vw;
      // padding-top: 14vw;
      background: transparent;

      @include breakpoint(medium) {
            // padding-top: 21vw;
      }
      @include breakpoint(large) {
            // position: absolute;
      }
    @include breakpoint(xlarge) {
            // padding-top: 300px;
      }
    }
  }
}
