.home {
    .home-container {
        height: 100%
    }
    .home-img {
        padding: .25em;
        img {
            height: auto;
            width: 100%;
            object-fit: fill;
            border-radius: $button-radius;
            box-shadow: $thumbnail-shadow
        }
    }
}
