.main-talent {
    .catalog-hero {
        .hero-text {
            z-index: 9;
        }
        .button {
            margin: 0 auto;
        }
    }
}

// https://css-tricks.com/a-lightweight-masonry-solution/
// https://codepen.io/thebabydino/pen/BajGQgQ
$w: Min(20em, 100%);
$s: .5em;

/* masonry grid styles */
.grid--masonry {
  display: grid;
  grid-template-columns: repeat(auto-fit, $w);
	grid-template-rows: masonry;
	justify-content: center;
	grid-gap: $s;
	padding: $s;
	
    > * { 
        align-self: start 
    }
    .grid--masonry__image {
        display: block;
        width: 100%;
        border-radius: 4px;
        box-shadow: 2px 2px 5px rgba(#000, .7);
        transition-duration: .5s;
        &:hover {
            transform: scale(1.1);
            transition-property: transform, box-shadow;
            z-index: 1;
            box-shadow: 5px 8px 11px rgba(#000, .7);
        }
    }
}
// hover effect: https://codepen.io/Julka85/pen/JydPmN
