
.tabs-content,
.tabs {
	background: transparent;
	border: none;
}

.tabs-products {
	border-bottom: 3px solid transparent;
	.tabs-title {
		h3 {
			margin-bottom: 0;
			&::before {
				content: "\203A";
			}
		}
	}
}
