.teammember {
	position: relative;
	.position {
		opacity: 0;
		transition: $slider-transition;
	}
	.team-info {
		padding: 0 1rem;
		position: absolute;
		max-width: 75%;
		border-radius: $global-radius;
		top: 60%;
		transition: $slider-transition;
		@include breakpoint(large) {
			padding: 0 2rem;
			top: 50%;
		}
		.name {
			font-weight: 600;
			margin-bottom: 1rem;
			margin-top: 7rem;
			transition: $slider-transition;
		}
	}
	.thumbnail.member {
		transition: $slider-transition;
		position: relative;
		margin-bottom: 8rem;
		@include breakpoint(medium) {
			margin-bottom: 4.5rem;
		}
		&:hover {
			transform: scale(1.1);
			& + .hover-icon {
				opacity: 0.2;
			}
		}
	}
	.hover-icon {
		position: absolute;
		top: -7%;
		left: -7%;
		width: 114%;
		z-index: -1;
		max-width: 150%;
		opacity: 0;
		transition: $slider-transition;
	}
	&:hover {
		.position {
			opacity: 1;
			color: $true-black;
		}
		.team-info {
			@include shadow;
			box-shadow: 1px solid rgb(151, 143, 143);
		}
		.name {
			margin-top: 7.5rem;
			color: $true-black;
		}
	}
}
