html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

.main-container {
	margin-top: 1rem;
	@include breakpoint(medium) {
		@include xy-grid-container;
		&.thin {
			max-width: 1000px;
		}
	}
}

.main-grid {
	@include xy-grid();
	margin-top: 2rem;
	justify-content: center;

	&.sidebar-left {
		// Place the sidebar below main content on small screens ...
		@include breakpoint(small) {
			.main-content {
				order: 1;
			}
			.sidebar {
				order: 2;
			}
		}

		// ... and to the left on medium-up screens, when using the sidebar-left template
		@include breakpoint(medium) {
			.main-content {
				order: 2;
			}
			.sidebar {
				order: 1;
			}
		}
	}

	// Full width template
	.main-content-full-width {
		@include xy-cell(12);

		&.split-layout {
			margin-left: 0;
			margin-right: 0;
			width: 100vw;
		}
	}

	// Default template
	.main-content {
		@include breakpoint(small) {
			@include xy-cell(12);
		}

		@include breakpoint(medium) {
			@include xy-cell(9);
			&.thin {
				width: calc(58% - 3.75rem);
			}
		}
		@include breakpoint(medium only) {
			width: calc(100% - 3.75rem);
		}
	}

	.sidebar {
		height: fit-content;
		border-radius: 6px;

		@include breakpoint(small) {
			@include xy-cell(12);
		}

		@include breakpoint(medium) {
			@include xy-cell(3);
			margin-right: 0;
		}
	}
}

.category-film,
.category-album,
.category-special,
.category-series {
	.in-view {
		// height: 325px !important;
		@include transform(slideInFromBottom);
	}
}

.single {
	&.single-catalog {
		article.catalog {
			position: relative;
		}
	}
	// press releases
	&.single-press_release {
		.press {
			padding-bottom: 1rem;
		}
		.press h1 {
			font-weight: 600;
			text-transform: uppercase;
		}
		.intro * {
			margin-bottom: 0;
			font-size: 110%;
		}
		.nav-links {
			@include xy-grid;
			justify-content: space-between;
			color: $success-color;
		}
		.content {
			footer {
				.title b {
					border-bottom: 1px solid $primary-color;
				}
			}
		}
	}
}
.press_release {
	.press,
	.intro {
		margin-bottom: 1rem;
		border-bottom: 3px solid;
	}
}
header.press {
	footer {
		p {
			margin-bottom: 0;
		}
	}
}

.sya_date {
	font-weight: 600;
}

header.press {
	footer {
		p {
			margin-bottom: 0;
		}
	}
}

.sya_date {
	font-weight: 600;
}
