html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.main-container {
  margin-top: 3rem;
  @include breakpoint(medium) {
      @include xy-grid-container;
  }
}

.grid-y.medium-grid-frame {
    z-index: 1;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    // margin-top: 3rem;
    // margin-bottom: 9rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(9);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(3);
      margin-right: 0;
    }

  }
}

.category-film,
.category-album,
.category-special,
.category-series, {
     .in-view {
        // height: 325px !important;
        @include transform(slideInFromBottom)
     }
 }

.single {
    &.single-catalog {
        article.catalog {
            position: relative;
        }
        .entry-content {
            padding-bottom: 4rem;
            .title {
                color: $primary-color;
            }
        }
    }
// press releases
    &.single-press_release {
        .press {
            padding-bottom: 1rem;
        }
        .press,
        .intro {
            margin-bottom: 1rem;
            border-bottom: 3px solid $primary-color;
        }
        .press h1 {
            font-weight: 600;
            text-transform: uppercase;
        }
        .intro h4 {
            color: $success-color;
            margin-bottom: 0;
        }
        .nav-links {
            @include xy-grid;
            justify-content: space-between;
            color: $success-color;
        }
        .content {
            footer {
                .title b {
                    border-bottom: 1px solid $primary-color;
                }

            }
        }
    }
}

.feed-container {
    border-bottom: 1px solid $light-gray;

    .archive-title {
        text-transform: uppercase;
        @include breakpoint(medium) {
            padding-left: 1rem;
        }

    }
}

header.press {
    footer {
        p {
            margin-bottom: 0;
        }
    }
}


.sya_date {
    font-weight: 600;
}
