.footer-container {
  @include xy-grid-container;
  margin-top: rem-calc(60);
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;

    section {
        @include xy-cell();
        @include breakpoint(large) {
          @include xy-cell(auto);
        }
        &.widget .widget_media_image {
            @include breakpoint(small only) {
                text-align: center;
            }
        }
        .icon-container {
            text-align: center;

            @include breakpoint(medium) {
                text-align: right;
            }
            a.nav-link {
                padding-left: 1rem;
            }
            svg {
                width: 2rem;
            }
        }
    }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
