
.footer-container {
  // @include xy-grid-container;
  border-top: 1px solid $medium-gray;
  margin-top: rem-calc(10);
  background: $footer-background;
  color: $dark-gray;
}
.space-please {
    padding-top: 11rem;
}
.footer-grid {
  @include xy-grid;
  padding: rem-calc(15) 0;

  section {
    display: flex;
    justify-content: center;
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);

    }
    p {
        margin-bottom: 0;
    }

    &:nth-child(1) {
        justify-content:  flex-start;
    }
    &:nth-child(2) {
        // justify-content: center;
    }
    &:nth-child(3) {
        font-size: 25px;
        @include breakpoint(large) {
            justify-content: flex-end;
        }
        a {
            color: $dark-gray;
            padding: 0.7rem 0.5rem;
        }
    }
} // end SECTION
    .newsletter a {
        font-weight: 900;
    }
    .c-footer-widgets {
        text-align: center;
    }
    .r-footer-widgets {
        span {

        }
    }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}


// .off-canvas-content {
//   min-height: 100%;
//   /* equal to footer height */
//     margin-bottom: -78px;
// }
// .off-canvas-content:after {
//   content: "";
//   display: block;
// }
// #footer,
// .off-canvas-content:after {
//   /* .push must be the same height as footer */
//     // height: 78px;
// }
