// titles
h4, .h4 {
    font-weight: 400;
}
h2 {
    text-transform: uppercase;
}

.entry-title {

    &.black {
        color: $black;
    }

    &.sm {
        font-size: 1em;

        @include breakpoint(medium up) {
            font-size: 2em;
        }
    }
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;

    @include breakpoint(medium) {
        justify-content: flex-start;
    }
}

// front.php header

.page-template-front {
    .top-bar {
        position: absolute;
        width: 100%;
    }
}

// top nav bar

.nav-container {
    .right {
        .menu-item {
            a {
                color: $white;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1.12px;
            }

            &.current-menu-item {
                border-bottom: 1px dotted white;
                border-top: 1px dotted white;

                a {
                    color: $white;
                }
            }
        }
    }
}
