// titles
h4,
.h4 {
	font-weight: 400;
}
h2 {
	text-transform: uppercase;
}

.entry-title {
	&.sm {
		font-size: 1em;

		@include breakpoint(medium up) {
			font-size: 2em;
		}
	}
}

.section-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 10px 0;

	@include breakpoint(medium) {
		justify-content: flex-start;
	}
}

@include breakpoint(small only) {
	.sorting a {
		padding: 15px 0.5rem;
		border: none;
		box-shadow: none;
		&:hover {
			border: none;
			box-shadow: none;
			color: #7fd2e6;
		}
	}
}

.category-intro {
	border-bottom: 3px solid $primary-color;
}