// titles
h4, .h4 {
    font-weight: 400;
}
h2 {
    text-transform: uppercase;
}

.entry-title {

    &.black {
        color: $black;
    }

    &.sm {
        font-size: 1em;

        @include breakpoint(medium up) {
            font-size: 2em;
        }
    }
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;

    @include breakpoint(medium) {
        justify-content: flex-start;
    }
}

// front.php header

.page-template-front {
    .top-bar {
        position: absolute;
        width: 100%;
    }
}

// top nav bar

.nav-container {
    .right {
        .menu-item {
            a {
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1.12px;
            }

            &.current-menu-item {
                border-bottom: 1px dotted white;
                border-top: 1px dotted white;
            }
        }
    }
}

// from customizer

/* nav dropdown */
.is-dropdown-submenu {
	box-shadow: 0px 6px 3px #000000d1;
	border-top: solid 1px #000000d1 !important;
	outline: solid 2px #00000026;
}

/* nav active item:not dropdown */
.nav-container .right .menu-item:not(.is-submenu-item).current-menu-item {
	border-bottom: 1px dotted #fff;
	border-top: 1px dotted #fff;
}
