.hero-section {
	height: 60vh;
	position: relative;
	left: 0;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	.hero-section-text {
		color: #fefefe;
		text-shadow: 1px 1px 2px #0a0a0a;
		z-index: 9;
	}
}
#big-video {
	position: absolute;
	overflow: hidden;
	height: inherit;
	width: 100%;
}
.big-video-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: #000000c8;
}
#big-video .video {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
#big-video video {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#big-video .video-element {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 100%;
}