.hero-section,
.video-latest {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	#big_video {
		// height: 100%;
		position: absolute;
		overflow: hidden;
		height: inherit;
		width: inherit;
	}
	.big-video-cover {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 0;
		background: #000000c8;
		@include breakpoint(large) {
			height: 100%;
		}
	}
	.hero-text {
		z-index: 1;
	}
}
.hero-info-crew-wrap {
	@include breakpoint(medium) {
		display: block;
	}
}
.mobile-video-container {
	@include breakpoint(medium down) {
		width: 100%;
		height: auto;
	}
	@include breakpoint(small only) {
		width: 100%;
		height: 250px;
	}
	@include breakpoint(medium only) {
		width: 100%;
		height: 450px;
	}
}

.catalog-hero {
	@include breakpoint(medium) {
		// height: 100%;
	}
	@include breakpoint(large) {
		height: calc(60vw - 25em);
	}
}
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
	.mobile-video-container {
		width: 100%;
		height: 520px;
	}
	// .catalog-hero {
	// 	height: 0;
	// }
}

.catalog-modal {
	height: 100%;
}
.modal-video {
	width: 100%;
	height: 100%;
}

.hero-section-text {
	color: #fefefe;
	text-shadow: 1px 1px 2px #0a0a0a;
	z-index: 2;
	position: unset !important;
	.play {
		opacity: 0;
		visibility: hidden;
	}
	.pause {
		opacity: 1;
		position: absolute;
		left: 7px;
		top: 0;
		margin-bottom: 0;
		width: auto;
		@include breakpoint(medium up) {
			left: 0;
		}
		.buttton {
			padding: 0 1em;
			border: none;

			&:hover {
				background-color: transparent;
			}
		}
	}
	&.cover-on {
		.play {
			opacity: 1;
			visibility: visible;
		}
		.pause {
			opacity: 0;
		}
	}
}

// #big_video .video {
// 	z-index: 1;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 0;
// 	padding-bottom: 56.25%;
// }
// #big_video video {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// }
// #big_video .video-element {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	background-position: 50% 50%;
// 	background-repeat: no-repeat;
// 	background-size: auto 100%;
// }

// video backgrounds : for mobile layout
.inline-YTPlayer,
.big-video {
	@include breakpoint(medium up) {
		overflow: visible !important;
	}
}
.player {
	@include breakpoint(small only) {
		overflow: visible !important;
	}
}
.full-hero-video {
	@include breakpoint(small only) {
		height: calc(100vh - 15rem);
	}
	@include breakpoint(medium) {
		width: auto;
		overflow: hidden;
		position: relative;
		flex-wrap: nowrap;
		align-items: stretch;
	}
	.mb_YTPlayer {
		@include breakpoint(small only) {
			background-image: none !important;
		}
	}
	.mbYTP_wrapper {
		@include breakpoint(small only) {
			display: none;
		}
	}
}
.full-hero-video--content {
	justify-content: flex-start;
	@include breakpoint(medium up) {
		height: calc(100vh - 100px);
		justify-content: flex-end;
	}
	@include breakpoint(small only) {
		.synopsis {
			display: none;
		}
	}
}
