.hero-section,
.catalog-modal,
.video-latest {
	height: 60vh;
	width: 100%;
	position: relative;
	left: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	&.video {
		height: 100vh;
	}
	&.medium-height {
		height: 70vh;
	}
	&.catalog-modal {
		height: 80vh;
	}
	#big-video {
		position: absolute;
		overflow: hidden;
		height: inherit;
		width: inherit;
	}
	.big-video-cover {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 0;
		background: #000000c8;
	}
	.hero-text {
		z-index: 1;
	}
}
.modal-video {
	width: 100%;
	height: 100%;
}

.hero-section-text {
	color: #fefefe;
	text-shadow: 1px 1px 2px #0a0a0a;
	z-index: 9;
	position: unset !important;
	.play {
		opacity: 0;
		visibility: hidden;
	}
	.pause {
		opacity: 1;
		position: absolute;
		left: 0;
		bottom: 0;
		margin-bottom: 0;
		width: auto;
		.buttton {
			padding: 0 1em;
			border: none;

			&:hover {
				background-color: transparent;
			}
		}
		.button.is-active {
			border: none;
			padding: 0 1em;
			&:hover {
				background-color: transparent;
			}
			.icon {
				fill: transparent;
				stroke: $white;
			}
		}
	}
	&.cover-on {
		.play {
			opacity: 1;
			visibility: visible;
		}
		.pause {
			opacity: 0;
		}
	}
}

#big-video .video {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
#big-video video {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#big-video .video-element {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

// video backgrounds : for mobile layout
.inline-YTPlayer,
.big-video {
	@include breakpoint(small only) {
		padding-top: 1rem;
		height: 80vh !important;
		overflow: visible !important;
	}
}
.player {
	@include breakpoint(small only) {
		overflow: visible !important;
	}
}
