.site-header {
	box-shadow: $thumbnail-shadow;
	z-index: 11;
	position: relative;
}
// Navigation breakpoints
.mobile-menu,
.site-title-bar {
	@include hide-for(large);

	path.svg-icon {
		fill: $white;
	}
}
.page-template-front,
.page-template-front-carousel {
	.site-navigation.top-bar {
		background: transparent;
	}
}
.site-navigation {
	.left,
	.desk {
		display: none;
	}
	// display: flex !important;
	// @include show-for(large);
	.menu-item a {
		@include breakpoint(large) {
			padding: 0.7rem;
		}
	}
}
.top-bar,
.top-bar ul:not(.submenu) {
	background-color: transparent;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a {
	position: relative;
	padding-right: 0.5rem;
}
// Site title
.site-desktop-title a {
	font-weight: bold;
}
.custom-logo {
	@include breakpoint(medium) {
		max-height: 200px;
		max-width: 200px;
		width: auto;
	}
	@include breakpoint(small only) {
		width: 150px;
		max-height: 85px;
		padding: 10px 0;
	}
}

.off-canvas {
	> ul.menu {
		height: auto;
		padding: 1rem;
	}

	.title-bar-title {
		a {
			font-size: 1rem;
			color: $primary-color;
		}
	}
}

.mobile-menu,
.mobile-off-canvas-menu {
	.menu .is-active > a {
		background-color: lighten($dark-gray, 5%);
	}
}
// Tablet and desktop menu
.top-bar {
	justify-content: center;
	path.svg-icon {
		fill: $white;
	}

	.top-bar-left,
	.top-bar-right {
		flex: 0 1 auto;
		margin: 0;
	}

	.nav-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&.left-too {
			@include breakpoint(medium) {
				justify-content: center;
			}
		}
		@include breakpoint(medium) {
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			padding: 0 2rem;
		}
	}

	.left,
	.right {
		display: flex;
		min-width: 33.3333333%;
		align-items: center;
	}

	.left,
	.right,
	.site-desktop-title.top-bar-title {
		width: auto;
		@include breakpoint(medium) {
			margin: 0.25em 0.5em;
		}
		@include breakpoint(large) {
			margin: 0.25em 2em;
		}
	}
	.nav-container {
		.left,
		.right {
			justify-content: flex-end;
			.desktop-menu {
				@include breakpoint(medium) {
					justify-content: flex-end;
				}
			}
		}
		&.left-too {
			@include breakpoint(medium) {
				justify-content: center;
			}
			.right {
				@include breakpoint(medium) {
					justify-content: flex-start;
				}
			}
		}
	}

	.site-desktop-title.top-bar-title {
		text-align: center;
	}

	ul#menu-right-top-bar {
		display: inline-flex;
	}

	.dropdown.menu .submenu {
		border: 0;
	}

	.dropdown.menu .has-submenu.is-down-arrow a {
		padding-right: 1rem;
	}

	.dropdown.menu .has-submenu.is-down-arrow > a::after {
		border: 0;
	}

	.dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
		display: none;
	}
}

.nav-container {
	.menu-item {
		a {
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1.12px;
		}

		&.current-menu-item {
			border-bottom: 1px dotted white;
			border-top: 1px dotted white;
		}
	}
	&.left-too {
		.menu-item {
			a {
				text-transform: none;
				font-weight: 400;
			}
		}
	}
}
/* nav dropdown */
.is-dropdown-submenu {
	box-shadow: 0px 6px 3px #000000d1;
	border-top: solid 1px #000000d1 !important;
	outline: solid 2px #00000026;
}

/* nav active item:not dropdown */
.nav-container .right .menu-item:not(.is-submenu-item).current-menu-item {
	border-bottom: 1px dotted #fff;
	border-top: 1px dotted #fff;
}

.site-navigation {
	@include breakpoint(small only) {
		padding: 0; // prevents container visibility on small screens
	}
}
// WP post navigation
.post-navigation {
	@include clearfix;
	@include breakpoint(small only) {
		padding-bottom: 1rem;
		margin-bottom: 2rem;
		border-bottom: 2px solid;
	}
}

.mobile-nav {
	.site-mobile-title {
		max-width: 10rem;
		margin: 0 auto;
	}
}
// filter sidebar
.filter-sidebar input[type="submit"] {
	display: block;
	width: 200px;
	margin: 0;
	cursor: pointer;

	&:hover {
		background: $primary-color;
	}
}
// sidebar
.sidebar {
	.searchandfilter ul {
		margin-left: 0;
	}

	.widget_nav_menu .sub-menu {
		list-style: none;
		font-weight: 500;
	}

	.widget_nav_menu .menu {
		flex-direction: column;
		font-weight: 600;
	}
}
// search bar slide out
// https://codepen.io/arthurra/pen/KhCyk

.off-canvas-content {
	.oc-container {
		height: 100vh;
	}

	.searchandfilter {
		input,
		select {
			// width: auto;
			min-width: auto;
			max-width: 200px;
		}

		select {
			margin: 0;
		}

		input[type="submit"] {
			background: scale-color($primary-color, $lightness: -15%);
			padding: 0.5rem;

			&:hover {
				background: $primary-color;
			}
		}
	}
}

.header-search-container {
	display: flex;
	position: relative;
	align-items: center;
	width: 35px;
	@include breakpoint(medium) {
		width: 0;
	}

	ul {
		margin-bottom: 0;
	}

	input {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		float: left;
		width: 0;
		height: 2em;
		margin: 0;
		background: #fff;
		color: #6a5d4f;
		font-size: 1em;
		padding: 0;
		border: 0;
		border-radius: 5px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		-moz-transition: all 0.25s;
		-webkit-transition: all 0.25s;
		@include breakpoint(medium) {
			margin: 1em;
		}
	}

	input:focus {
		outline: none;
		box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25),
			0 1px 5px rgba(0, 0, 0, 0.15);
	}

	.searchandfilter h4 {
		margin: 0;
		font-size: 13px;
		text-transform: uppercase;
	}

	.button i {
		margin-top: 0.3em;
	}

	.button:active {
		border: 0 !important;
		text-shadow: 0 0 0;
	}
}

// back to top btn
// https://codepen.io/adventuresinmissions/pen/suzKB
.to-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(74, 144, 226, 0.85) url("../images/chevron-up-solid.svg")
		no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.to-top.to-top-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
	z-index: 999999;
}
.to-top.to-top-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: 0.5;
}
.no-touch .to-top:hover {
	background-color: #e86256;
	opacity: 1;
}
@media only screen and (min-width: 768px) {
	.to-top {
		right: 20px;
		bottom: 20px;
	}
}
@media only screen and (min-width: 1024px) {
	.to-top {
		height: 40px;
		width: 40px;
		right: 30px;
		bottom: 106px;
	}
}

// edit post link
.edit-post {
	display: inline;
	position: fixed;
	left: 48%;
	bottom: 120px;
}

// absolute positioned top nav
.page-template-front-circles,
.page-template-front-grid,
.page-template-products {
	.top-bar {
		@include breakpoint(medium up) {
			position: absolute;
			width: 100%;
			background-color: transparent !important;
		}
	}
}

.page-template-front-grid .top-bar .nav-container .right .desktop-menu a,
.page-template-front-grid .top-bar ul .menu-item a {
	color: #fff;
}

// menu descriptions
.menu-item {
	&.external-link a:hover:after {
		content: "open new tab";
		position: absolute;
		right: 0;
		width: auto;
		top: 17px;
	}
	// a {
	// position: relative;
	// z-index: 25;
	// .menu-item-description {
	// 	position: absolute;
	// 	left: -9000px;
	// 	width: 0;
	// 	overflow: hidden;
	// }
	// &:hover,
	// &:focus,
	// &:active {
	// 	.menu-item-description {
	// 		display: block;
	// 		position: absolute;
	// 		top: 1.5em;
	// 		left: 1.5em;
	// 		width: 10em;
	// 		background-color: #cff;
	// 		text-align: center;
	// 	}
	// }
	// }
}

// Mobile menu
.top-bar {
	display: flex;
	position: static;
}
nav-container.left-too,
.nav-container .right {
	width: 100%;
}
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
	width: 100%;
	background-color: #202020;
	.menu .is-active > a {
		background: #000;
	}
	.has-submenu-toggle button {
		width: 100%;
	}
	.submenu-toggle::after {
		margin: auto 1em auto auto;
	}
}
/* 	 top nav search */
.header-search-container {
	position: absolute;
	right: 2em;
	top: 3em;
}
.search-container.desktop:hover {
	width: 270px;
	outline: 0;
	height: 71px;
	background: #202020;
}

.search-container.desktop:hover {
	left: -250px;
}
.search-container form,
.search-container input[type="text"] {
	max-width: 261px;
	width: 260px;
}
.search-container.desktop:focus input,
.search-container.desktop:hover input {
	padding: 23px;
}
.nav-container.left-too,
.nav-container .right {
	width: 100%;
}
/* 	 END top nav search */
.cell.tagline {
	top: 11vh;
	padding: 1em;
	h2 {
		margin-bottom: 0;
		font-size: 1.5em;
	}
}
.custom-logo {
	max-width: 150px;
}
.nav-container .right {
	width: 100%;
}
.top-bar ul {
	background: #202020;
}

// END PASTED CSS
// END PASTED CSS
// END PASTED CSS
// END PASTED CSS
