// Navigation breakpoints
.mobile-menu,
.site-title-bar {
	@include hide-for(medium);
}

//
.site-navigation {
	.top-bar-left,
	.left,
	.top-bar-title,
	.desktop-menu {
		@include show-for(medium);
	}
}
// navigation hover
.current-menu-parent a {
	// color: black;
}
// navigation hover END
// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}
// mobile navigation
.site-header {
	position: relative;
	z-index: 6;
}
.title-bar {
	.title-bar-left {
		position: relative;
	}
	.menu-icon {
		position: absolute;
		left: 0;
	}
}
// DESKTOP NAVIGATION
.site-navigation {
	// default (nacelle) desktop navigation layout (logo left, nav right)
	.nav-container,
	.right {
		width: 100%;
	}
	// column for mobile
	.right {
		flex-direction: column;
	}
	// row for medium up
	@include breakpoint(medium) {
		.right {
			flex-direction: row;
		}
	}
	// right menu
	.right {
		@include breakpoint(medium) {
			justify-content: flex-end;
		}
		> .dropdown.menu {
			@include breakpoint(medium) {
				justify-content: flex-end;
			}
		}
	}

	// alternate (Comedy Dynamics) centered desktop navigation layout
	&.left-too {
		// right menu
		.left {
			.menu {
				// justify-content: flex-end;
			}
		}
		// right menu
		.right {
			@include breakpoint(medium) {
				justify-content: flex-start;
			}
		}
		@include breakpoint(medium) {
			.header-search-container {
				display: flex;
			}
		}
	}
}
.transparent-header {
	@include breakpoint(medium up) {
		position: absolute;
		.top-bar {
			@include breakpoint(medium up) {
				background: transparent !important;
			}
		}
		// .submenu > .menu-item a {
		// 	color: #fff;
		// }
	}
}
