// Navigation breakpoints
.mobile-menu,
.site-title-bar {
	@include hide-for(medium);
}
//
.desktop-menu .desktop-menu,
.site-navigation .top-bar-left {
	@include show-for(medium);
}

// Site title
.site-desktop-title a {
	font-weight: bold;
}

// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}

// logo
.top-bar-title {
	margin: 0.25em 1em;
}
// mobile navigation
.site-header {
	position: relative;
	.top-bar {
		padding: 0;
		@include breakpoint(medium) {
			padding: 0.5em;
		}
	}
	.left,
	.right .desktop-menu,
	.site-desktop-title {
		display: none;
	}
	.header-search-container {
		position: absolute;
		z-index: 99;
		right: 50px;
		top: 10px;
	}
	.nav-container {
		width: 100%;
	}
	.site-header .desktop-menu {
		display: none;
	}
}
.mobile-nav {
	.title-bar-left {
		position: relative;
	}
	.menu-icon {
		position: absolute;
		left: 0;
	}
}

// desktop navigation
.nav-container {
	@include breakpoint(medium) {
		display: flex;
		width: 100%;
	}
	.mobile-menu {
		@include breakpoint(medium) {
			display: none;
		}
	}
	// menus
	.left,
	.right {
		@include breakpoint(medium) {
			flex: 1 0 33.333%;
			display: flex;
		}
	}
	// logo
	.top-bar-title {
		@include breakpoint(medium) {
			width: auto;
			display: block;
		}
	}
	// left menu
	.left {
		@include breakpoint(medium) {
			display: block;
		}
		.menu {
			@include breakpoint(medium) {
				// justify-content: flex-end;
			}
		}
	}
	// right menu
	.right {
		@include breakpoint(medium) {
			position: relative;
		}
		.desktop-menu {
			display: flex;
		}
	}
}

// PAGES WITH absolute positioned navigation
.page-template-front-carousel {
	.top-bar {
		@include breakpoint(medium) {
			position: absolute;
			width: 100%;
			z-index: 9;
			justify-content: center;
      background-color: transparent;
		}
    .menu.desktop-menu {
      background-color: transparent;
    }
	}
}
