// responsive search input
.mobile-menu {
	flex-direction: column;
	&[style="display: none;"] + {
		.header-search-container {
			display: none;
		}
	}
}

.searchandfilter ul li {
	padding: 0;
}
.header-search-container {
	@include breakpoint(medium) {
		width: 44px;
		.search-container {
			transform: translate(0, 0);
			transition: 0.3s linear;
		}
		.searchandfilter {
			opacity: 0;
		}
		svg.icon {
			background: transparent;
		}
		&:hover {
			width: auto;
			.search-container {
				transform: translate(-75px, 0);
			}
			.searchandfilter {
				opacity: 1;
			}
		}
	}
}
.search-container {
			display: flex;
	@include breakpoint(medium) {
		position: absolute;
		align-items: center;
		background: transparent;
	}
	svg.icon {
		height: 44px;
		width: 44px;
		padding: 11px;
		border-radius: 6px;
	}
	input[type="text"],
	form {
		max-width: 200px;
		width: 200px;
	}
	input[type="text"] {
		margin: 0;
		@include breakpoint(medium) {
			padding: 0 1em;
		}
	}
	form.searchandfilter {
		line-height: 1;
	}

	ul {
		margin-left: 0;
		line-height: 1;
	}
}
