// titles

// title background logo
.off-canvas-content {
    background-image: url("http://localhost/nacelle/nacelle/wp-content/uploads/2019/06/nacelle-company-logo-mark-large.png");
    background-repeat: no-repeat;

    @include breakpoint(small) {
        background-position: -7vw -1vh;
        background-size: 85%;
    }

    @include breakpoint(medium) {
        background-position: -11vw -10vh;
        background-size: 75%;
    }

    @include breakpoint(large) {
        background-position: -12vw -35vh;
        background-size: 60%;
    }
}

h2.entry-title {
    font-size: 2rem;
    color: $white;
    text-transform: uppercase;
    @include transform(slideInFromBottom);

    @include breakpoint(medium) {
        font-size: 3.25rem;
    }

    @include breakpoint(large) {
        font-size: 3.5rem;
    }

}

// top nav bar

.nav-container {
    .right {
        .menu-item {
            a {
                color: $white;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1.12px;
            }

            &.current-menu-item {
                border-bottom: 1px dotted white;
                border-top: 1px dotted white;

                a {
                    color: $white;
                }
            }
        }
    }
}
